.announcement-bar {
  background-color: $color-main-1;
  padding: 10px;

  &.closed {
    opacity: 0;
    height: 0;
    padding: 0;
  }

  &__content {
    @include font-header(500);
    @include text(18px, 26px, $color-white, 1.06px);
    margin: 0;

    a,
    p,
    span {
      @include font-header(500);
      @include text(18px, 26px, $color-white, 1.06px);
      margin: 0;
    }
  }

  @include media-query($large-up) {
    &__link {
      @include font-header(500);
      @include text(14px, 20px, $color-white, 0.83px);
    }
  }

  @include media-query($large-down) {
    &__link-wrap {
      text-align: center;
    }

    &__link {
      @include button(solid, round, white);
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1.2px;
      padding: 7px 15px;
    }
  }

  @include media-query($medium-down) {
    &__content {
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.77px;

      a,
      p,
      span {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.77px;
      }
    }
  }
}
