.cart-drawer {
  height: calc(100% - 46px);

  &__form {
    height: 100%;
    text-align: left;
  }

  &__items-wrap {
    max-height: calc(100% - 180px);
    overflow-y: auto;
    padding: 10px 0;
  }

  &__item {
    position: relative;
    padding: 0 0 20px;
    margin: 0 15px 20px;
    display: flex;

    &:not(:last-of-type) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color-theme-6;
      }
    }
  }

  &__image-wrap {
    width: 100px;
    padding: 0;
    display: flex;
    align-self: center;
  }

  &__image-link {
    @include no-font-size;
    display: block;
    margin: auto;
  }

  &__image {
    object-fit: cover;
    max-width: 80px;
  }

  &__item-content {
    padding: 0;
    width: calc(100% - 101px);
    margin: 0 0 0 30px;
    align-self: center;
  }

  &__item-link {
    display: block;
  }

  &__item-title {
    @include font-header(700);
    @include text(16px, 20px, $color-title, 0.95px);
    margin: 0;
  }

  &__variant {
    @include text(16px, 20px, $color-title, 0.95px);
    margin: 0 0 14px;
  }

  &__qty-wrap {
    margin: 0 0 32px;
  }

  &__qty-box {
    @include no-font-size;
    display: inline-block;
    border: 2px solid $color-theme-8;
    border-radius: 20px;
    padding: 0 10px;
  }

  &__item-qty {
    @include no-font-size;
    display: block;
    border: 1px solid $color-theme-8;
    border-radius: 20px;
    padding: 0 10px;
    float: left;
  }

  &__item-button {
    @include font-header(700);
    @include text(18px, 29px, $color-body-text, 1.06px);
    @include no-browser-styling;
    width: 20px;
    height: 29px;
    text-align: center;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
  }

  &__item-input {
    @include font-header(500);
    @include text(21px, 29px, $color-body-text, 1.24px);
    @include no-browser-styling;
    @include no-input-spinner;
    width: 26px;
    height: 29px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }

  &__item-price {
    @include font-header(500);
    @include text(16px, 31px, $color-title, 0.95px);
    float: right;
    height: 31px;
    margin: 0 15px 0 0;
  }

  .strike-line {
    color: $color-theme-18;
  }

  .strike-text {
    color: $color-title;
  }

  &__remove {
    display: block;
    clear: both;
  }

  &__upsell-title {
    @include font-header(700);
    @include text(20px, 28px, $color-title, 1.18px);
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 0 15px;
  }

  &__item-upsell {
    margin: 0 15px 15px;
    padding: 7px 10px;
    background-color: $color-theme-4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__upsell-image {
    font-size: 0;
    line-height: 0;
    max-width: 92px;
    margin: 0 10px 0 0;
    align-self: center;
  }

  &__upsell-content {
    width: calc(50% - 55px);
    align-self: center;
  }

  &__upsell-form {
    width: calc(50% - 55px);
    align-self: center;
  }

  &__upsell-item-title {
    @include font-header(700);
    @include text(14px, 20px, $color-title, 1.5px);
  }

  &__upsell-text {
    @include font-header(500);
    @include text(14px, 20px, $color-title, 1.5px);
  }

  &__upsell-radio-color {
    @include transition(box-shadow, border-color);
    @include no-browser-styling;
    width: 21px;
    height: 21px;
    border: 2px solid $color-theme-4;
    border-radius: 50%;
    background-position: center;
    cursor: pointer;
    margin: 0 3px 0 0;

    &:not(:disabled) {
      &:not(:checked) {
        box-shadow: none;
      }

      &:hover {
        border-color: $color-theme-6;
        box-shadow: 0 0 7px 0 rgba($color-black, 0.5);
      }

      &:checked {
        box-shadow: 0 0 7px 0 rgba($color-black, 0.5);
        border-color: $color-white;
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__upsell-color-wrap {
    margin: 0 0 15px;
  }

  &__upsell-input-wrap {
    position: relative;
    text-align: center;
    width: 48%;
    float: left;
    margin: 0 1% 3px;
  }

  &__upsell-label {
    @include transition(color);
    @include underline($color-main-1, false);
    @include font-header(500);
    @include text(12px, 20px, $color-body-text, 1px);
    display: inline-block;
    pointer-events: none;
  }

  &__upsell-radio-input {
    @include no-browser-styling;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline-block;

    &:not(:disabled) {
      cursor: pointer;

      &:hover {
        + .cart-drawer__upsell-label {
          color: $color-main-1;
        }
      }

      &:checked {
        + .cart-drawer__upsell-label {
          color: $color-main-1;

          &::after {
            width: 100%;
          }
        }
      }
    }

    &:disabled {
      cursor: not-allowed;
      + .cart-drawer__upsell-label {
        color: $color-theme-8;
      }
    }
  }

  &__upsell-selectbox {
    @include clearfix;
    margin: 0 0 15px;
  }

  &__upsell-add {
    @include button(solid, square, 1);
    text-transform: uppercase;
    padding: 6px;
    width: 100%;
  }

  &__totals-wrap {
    background-color: $color-body;
    box-shadow: 0 0 20px 10px rgba($color-black, 0.3);
    padding: 20px 25px;
    width: 100%;

    &.sticky {
      position: absolute;
      bottom: 0;
    }
  }

  &__total {
    @include clearfix;
    margin: 0 0 20px;
  }

  &__total-text {
    @include font-header(500);
    @include text(16px, 22px, $color-body-text, 0.95px);
    float: left;
    clear: left;
  }

  &__total-price {
    @include font-header(500);
    @include text(16px, 22px, $color-body-text, 0.95px);
    float: right;
  }

  &__checkout {
    @include button(solid, square, 2);
    width: 100%;
  }

  &__checkout-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.42px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
  }

  &__checkout-icon {
    margin: 0 0 0 10px;
    display: inline-block;
    vertical-align: middle;
  }

  &__payments {
    margin: 5px 0 0;
    min-height: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }

  &__payment {
    @include no-font-size;
    align-self: center;

    img {
      display: inline-block;
      vertical-align: middle;
    }

    &--amazon {
      img {
        top: 3px;
        position: relative;
        max-width: 95px;
      }
    }

    &--googlepay {
      img {
        max-width: 50px;
      }
    }

    &--paypal {
      img {
        max-width: 68px;
      }
    }

    &--applepay {
      img {
        max-width: 50px;
      }
    }
  }

  &__payment-bar {
    @include no-font-size;
    height: 30px;
    width: 1px;
    background-color: $color-theme-6;
    display: inline-block;
    vertical-align: middle;
  }

  &__payments-title {
    @include font-header(500);
    @include text(11px, 16px, $color-body-text, 0.65px);
    align-self: center;
  }

  &__subscription-box {
    margin: 0 0 13px;
  }

  &__subscription-box-btn {
    @include no-font-size;
    border: none;
    border-radius: 2px 0 0 2px;
    padding: 3px 9px;
    height: 25px;
    background-color: $color-theme-17;
    width: 145px;
    display: inline-block;
    vertical-align: middle;

    span {
      @include font-header(500);
      @include text(13px, 19px, $color-white, 0.5px);
      text-transform: uppercase;
    }
  }

  input[type="checkbox"] {
    @include no-browser-styling;
    position: relative;
    border-radius: 2px;
    border: 1px solid $color-theme-17;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    cursor: pointer;

    &:checked {
      background-color: $color-theme-17;

      &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.671L2.458 5.1 7 .2' stroke='%23FFF' fill='none' fill-rule='evenodd' stroke-linecap='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        position: absolute;
        top: 3px;
        left: 3px;
        display: block;
        width: 12px;
        height: 12px;
      }
    }
  }

  .custom-select {
    width: 150px;
    border: 1px solid $color-theme-17;
    border-radius: 1px;
    height: 25px;
    line-height: 25px;
  }

  .custom-select-styled {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 23px;

    &::before {
      content: none;
    }
    &::after {
      content: none;
    }

    span {
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.5px;
      align-self: center;
    }

    svg {
      align-self: center;
      width: 10px;
      height: 12px;
    }
  }

  .custom-select-options {
    left: 0;
    right: 0;
    top: calc(100% + 4px);
    background-color: $color-white;
    border: 1px solid $color-theme-17;
    border-radius: 1px;
    width: 295px;

    &.full {
      left: auto;
    }
  }

  .custom-select-option {
    background-color: $color-white;
    position: relative;
    &:hover {
      background-color: $color-white;
    }

    label {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.7px;
      pointer-events: none;
    }

    input {
      @include no-browser-styling;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      padding: 0;

      &:hover {
        + label {
          font-weight: 700;
        }
      }
      &:focus {
        outline: 5px auto rgba($color-main-1, 0.5);
      }
    }
  }

  @include media-query($small) {
    &__image-wrap {
      max-width: 70px;
      padding: 0 8px 0 0;
    }

    &__items-wrap {
      max-height: initial;
    }

    &__item-content {
      width: calc(100% - 71px);
    }

    &__item {
      padding: 0 0 15px;
      margin: 0 15px 15px;
    }

    &__item-title {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.7px;
    }

    &__variant {
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0.6px;
      margin: 0 0 10px;
    }

    &__qty-wrap {
      margin: 0 0 10px;
    }

    &__qty-box {
      border: 1px solid $color-theme-8;
      padding: 0 5px;
    }

    &__item-qty {
      border: 1px solid $color-theme-8;
      padding: 0 5px;
    }

    &__item-button {
      font-size: 16px;
      line-height: 22px;
      width: 22px;
      height: 20px;
    }

    &__item-input {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.8px;
      width: 30px;
      height: 22px;
    }

    &__item-price {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.8px;
      height: 24px;
    }

    &__upsell-title {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 1.2px;
      margin: 0 0 10px;
      padding: 0 15px;
    }

    &__item-upsell {
      @include clearfix;
      margin: 0 15px 10px;
      padding: 7px 10px;
      display: block;
    }

    &__upsell-image {
      max-width: 60px;
      margin: 0 8px 0 0;
      display: block;
      float: left;
    }

    &__upsell-content {
      width: calc(100% - 105px);
      float: left;
    }

    &__upsell-form {
      width: calc(100% - 70px);
      float: left;
    }

    &__upsell-item-title {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 1px;
    }

    &__upsell-text {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 1px;
    }

    &__upsell-radio-color {
      width: 20px;
      height: 20px;
      border: 2px solid $color-theme-4;
      margin: 0 3px 0 0;
    }

    &__upsell-color-wrap {
      margin: 0 0 5px;
    }

    &__upsell-input-wrap {
      text-align: left;
      width: 100%;
      float: none;
      margin: 0 0 3px;
    }

    &__upsell-label {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 1px;
      margin: 0 10px 0 0;
    }

    &__upsell-selectbox {
      margin: 0 0 5px;
    }

    &__upsell-add {
      padding: 1px;
      width: 22px;
      height: 22px;
      float: right;
    }

    &__totals-wrap {
      box-shadow: 0 0 10px 3px rgba($color-black, 0.3);
      padding: 10px 15px;
      width: 100%;
    }

    &__total {
      margin: 0 0 8px;
    }

    &__total-text {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.7px;
    }

    &__total-price {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.7px;
    }

    &__checkout {
      @include button(solid, square, 2);
      width: 100%;
    }

    &__checkout-text {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.8px;
    }

    &__checkout-icon {
      margin: 0 0 0 5px;
    }

    &__payments {
      margin: 8px 0 0;
      min-height: 24px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
    }

    &__payment {
      &:not(:last-of-type) {
        &::after {
          margin: 0 10px;
          height: 24px;
        }
      }

      &--amazon {
        img {
          top: 3px;
          position: relative;
          max-width: 75px;
        }
      }

      &--googlepay {
        img {
          max-width: 40px;
        }
      }

      &--paypal {
        img {
          max-width: 54px;
        }
      }

      &--applepay {
        img {
          max-width: 40px;
        }
      }
    }

    &__payments-title {
      display: none;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.5px;
    }

    &__subscription-box {
      margin: 0 0 13px;
    }

    &__subscription-box-btn {
      width: 100px;
      padding: 3px 5px;

      > span {
        font-size: 9px;
        letter-spacing: 0;
      }
    }

    input[type="checkbox"] {
      width: 10px;
      height: 10px;
      margin: 0;

      &:checked {
        &::before {
          top: 1px;
          left: 1px;
          width: 10px;
          height: 10px;
        }
      }
    }

    .custom-select {
      width: 105px;
    }

    .custom-select-styled {
      padding: 0 4px;
      span {
        font-size: 9px;
        letter-spacing: 0;
      }

      svg {
        width: 8px;
        height: 8px;
      }
    }

    .custom-select-options {
      width: 205px;
    }

    .custom-select-option {
      padding: 1px 3px;
      label {
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.5px;
      }
    }
  }
}
