.cart-drawer {
  height: calc(100% - 46px);

  &__form {
    height: 100%;
    text-align: left;
  }

  &__items-wrap {
    max-height: calc(100% - 180px);
    overflow-y: auto;
  }

  &__item {
    position: relative;
    padding: 0 0 25px;
    margin: 0 15px 15px;
    display: flex;
    flex-flow: row wrap;

    &:not(:last-of-type) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 15px;
        width: calc(100% - 30px);
        height: 1px;
        background-color: $color-theme-6;
      }
    }
  }

  &__image-wrap {
    max-width: 100px;
    margin: 0 30px 0 0;
  }

  &__image-link {
    display: block;
  }

  &__image {
    object-fit: cover;
  }

  &__item-content {
    padding: 20px 0 0;
    flex: 0 0 100%;
  }

  &__item-link {
    display: block;
  }

  &__item-title {
    @include font-header(700);
    @include text(16px, 23px, $color-title, 0.95px);
    margin: 0;
  }

  &__variant {
    @include text(16px, 23px, $color-title, 0.95px);
    margin: 0 0 10px;
  }

  &__qty-wrap {
    margin: 0 0 32px;
  }

  &__qty-box {
    @include no-font-size;
    display: inline-block;
    border: 2px solid $color-theme-8;
    border-radius: 20px;
    padding: 0 10px;
  }

  &__item-qty {
    @include no-font-size;
    display: block;
    border: 2px solid $color-theme-8;
    border-radius: 20px;
    padding: 0 10px;
    float: left;
  }

  &__item-button {
    @include font-header(700);
    @include text(18px, 30px, $color-body-text, 1.06px);
    @include no-browser-styling;
    width: 20px;
    height: 30px;
    text-align: center;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
  }

  &__item-input {
    @include font-header(500);
    @include text(21px, 30px, $color-body-text, 1.24px);
    @include no-browser-styling;
    @include no-input-spinner;
    width: 40px;
    height: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }

  &__item-price {
    @include font-header(500);
    @include text(16px, 23px, $color-title, 0.95px);
    float: right;
  }

  .strike-line {
    color: $color-theme-18;
  }

  .strike-text {
    color: $color-title;
  }

  .line-1 {
  }

  .money {
  }

  &__remove {
    display: block;
    clear: both;
  }

  &__upsell-title {
    @include font-header(700);
    @include text(20px, 28px, $color-title, 1.18px);
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 0 15px;
  }

  &__item-upsell {
    margin: 0 15px 15px;
    padding: 7px 10px;
    background-color: $color-theme-4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__upsell-image {
    max-width: 92px;
    margin: 0 10px 0 0;
    align-self: center;
  }

  &__upsell-content {
    width: calc(50% - 55px);
    align-self: center;
  }

  &__upsell-form {
    width: calc(50% - 55px);
    align-self: center;
  }

  &__upsell-item-title {
    @include font-header(700);
    @include text(14px, 20px, $color-title, 1.5px);
  }

  &__upsell-text {
    @include font-header(500);
    @include text(14px, 20px, $color-title, 1.5px);
  }

  &__upsell-radio-color {
    @include transition(box-shadow, border-color);
    @include no-browser-styling;
    width: 21px;
    height: 21px;
    border: 2px solid $color-theme-4;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 3px 0 0;

    &:not(:disabled) {
      &:not(:checked) {
        box-shadow: none;
      }

      &:hover {
        border-color: $color-theme-6;
        box-shadow: 0 0 7px 0 rgba($color-black, 0.5);
      }

      &:checked {
        box-shadow: 0 0 7px 0 rgba($color-black, 0.5);
        border-color: $color-white;
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__upsell-color-wrap {
    margin: 0 0 15px;
  }

  &__upsell-input-wrap {
    text-align: center;
    width: 48%;
    float: left;
    margin: 0 1% 3px;
  }

  &__upsell-label {
    @include transition(color);
    @include underline($color-main-1, false);
    @include font-header(500);
    @include text(12px, 20px, $color-body-text, 1px);
    display: inline-block;
  }

  &__upsell-radio-input {
    @include no-browser-styling;
    height: 1px;
    width: 1px;

    &:not(:disabled) {
      + .cart-drawer__upsell-label {
        cursor: pointer;
      }

      &:hover {
        + .cart-drawer__upsell-label {
          color: $color-main-1;
        }
      }

      &:checked {
        + .cart-drawer__upsell-label {
          color: $color-main-1;

          &::after {
            width: 100%;
          }
        }
      }
    }

    &:disabled {
      + .cart-drawer__upsell-label {
        color: $color-theme-8;
        cursor: not-allowed;
      }
    }
  }

  &__upsell-selectbox {
    @include clearfix;
    margin: 0 0 15px;
  }

  &__upsell-add {
    @include button(solid, square, 1);
    text-transform: uppercase;
    padding: 6px;
    width: 100%;
  }

  &__totals-wrap {
    background-color: $color-body;
    box-shadow: 0 0 20px 10px rgba($color-black, 0.3);
    padding: 20px 25px;
    width: 100%;

    &.sticky {
      position: absolute;
      bottom: 0;
    }
  }

  &__total {
    @include clearfix;
    margin: 0 0 40px;
  }

  &__total-text {
    @include font-header(500);
    @include text(16px, 22px, $color-body-text, 0.95px);
    float: left;
  }

  &__total-price {
    @include font-header(500);
    @include text(16px, 22px, $color-body-text, 0.95px);
    float: right;
  }

  &__checkout {
    @include button(solid, square, 2);
    width: 100%;
  }

  &__checkout-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.42px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
  }

  &__checkout-icon {
    margin: 0 0 0 10px;
    display: inline-block;
    vertical-align: middle;
  }

  &__payments {
    margin: 5px 0 0;
    min-height: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__payment {
    align-self: center;

    img {
      display: inline-block;
      vertical-align: middle;
    }

    &:not(:last-of-type) {
      &::after {
        content: "";
        margin: 0 0 0 35px;
        width: 1px;
        height: 30px;
        background-color: $color-theme-6;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  &__payments-title {
    @include font-header(500);
    @include text(11px, 16px, $color-body-text, 0.65px);
    align-self: center;
  }
}
