.header-bottom {
  @include transition(bottom 300ms ease-out);
  transition-delay: 200ms;
  position: fixed;
  left: 0;
  bottom: -80px;
  width: 100%;
  height: 80px;
  background-color: $color-theme-13;
  padding: 10px 15px;

  &__input {
    font-size: 16px;
    line-height: 28px;
    height: 28px;
    border-radius: 15px;
    padding: 0;
    background-color: $color-white;
    color: $color-white;
    border: none;

    &::placeholder {
      color: $color-white;
    }
  }

  &__button {
    @include no-font-size;
    @include no-browser-styling;
    position: absolute;
    top: 14px;
    right: 20px;
    padding: 0;

    svg {
      height: 18px;
      width: 18px;
    }
  }

  &__links {
    margin: 10px 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__link {
  }

  &__link-separator {
    width: 2px;
    height: 20px;
    background-color: $color-white;
    margin: 0 20px;
  }

  &__link-i {
    @include no-font-size;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;

    svg {
      max-width: 20px;
      max-height: 20px;
    }
  }

  &__link-t {
    @include font-header(500);
    @include text(12px, 16px, $color-body-text, 0.71px);
    display: inline-block;
    vertical-align: middle;
  }

  @include media-query($large-up) {
    display: none;
  }
}
