.header-login {
  @include transition(opacity);
  z-index: 1;
  position: absolute;
  left: 0;
  top: -20px;
  transform: translate(-50%);
  background-color: $color-background;
  box-shadow: 0 2px 16px rgba($color-black, 0.11);
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  width: 385px;

  &:hover {
    pointer-events: auto;
    opacity: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: -21px;
    left: 60%;
    border: 10px solid transparent;
    border-bottom: 10px solid rgba($color-black, 0.11);
  }

  &::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 60%;
    border: 10px solid transparent;
    border-bottom: 10px solid $color-white;
  }

  &__main-link {
    &:hover {
      .header-login__main-text {
        color: $color-main-1;
      }
      .icon-plus-vert path {
        stroke: $color-main-1;
      }
      .icon-plus-hor path {
        stroke: $color-main-1;
      }
    }

    &:active,
    &.active {
      .header-login__main-text::after {
        width: 100%;
      }
      .header-login__main-text {
        color: $color-body-text;
      }

      .icon-plus-vert {
        top: 3px;
        height: 2px;
      }

      .icon-plus-vert path {
        stroke: $color-body-text;
      }
      .icon-plus-hor path {
        stroke: $color-body-text;
      }

      + .header-login {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }

  &__main-text {
    @include poppins(500);
    @include text(18px, 25px, $color-body-text, 1.5px);
    @include transition(color);
    @include underline($color-body-text, false);
    display: inline-block;
    vertical-align: middle;
  }

  &__main-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;

    .icon-plus-vert path,
    .icon-plus-hor path {
      @include transition(stroke);
    }

    .icon-plus-vert {
      @include transition(top, height);
      position: absolute;
      top: 0;
      left: 3px;
    }

    .icon-plus-hor {
      position: absolute;
      left: 0;
      top: 3px;
    }
  }

  &__title {
    @include poppins(700);
    @include text(24px, 33px, $color-main-1, 1.42px);
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 15px;
  }
  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &__socials {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 0 13px;
  }

  &__social {
    flex: 0 0 49%;
    max-width: 49%;
  }

  &__input {
    @include open-sans;
    @include text(16px, 32px, $color-body-text, 0.95px);
    width: 100%;
    height: 34px;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid $color-theme-10;
    padding: 0 16px;
    margin: 0 0 10px;

    &::placeholder {
      color: $color-theme-12;
    }

    &.error {
      border: 1px solid $color-theme-11;
    }
  }

  &__account-links {
    text-align: center;
    margin: 0 auto 10px;
  }

  &__account-link {
    @include poppins(500);
    @include text(12px, 17px, $color-black, 0.71px);
    @include underline($color-main-1);
    margin: 0 10px;
  }

  &__submit {
    @include button(solid, r, 2);
  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: $color-theme-6;
    margin: 20px 0 0;
  }

  &__bottle-link {
    margin: 20px auto;
    text-align: center;
    display: block;
  }

  &__bottle-wrap {
    @include no-font-size;
    vertical-align: middle;
    display: inline-block;
  }

  &__bottle-img {
    object-fit: contain;
  }

  &__bottle-text {
    @include poppins(700);
    @include text(16px, 23px, $color-main-1, 0.95px);
    vertical-align: middle;
    display: inline-block;
  }
}
