.header-help {
  @include media-query($large-up) {
    @include transition(opacity);
    z-index: $z-header-blocks;
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    width: 100vw;

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba($color-black, 0.5);
    }

    &__main-link {
      display: inline-block;
      vertical-align: middle;

      &:hover {
        .header-help__main-text {
          color: $color-main-1;
        }
        .icon-plus-vert path {
          stroke: $color-main-1;
        }
        .icon-plus-hor path {
          stroke: $color-main-1;
        }
      }

      &.active {
        + .header-help {
          pointer-events: auto;
          opacity: 1;
        }
      }
    }

    &__main-text {
      @include font-header(500);
      @include text(18px, 25px, $color-body-text, 1.5px);
      @include transition(color);
      @include underline($color-body-text, false);
      display: inline-block;
      vertical-align: middle;

      .active & {
        color: $color-body-text;

        &::after {
          width: 100%;
        }
      }
    }

    &__main-icon {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;

      .icon-plus-vert path,
      .icon-plus-hor path {
        @include transition(stroke);
      }

      .icon-plus-vert {
        @include transition(top, height);
        position: absolute;
        top: 0;
        left: 3px;

        .active & {
          top: 3px;
          height: 2px;

          path {
            stroke: $color-body-text;
          }
        }
      }

      .icon-plus-hor {
        position: absolute;
        left: 0;
        top: 3px;

        .active & {
          path {
            stroke: $color-body-text;
          }
        }
      }
    }

    &__body {
      position: relative;
      z-index: $z-base;
      background-color: $color-background;
      padding: 45px 0 20px;
    }

    &__nav {
    }

    &__nav-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__nav-item {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__nav-link {
      @include font-header(500);
      @include text(18px, 35px, $color-body-text, 1.06px);
      @include underline($color-main-1);
      @include transition(color);

      &:hover {
        color: $color-main-1;
      }
    }

    &__big-links {
      display: flex;
      flex-flow: row wrap;
      justify-content: start;
      margin: 0 0 35px;
    }

    &__big-link {
      height: 40px;
      padding: 0 25px;
      border-radius: 20px;
      background-color: $color-theme-13;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    &__big-link-i {
      @include no-font-size;
      margin: 0 5px 0 0;
      display: inline-block;
      vertical-align: middle;
    }

    &__big-link-t {
      @include font-header(700);
      @include text(18px, 40px, $color-body-text, 1.06px);
      display: inline-block;
      vertical-align: middle;
    }

    &__faq-header {
      @include clearfix;
      padding: 0 0 10px;
      border-bottom: 1px solid $color-main-1;
      margin: 0 0 15px;
    }

    &__faq-title {
      @include font-header(700);
      @include text(20px, 28px, $color-main-1, 1.18px);
      float: left;
    }

    &__faq-link {
      @include font-header(700);
      @include text(14px, 28px, $color-theme-8, 0.63px);
      @include underline($color-theme-8);
      float: right;
    }

    &__faq {
      padding: 0 0 15px;
      border-bottom: 1px solid $color-main-1;
      margin: 0 0 15px;
    }

    &__faq-btn {
      @include clearfix;
      width: 100%;
      background-color: $color-transparent;
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 0;
      text-align: left;
      display: block;

      &.open {
        .header-help__faq-closed {
          display: none;
        }
        .header-help__faq-open {
          display: block;
        }
      }

      &:not(.open) {
        .header-help__faq-closed {
          display: block;
        }
        .header-help__faq-open {
          display: none;
        }
      }
    }

    &__faq-closed {
      @include font-header(700);
      @include text(20px, 28px, $color-main-1, 1.77px);
      text-align: center;
      width: 10px;
      margin: 0 30px 0 0;
      float: right;
    }

    &__faq-open {
      @include font-header(700);
      @include text(20px, 28px, $color-main-1, 1.77px);
      text-align: center;
      width: 10px;
      margin: 0 30px 0 0;
      float: right;
    }

    &__faq-q {
      @include font-header(700);
      @include text(18px, 28px, $color-title, 1.06px);
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 111px);
    }

    &__faq-a {
      @include font-body;
      @include text(18px, 24px, $color-body-text, 1.08px);
      padding: 10px 0 0;
      text-align: left;
    }

    &__close {
      @include no-font-size;
      text-align: center;
      margin: 10px auto 0;
    }

    &__close-btn {
      border: none;
      box-shadow: none;
      background: $color-transparent;
      border-radius: 0;
      margin: 0;
      padding: 1px 3px;
      display: inline-block;
    }
  }

  @include media-query($large-down) {
    @include transition(background-color);
    position: relative;
    display: none;
    padding: 15px 0;

    &__main-link {
      @include transition(background-color);
      display: block;
      padding: 10px 15px 20px;

      &.active {
        background-color: $color-theme-4;

        .icon-plus-vert {
          top: 3px;
          height: 2px;
        }

        + .header-help {
          background-color: $color-theme-4;
        }
      }
    }

    &__main-text {
      @include font-header(700);
      @include text(20px, 28px, $color-body-text, 1.5px);
      display: inline-block;
      vertical-align: middle;
    }

    &__main-icon {
      position: relative;
      float: right;
      width: 8px;
      height: 8px;
      margin: 10px 0 0;

      .icon-plus-vert {
        position: absolute;
        top: 0;
        left: 3px;
      }

      .icon-plus-hor {
        position: absolute;
        left: 0;
        top: 3px;
      }
    }

    &__img-wrap {
      margin: 0 auto 15px;
    }

    &__menu {
      width: 100%;
    }

    &__nav {
      margin: 0 auto 15px;
    }

    &__nav-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__nav-item {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__nav-link {
      @include font-header(500);
      @include text(15px, 40px, $color-body-text, 0.15px);
      @include transition(color);

      &:hover {
        color: $color-main-1;
      }
    }

    &__big-links {
      margin: 0 -15px 10px;
      width: calc(100% + 30px);
    }

    &__big-link {
      padding: 10px 25px;
      margin: 0 0 3px;
      border-radius: 0;
      background-color: $color-theme-13;
      display: block;
    }

    &__big-link-i {
      @include no-font-size;
      margin: 0 5px 0 0;
      display: inline-block;
      vertical-align: middle;

      svg {
        max-width: 20px;
        max-height: 20px;
      }
    }

    &__big-link-t {
      @include font-header(700);
      @include text(12px, 20px, $color-body-text, 0.71px);
      display: inline-block;
      vertical-align: middle;
    }

    &__faq-header {
      @include clearfix;
      padding: 0 0 10px;
      border-bottom: 1px solid $color-main-1;
      margin: 0 0 10px;
    }

    &__faq-title {
      @include font-header(700);
      @include text(16px, 24px, $color-main-1, 0.95px);
      float: left;
    }

    &__faq-link {
      @include font-header(700);
      @include text(11px, 24px, $color-theme-8, 0.49px);
      float: right;
    }

    &__faq {
      padding: 0 0 10px;
      border-bottom: 1px solid $color-main-1;
      margin: 0 0 10px;
    }

    &__faq-btn {
      @include clearfix;
      width: 100%;
      background-color: $color-transparent;
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      &.open {
        .header-help__faq-closed {
          display: none;
        }
        .header-help__faq-open {
          display: block;
        }
      }

      &:not(.open) {
        .header-help__faq-closed {
          display: block;
        }
        .header-help__faq-open {
          display: none;
        }
      }
    }

    &__faq-closed {
      @include font-header(700);
      @include text(20px, 28px, $color-main-1, 1.77px);
      text-align: center;
      width: 20px;
      margin: 0 5px;
    }

    &__faq-open {
      @include font-header(700);
      @include text(20px, 28px, $color-main-1, 1.77px);
      text-align: center;
      width: 20px;
      margin: 0 5px;
    }

    &__faq-q {
      @include font-header(700);
      @include text(14px, 20px, $color-title, 0.83px);
      width: calc(100% - 40px);
      text-align: left;
    }

    &__faq-a {
      @include font-body;
      @include text(13px, 18px, $color-body-text, 0.7px);
      padding: 10px 0 0;
      text-align: left;
    }

    &__close {
      display: none;
    }
  }
}
