.site-header {
  position: relative;

  &__main {
    z-index: $z-header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-white;
  }

  [data-site-header-container] {
    padding: 15px;
  }

  &__utils {
    text-align: right;
  }

  &__utils-block {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &:not(:last-of-type) {
      margin: 0 30px 0 0;
    }

    &:last-of-type {
      margin: 0 0 0 50px;
    }
  }

  &__utils-cart {
    @include no-browser-styling;
    position: relative;
    padding: 0;
    display: block;

    &:hover {
      .site-header__utils-cart-icon g {
        stroke: $color-main-1;
      }
    }
  }

  &__utils-cart-num {
    @include font-header(bold);
    @include text(12px, 12px, $color-main-1, 0.71px);
    position: absolute;
    top: 0;
    left: 8%;
    width: 70%;
    text-align: center;
  }

  &__utils-cart-icon g {
    @include transition(stroke);
  }

  @include media-query($large-down) {
    [data-site-header-container] {
      padding: 10px 15px;
    }

    &__mobile-wrap {
      z-index: $z-header-rsp;
      position: fixed;
      top: 80px;
      left: 0;
      height: calc(100vh - 80px);
      width: 100vw;

      &:not(.open) {
        pointer-events: none;
      }

      &.open {
        pointer-events: auto;

        .site-header__mobile-overlay {
          opacity: 1;
        }

        .site-header__mobile-body {
          left: 0;
        }
        .site-header__mobile-shadow {
          opacity: 1;
        }

        .header-bottom {
          bottom: 0;
        }
      }
    }

    &__mobile-overlay {
      @include transition(opacity);
      transition-delay: 30ms;
      background-color: $color-white;
      pointer-events: none;
      opacity: 0;
      position: fixed;
      left: 0;
      top: 80px;
      width: 100vw;
      height: 100vh;
    }

    &__mobile-body {
      @include transition(left 300ms ease-out);
      transition-delay: 30ms;
      position: absolute;
      top: 0;
      left: calc(-1 * (100% + 20px));
      height: calc(100% - 80px);
      width: 100%;
      background-color: $color-white;
      padding: 0;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    &__mobile-inner {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &__mobile-shadow {
      @include transition(opacity);
      transition-delay: 30ms;
      z-index: $z-base;
      position: absolute;
      left: 0;
      top: 0;
      height: 100px;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      background: radial-gradient(
        ellipse at top,
        rgba($color-theme-19, 0.3) 0%,
        $color-transparent 60%,
        $color-transparent 100%
      );
    }
  }

  @include media-query($small) {
    &__mobile-shadow {
      height: 30px;
    }
  }
}

@import "./announcement-bar";
@import "./header-button";
@import "./header-logo";
@import "./header-nav";
@import "./header-login";
@import "./header-help";
@import "./header-search";
@import "./header-shop";
@import "./header-about";
@import "./header-bottle";
@import "./header-bottom";
@import "./header-offset";
@import "./cart-drawer";
