.header-search {
  @include transition(opacity);
  z-index: $z-header-blocks;
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  pointer-events: none;
  width: 100vw;

  &:hover {
    pointer-events: auto;
    opacity: 1;
  }

  &__main-link {
    display: inline-block;
    vertical-align: middle;

    g {
      @include transition(stroke);
      stroke: $color-body-text;
    }

    &:hover {
      g {
        stroke: $color-main-1;
      }
    }

    &:active,
    &.active {
      + .header-search {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }

  &__body {
    position: relative;
    z-index: $z-base;
    background-color: $color-background;
    padding: 65px 0 20px;
  }

  &__form {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__input {
    @include poppins(500);
    @include text(20px, 50px, $color-title, 1.2px);
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid $color-main-1;
    max-width: calc(100% - 85px);
    flex: 0 0 calc(100% - 85px);

    &::placeholder {
      font-size: 50px;
      letter-spacing: 3px;
      opacity: 0.75;
    }
  }

  &__submit {
    @include no-font-size;
    border: none;
    background: transparent;
    border-radius: 0;
    padding: 0;
    margin: 0;
    align-self: flex-end;

    svg {
      width: 45px;
      height: 45px;
    }

    g {
      @include transition(stroke);
      stroke: $color-body-text;
    }

    &:hover {
      background: transparent;
      g {
        stroke: $color-main-1;
      }
    }
  }

  &__results {
  }

  &__popular {
    margin: 55px 0 0;
  }

  &__pop-title {
    @include poppins(700);
    @include text(30px, 43px, $color-main-1, 1.77px);
    text-align: center;
    margin: 0 0 20px;
  }

  &__pop-terms {
    text-align: center;
  }

  &__pop_term {
    @include poppins(700);
    @include text(18px, 25px, $color-body-text, 1.06px);
    display: inline-block;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0 30px 15px;
  }

  &__close {
    @include no-font-size;
    text-align: center;
    margin: 30px auto 0;
  }

  &__close-btn {
    border: none;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    margin: 0;
    padding: 1px 3px;
    display: inline-block;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color-black, 0.5);
  }
}
