.site-header {
  position: relative;

  &__main {
    position: relative;
    padding: 15px;
  }

  &__utils {
    text-align: right;
  }

  &__utils-block {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &:not(:last-of-type) {
      margin: 0 30px 0 0;
    }

    &:last-of-type {
      margin: 0 0 0 50px;
    }
  }

  &__utils-cart {
    @include no-browser-styling;
    position: relative;
    padding: 0;
    display: block;

    &:hover {
      .site-header__utils-cart-icon {
        g {
          stroke: $color-main-1;
        }
      }
    }
  }

  &__utils-cart-num {
    @include font-header(bold);
    @include text(12px, 12px, $color-main-1, 0.71px);
    position: absolute;
    top: 0;
    left: 8%;
    width: 70%;
    text-align: center;
  }

  &__utils-cart-icon {
    g {
      @include transition(stroke);
    }
  }

  @include media-query($large-down) {
    &__mobile-wrap {
      z-index: 10;
      position: fixed;
      top: 50px;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: $color-white;
      padding: 10px 0 0;
    }

    &__mobile-shadow {
      position: absolute;
      left: 0;
      top: 0;
      height: 100px;
      width: 100%;
      pointer-events: none;
      background: radial-gradient(
        ellipse at top,
        rgba($color-theme-19, 0.7) 0%,
        transparent 60%,
        transparent 100%
      );
    }
  }

  @include media-query($small) {
    &__mobile-shadow {
      height: 50px;
    }
  }
}

@import "./announcement-bar";
@import "./header-button";
@import "./header-logo";
@import "./header-nav";
@import "./header-login";
@import "./header-help";
@import "./header-search";
@import "./header-shop";
@import "./header-about";
@import "./header-bottle";
@import "./cart-drawer";
