.main-search {
  margin: 10px 0 0;
  max-height: 300px;
  padding: 0 20px 0 0;
  overflow-x: hidden;
  overflow-y: auto;

  &__block {
    border-bottom: 1px solid $color-theme-6;
    margin: 0 0 5px;
  }

  &__title {
    @include font-header(500);
    @include text(20px, 30px, $color-main-1, 1px);
    text-align: left;
  }

  &__item-wrap {
    list-style: none;
    margin: 0 0 10px;
    text-align: left;
  }

  &__item {
    @include clearfix;
  }

  &__img-wrap {
    width: 60px;
    flex: 0 0 60px;
    margin: 0 10px 0 0;
    text-align: center;
    align-self: center;
  }

  &__img-wrap img {
    object-fit: scale-down;
    max-height: 50px;
    display: inline-block;
  }

  &__content-wrap {
    width: calc(100% - 71px);
    flex: 0 1 calc(100% - 71px);
    align-self: center;
  }

  &__item-link {
    @include font-header(500);
    @include text(16px, 24px, $color-body-text, 0.7px);
  }

  &__price {
    @include text(16px, 24px, $color-body-text, 0.7px);
    font-weight: 700;
    display: block;

    s {
      margin: 0 5px 0 0;
    }
  }

  &__content {
    @include text(14px, 20px, $color-theme-12, 0.6px);
    margin: 5px 0 0;
    display: block;
  }

  @include media-query($medium-down) {
    max-height: initial;

    &__title {
      font-size: 18px;
      line-height: 26px;
      text-align: center;
    }

    &__img-wrap {
      width: 50px;
      flex: 0 0 50px;
      margin: 0 7px 0 0;
      text-align: center;
      align-self: center;
    }

    &__img-wrap img {
      max-height: 45px;
    }

    &__content-wrap {
      width: calc(100% - 60px);
      flex: 0 1 calc(100% - 60px);
    }

    &__item-link {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.6px;
    }

    &__price {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.6px;
    }

    &__content {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.6px;
    }
  }
}
