.contact-sidebar {
  margin: 40px 0 55px;

  h3 {
    @include font-header(700);
    @include text(20px, 28px, $color-title, 1.11px);
    text-align: center;
    margin: 0 0 10px;
  }

  &__link {
    height: 40px;
    padding: 0 25px;
    margin: 0 0 3px;
    background-color: $color-theme-13;
    display: block;

    &:active {
      + .contact-sidebar__modal-wrap {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__link-i {
    @include no-font-size;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: middle;
  }

  &__link-t {
    @include font-header(700);
    @include text(18px, 40px, $color-body-text, 1.06px);
    display: inline-block;
    vertical-align: middle;
  }

  &__modal-wrap {
    @include transition(opacity);
    z-index: $z-contact-modal;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.5);
    display: flex;
    flex-flow: row wrap;
    opacity: 0;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__modal {
    position: relative;
    background-color: $color-background;
    flex: 0 0 540px;
    width: 540px;
    margin: auto;
    padding: 20px 30px 30px;
  }

  &__modal-title {
    @include font-header(700);
    @include text(16px, 20px, $color-body-text, 0.95px);
    margin: 0 0 20px;
    text-align: center;
  }

  &__modal-close {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 2px;
    margin: 0;
    border: none;
    border-radius: 0;
    background: transparent;

    g {
      stroke: $color-body-text;
    }
  }

  &__modal-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__modal-button {
    height: 45px;
    padding: 0 25px;
    border-radius: 20px;
    background-color: $color-theme-13;
    display: inline-block;
  }

  &__modal-b-i {
    @include no-font-size;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: middle;

    svg {
      max-width: 30px;
      max-height: 20px;
    }
  }

  &__modal-b-t {
    @include font-header;
    @include text(12px, 45px, $color-body-text, 0.71px);
    display: inline-block;
    vertical-align: middle;
  }

  &__modal-note {
    @include font-header(700);
    @include text(10px, 12px, $color-body-text, 0.59px);
    margin: 20px 0 0;
    text-align: center;
  }

  &__form-title {
    @include font-header(700);
    @include text(18px, 25px, $color-body-text, 1.06px);
    text-align: right;
  }

  &__form {
    margin: 0 0 25px;

    input[type="email"],
    input[type="text"] {
      @include font-header;
      @include text(14px, 20px, $color-body-text, 0.83px);
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $color-main;
      padding: 5px 0;

      &::placeholder {
        opacity: 1;
      }
    }

    select {
      @include font-header;
      @include text(14px, 20px, $color-body-text, 0.83px);
      padding: 5px 0;
      border: none;
      border-radius: 0;
    }

    textarea {
      @include font-header;
      @include text(14px, 20px, $color-body-text, 0.83px);
      border: 1px solid $color-main;
      border-radius: 0;
      padding: 5px;

      &::placeholder {
        opacity: 1;
      }
    }
  }

  &__form-footer {
    @include clearfix;
    margin: 10px 0 0;
  }

  &__form-note {
    @include font-header;
    @include text(9px, 12px, $color-body-text, 0.53px);
    float: left;
  }

  &__form-submit {
    @include button(solid, round, 1);
    float: right;
  }

  &__success {
    @include font-header(500);
    @include text(18px, 28px, $color-body-text, 1.06px);
    margin: 0 0 20px;
  }

  &__address {
    @include font-header(500);
    @include text(16px, 23px, $color-body-text, 0.95px);
  }
}
