.contact-header {
  position: relative;

  &__wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='231' viewBox='0 0 1600 231' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='50%25' y1='7.553%25' x2='50%25' y2='98.26%25' id='a'%3E%3Cstop stop-color='%23FFF' offset='0%25'/%3E%3Cstop stop-color='%23E7F0F2' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M0 116h1601v142.261c-75.08 0-498 116.583-1245.038 73.311C166.857 320.62 48.202 325.762 0 347c.667-76.54.667-153.54 0-231z' transform='translate(0 -116)' fill='url(%23a)' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  &__body {
    position: relative;
    height: 230px;
    padding: 75px 0 0;
  }

  &__title {
    @include text-title;
    text-align: center;
    margin: 0;
  }

  &__content {
    @include font-header(500);
    @include text(20px, 28px, $color-body-text, 1.18px);
    text-align: center;
    margin: 10px 0 0;

    a,
    p,
    span {
      @include font-header(500);
      @include text(20px, 28px, $color-body-text, 1.18px);
    }
  }
}
