.contact-faqs {
  margin: 0 0 25px;

  &__title {
    @include text-title;
    margin: 0 0 40px;
    text-align: center;
  }

  &__list {
    @include clearfix;
  }

  &__faq {
    padding: 11px 0;
    border-bottom: 1px solid $color-main-1;
    margin: 0;
    float: left;
    width: calc(50% - 11px);

    &:nth-of-type(1),
    &:nth-of-type(2) {
      border-top: 1px solid $color-main-1;
    }

    &:nth-of-type(2n) {
      margin: 0 0 0 10px;
    }

    &:nth-of-type(2n + 1) {
      margin: 0 10px 0 0;
      clear: left;
    }
  }

  [data-faq-hidden-init] {
    display: none;
  }

  &__faq-btn {
    @include clearfix;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    display: block;

    &.open {
      .contact-faqs__faq-closed {
        display: none;
      }
      .contact-faqs__faq-open {
        display: block;
      }
    }

    &:not(.open) {
      .contact-faqs__faq-closed {
        display: block;
      }
      .contact-faqs__faq-open {
        display: none;
      }
    }
  }

  &__faq-closed {
    @include font-header(700);
    @include text(20px, 28px, $color-main-1, 1.77px);
    text-align: center;
    width: 10px;
    margin: 0 30px 0 0;
    float: right;
  }

  &__faq-open {
    @include font-header(700);
    @include text(20px, 28px, $color-main-1, 1.77px);
    text-align: center;
    width: 10px;
    margin: 0 30px 0 0;
    float: right;
  }

  &__faq-q {
    @include font-header(700);
    @include text(20px, 28px, $color-title, 1.18px);
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 50px);
  }

  &__faq-a {
    @include font-body;
    @include text(18px, 24px, $color-body-text, 1.08px);
    padding: 10px 0 0;

    a {
      color: $color-main-1;
    }
  }

  &__bottom-box {
    text-align: center;
    margin: 25px 0 0;
  }

  &__bottom-link {
    @include button(solid, r, 1);
  }
}
