.contact-form {
  &__title {
    @include font-header(700);
    @include text(18px, 25px, $color-body-text, 1.06px);
    text-align: right;
  }

  &__form {
    margin: 0 0 25px;

    label {
      @include font-header;
      @include text(16px, 20px, $color-body-text, 0.83px);
    }

    input[type="email"],
    input[type="text"] {
      @include font-header;
      @include text(16px, 20px, $color-body-text, 0.83px);
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $color-main;
      padding: 5px 0;

      &::placeholder {
        opacity: 1;
      }
    }

    select {
      @include font-header;
      @include text(16px, 20px, $color-body-text, 0.83px);
      padding: 5px 0;
      border: none;
      border-radius: 0;
    }

    textarea {
      @include font-header;
      @include text(16px, 20px, $color-body-text, 0.83px);
      border: 1px solid $color-main;
      border-radius: 0;
      padding: 5px;

      &::placeholder {
        opacity: 1;
      }
    }
  }

  &__footer {
    @include clearfix;
    margin: 10px 0 0;
  }

  &__note {
    @include font-header;
    @include text(9px, 12px, $color-body-text, 0.53px);
    float: left;
  }

  &__submit {
    @include button(solid, round, 1);
    float: right;
  }

  &__success {
    @include font-header(500);
    @include text(18px, 28px, $color-body-text, 1.06px);
    margin: 0 0 20px;
  }

  &__address {
    @include font-header(500);
    @include text(16px, 23px, $color-body-text, 0.95px);
  }

  @include media-query($medium-up) {
    .custom-select-styled {
      font-size: 16px;
    }
    .custom-select-options li {
      font-size: 16px;
    }
  }

  @include media-query($medium-down) {
    &__title {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.71px;
      text-align: left;
      margin: 0 0 10px;
    }

    &__form {
      margin: 0 0 25px;
    }

    &__submit {
      padding: 8px 20px;
      letter-spacing: 2px;
    }

    &__success {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1px;
    }

    &__address {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.71px;
    }

    .custom-select-styled {
      font-size: 16px;
    }
  }
}
