.contact-header {
  position: relative;
  margin: 0 0 10px;

  .container,
  .row {
    height: 100%;
  }

  &__bg-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__bg {
    object-fit: cover;
  }

  &__body {
    position: relative;
    height: 535px;
    padding: 0 0 50px;
  }

  &__title {
    @include font-header(700);
    @include text(24px, 36px, $color-title-light, 1px);
    margin: 0 0 5px;
  }

  &__content {
    @include font-header(500);
    @include text(18px, 24px, $color-title-light, 0.75px);
    margin: 0;

    a,
    p,
    span {
      @include font-header(500);
      @include text(18px, 24px, $color-title-light, 0.75px);
      margin: 0;
    }
  }
}
