.contact-header {
  position: relative;
  margin: 0 0 10px;

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='49' viewBox='0 0 1600 49' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1600 49H0V0h98c339.413 0 735.953 18.914 1075 35 79.195 3.757 221.528 6.757 427 9v5z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 49px;

    @media screen and (min-width: 1600px) {
      height: 60px;
    }

    @media screen and (min-width: 2000px) {
      height: 80px;
    }

    @media screen and (min-width: 2600px) {
      height: 100px;
    }
  }

  .container,
  .row {
    height: 100%;
  }

  &__bg-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 100% !important;
  }

  &__bg {
    max-width: 100% !important;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
  }

  &__body {
    position: relative;
    height: 535px;
    padding: 0 0 50px;
  }

  &__title {
    @include font-header(700);
    @include text(24px, 36px, $color-title-light, 1px);
    margin: 0 0 5px;
  }

  &__content {
    @include font-header(500);
    @include text(18px, 24px, $color-title-light, 0.75px);
    margin: 0;

    a,
    p,
    span {
      @include font-header(500);
      @include text(18px, 24px, $color-title-light, 0.75px);
      margin: 0;
    }
  }

  @include media-query($large-down) {
    &__body {
      height: 300px;
    }
  }

  @include media-query($medium-down) {
    &__title {
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 10px;
    }

    &__content {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0;

      a,
      p,
      span {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0;
      }
    }
  }

  @include media-query($small) {
    margin: 0;

    &__body {
      height: 230px;
      padding: 0 0 25px;
    }

    &__bg-wrap {
      background-color: $color-theme-4;
    }
  }
}
