/**
 * Sets a media query for the specified breakpoint
 *
 * Accepts:
 * - $media-query: {String} Breakpoint variable (list found in variables.scss)
 *
 * Usage:
 * .selector {
 *   @include media-query($medium-up) {
 *     color: red;
 *   }
 * }
 */
@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }
}

/**
 * Outputs list of transition properties
 *
 * Accepts:
 * - $transitions: {String} List of transition properties to set
 *
 * Usage:
 * .selector {
 *   @include transition(width, height 0.5s ease-in);
 * }
 */
@mixin transition($transitions...) {
  $output: ();

  @each $transition in $transitions {
    $output: append($output, get-transition-properties($transition), comma);
  }
  transition: $output;
}

/**
 * Forces an element to self-clear its children
 *
 * Usage:
 * .selector {
 *   @include clearfix;
 * }
 */
@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  // stylelint-disable-next-line
  *zoom: 1;
}

/**
 * Hide element but make it accessible to screen readers
 *
 * Usage:
 * .selector {
 *   @include visually-hidden;
 * }
 */
@mixin visually-hidden() {
  // stylelint-disable-next-line
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

/**
 * Reverse the properties applied by @mixin visually-hidden
 *
 * Accepts:
 * - $position: {String} Positioning method for element
 *
 * Usage:
 * .selector {
 *   @include visually-shown(relative);
 * }
 */
@mixin visually-shown($position: inherit) {
  // stylelint-disable-next-line
  position: $position !important;
  overflow: auto;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}

@mixin bg-image() {
  background-color: #f3f4f5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@mixin bg-image-only() {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@mixin text($size: 15px, $line: 1.25, $color: initial, $spacing: normal) {
  font-size: $size;
  line-height: $line;
  color: $color;
  letter-spacing: $spacing;
}

@mixin font-header($weight: 400, $style: normal) {
  font-family: $font-heading;
  font-weight: $weight;
  font-style: $style;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-body($weight: $font-body-weight, $style: $font-body-style) {
  font-family: $font-body;
  font-style: $style;
  font-weight: $weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin text-title($color: $color-title) {
  @include font-header(700);
  @include text(40px, 56px, $color, 2.36px);

  @include media-query($medium-down) {
    font-size: 30px;
    line-height: 43px;
    letter-spacing: 1.77px;
  }
}

@mixin no-font-size {
  font-size: 0;
  line-height: 0;
}

// usage: @include button(type, size);
// types: solid, wire, none
// sizes: normal(any), big, small, tiny
// defaults go to button framework

@mixin button($type: none, $borders: square, $color: 1) {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  border: 0;
  text-align: center;
  white-space: normal;
  text-decoration: none;
  user-select: none;

  $btn-text-c: $color-white;
  $btn-text-c-alt: $color-white;
  $btn-def-c: $color-main-1;
  $btn-acc-c: $color-accent-1;
  $btn-sup-c: $color-sup-1;

  @if $borders == round {
    border-radius: 24px;
  } @else if $borders == r {
    border-radius: 24px;
  } @else {
    border-radius: 0;
  }

  @if $type == wire {
    $btn-text-c: $color-main-1;
    $btn-text-c-alt: $color-accent-1;
  }

  @if $color == 2 {
    $btn-def-c: $color-main-2;
    $btn-acc-c: $color-accent-2;
    $btn-sup-c: $color-sup-2;

    @if $type == wire {
      $btn-text-c: $color-main-2;
      $btn-text-c-alt: $color-accent-2;
    }
  } @else if $color == 3 {
    $btn-def-c: $color-main-3;
    $btn-acc-c: $color-accent-3;
    $btn-sup-c: $color-sup-3;

    @if $type == wire {
      $btn-text-c: $color-main-3;
      $btn-text-c-alt: $color-accent-3;
    }
  } @else if $color == white {
    $btn-def-c: $color-white;
    $btn-acc-c: $color-white;
    $btn-sup-c: transparent;

    @if $type == wire {
      $btn-text-c: $color-white;
      $btn-text-c-alt: $color-white;
    }
  }

  @if $type == solid {
    @include font-header(700);
    @include text(14px, 18px, $btn-text-c, 0.83px);
    @include transition(background, bottom, box-shadow);
    position: relative;
    bottom: 0;
    box-shadow: none;
    text-decoration: none;
    padding: 13px 39px;
    background-color: $btn-acc-c;
    background-image: linear-gradient(
      to right,
      $btn-def-c 0%,
      $btn-def-c 33.33%,
      $btn-acc-c 66.66%,
      $btn-acc-c 100%
    );
    background-repeat: repeat-x;
    background-size: 300% 100%;
    background-position: 0 100%;
    outline: none;

    &:not(:disabled) {
      &:focus {
        background-position: 50% 100%;
      }

      &:hover {
        bottom: 5px;
        background-position: 50% 100%;
        box-shadow: 0 2px 2px $btn-sup-c;
        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          display: block;
          width: 100%;
          height: 5px;
        }
      }

      &:active {
        background-position: 100% 100%;
        box-shadow: none;
        bottom: 0;
        &::after {
          bottom: 0;
        }
      }
    }

    &:disabled {
      cursor: not-allowed;
    }
  } @else if $type == wire {
    @include font-header(700);
    @include text(14px, 18px, $btn-text-c, 0.83px);
    @include transition(bottom, box-shadow, border, color);
    position: relative;
    bottom: 0;
    box-shadow: none;
    text-decoration: none;
    padding: 10px 36px;
    background-color: transparent;
    border: 3px solid $btn-def-c;
    outline: none;

    &:not(:disabled) {
      &:focus {
        border-color: $btn-acc-c;
        color: $btn-text-c-alt;
      }

      &:hover {
        bottom: 5px;
        box-shadow: 0 2px 2px $btn-sup-c;
        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          display: block;
          width: 100%;
          height: 5px;
        }
      }

      &:active {
        bottom: 0;
        border-color: $btn-acc-c;
        box-shadow: none;
        color: $btn-text-c-alt;
        &::after {
          bottom: 0;
        }
      }
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}

@mixin button-width {
  @include media-query($medium-up) {
    max-width: 260px;
    width: 100%;
    display: block;
  }
}

@mixin underline($color: $color-main-1, $is_active: true) {
  position: relative;

  &::after {
    @include transition(width);
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $color;
  }

  @if $is_active {
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

@mixin animated-wave($time: 1000ms, $z-index: $z-base) {
  @include transition(background-position $time);
  position: absolute;
  left: 0;
  @if $z-index != 0 {
    z-index: $z-index;
  }
  background-position: 0;
  background-repeat: repeat-x;
  width: 100%;
}

@mixin no-browser-styling {
  border: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  appearance: none;
}

@mixin no-input-spinner {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
