.index-header {
  position: relative;

  &__outer {
    position: relative;
  }

  &__content-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__bg {
    object-fit: cover;
  }

  &__container {
    height: 100%;
  }

  &__row {
    height: 90%;
  }

  &__content {
    align-self: center;
  }

  &__title {
    @include font-header(700);
    @include text(24px, 35px, $color-title-light);
  }

  &__link-wrap {
    margin: 20px 0 0;
  }

  &__link {
    @include button(solid, r, 1);
  }

  &__features {
    margin: 60px 0 0;
  }

  &__f {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    max-width: 88px;

    &:not(:last-of-type) {
      margin: 0 20px 0 0;
    }
  }

  &__f-icon {
    position: relative;
    border-radius: 50%;
    background-color: $color-main-1;
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  &__f-icon svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__f-text {
    @include font-header(700);
    @include text(12px, 16px, $color-white, 0.71px);
    // max-width: 90px;;
  }

  &__btm {
    height: 10%;
    text-align: center;
  }

  &__btm-link {
    @include font-body;
    @include text(14px, 16px, $color-white);

    &:hover,
    &:focus {
      font-weight: 700;
      color: $color-white;
    }
  }

  &__wave-wrap {
    overflow-y: hidden;

    @include media-query($small) {
      height: 1px;
    }
  }

  &__wave {
    position: absolute;
    pointer-events: none;
    bottom: -30px;
    left: 0;
    width: 100%;
    max-width: 100%;
  }

  @include media-query($medium-down) {
    padding: 0 0 100px;

    &__container {
      position: relative;
    }

    &__row {
      height: 90%;
    }

    &__title {
      font-size: 14px;
      line-height: 16px;
      max-width: 155px;
      margin: 0 0 0 15px;
    }

    &__link-wrap {
      margin: 10px 0 0 15px;
    }

    &__features {
      z-index: $z-base;
      position: absolute;
      top: 90%;
      left: 0;
      margin: 0;
      width: 100%;
      text-align: center;
    }

    &__f {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      max-width: 88px;

      &:not(:last-of-type) {
        margin: 0 10px;
      }

      &:last-of-type {
        margin: 0 10px;
      }
    }

    &__f-text {
      color: $color-body-text;
    }

    &__btm {
      position: absolute;
      top: calc(100% + 45px);
      height: auto;
      text-align: center;
      width: calc(100% - 30px);
    }

    &__btm-link {
      color: $color-body-text;

      &:hover,
      &:focus {
        color: $color-body-text;
      }
    }

    &__wave {
      bottom: 70px;
    }
  }

  @include media-query($small) {
    &__bg-wrap {
      max-width: 100% !important;

      &::before {
        padding-top: 400px !important;
      }
    }

    &__bg {
      max-width: 100% !important;
    }
  }
}
