.index-usps {
  background-color: $color-theme-4;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin: 0 0 60px;

  &__usps {
    @include media-query($small) {
      margin-bottom: 30px;
    }
  }

  &__wave-top {
    @include animated-wave;
    top: -1px;
    height: 65px;
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='65' viewBox='0 0 1600 65' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 43.62s151.679 26.414 462 19.29c310.321-7.125 577.252-31.658 674.598-36.092 130.649-5.951 285.45-.35 464.402 16.802l-.343-23.306L1601 .358H0V43.62z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  &__content {
    padding: 90px 0;
    min-height: 620px;

    @include media-query($medium-up) {
      flex: 0 0 60%;
      max-width: 60%;
      margin: 0 auto;
    }
  }

  &__bg-wrap {
    height: 100%;
    max-height: 620px;
  }

  &__bg {
    height: 100%;
    max-height: 620px;
    object-fit: cover;
  }

  &__title {
    @include text-subtitle;
    font-weight: 500;
    margin: 0 0 30px;
  }

  &__usp {
    &:not(:last-of-type) {
      padding: 0 0 15px;
      border-bottom: 1px solid $color-main-1;
      margin: 0 0 15px;
    }
  }

  &__usp-btn {
    @include clearfix;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    display: block;

    &.open {
      .index-usps__usp-closed {
        display: none;
      }
      .index-usps__usp-open {
        display: block;
      }
    }

    &:not(.open) {
      .index-usps__usp-closed {
        display: block;
      }
      .index-usps__usp-open {
        display: none;
      }
    }
  }

  &__usp-icon {
    width: 60px;
    display: inline-block;
    vertical-align: middle;

    svg {
      max-width: 59px;
      max-height: 47px;
      height: auto;
      width: auto;
    }
  }

  &__usp-title {
    @include font-header(700);
    @include text(1.18, 28px, $color-title);
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 111px);
    padding: 0 0 0 20px;
  }

  &__usp-closed {
    @include font-header(700);
    @include text(20px, 43px, $color-main-1, 1.77px);
    text-align: center;
    width: 10px;
    margin: 0 30px 0 0;
    float: right;
  }

  &__usp-open {
    @include font-header(700);
    @include text(20px, 43px, $color-main-1, 1.77px);
    text-align: center;
    width: 10px;
    margin: 0 30px 0 0;
    float: right;
  }

  &__usp-content {
    @include font-body;
    @include text(18px, 24px, $color-body-text, 1.08px);
    padding: 10px 0 0;
  }

  &__wave-btm {
    @include animated-wave;
    bottom: 0;
    height: 73px;
    background-image: url("data:image/svg+xml,%3Csvg width='1851' height='73' viewBox='0 0 1851 73' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 54s61.878-9.708 160.665-6.32c186.674 6.4 418.775 14.985 418.775 14.985s62.64 2.207 181.534 0c83.188-1.544 193.353-4.542 331.274-14.985 55.08-4.17 143.503-11.265 258.361-25.292 72.242-8.822 188.103-27.891 281.016-20.865 41.063 3.105 113.823 26.35 151.912 41.554 12.912 5.154 35.4 8.795 67.463 10.923v19H0V54z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  @include media-query($large-down) {
    margin: 0 0 20px;

    &__content {
      padding: 60px 0;
      min-height: 1px;
    }

    &__wave-middle {
      @include animated-wave;
      bottom: 0;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='320' height='16' viewBox='0 0 320 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 16h320V0h-12c-68.027 0-102.127 6.297-152 7-66.808.942-106-3-117-4-5.553-.505-19-3-29-3H0v16z' fill='%23F4F4F4' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
  }

  @include media-query($medium-down) {
    &__wave-top {
      top: 0;
      height: 11px;
      background-image: url("data:image/svg+xml,%3Csvg width='320' height='11' viewBox='0 0 320 11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h320v4c-36.195-2.382-59.862-3.382-71-3-52.983 1.816-136.835 9.625-168 10-28.12.339-51.377-2.32-71-6-2.163-.406-5.496-.739-10-1' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    }

    &__content {
      padding: 20px 0 40px;
      min-height: 1px;
    }

    &__title {
      padding: 0 15px;
      text-align: center;
    }

    &__bg-wrap {
      margin: 0 -15px;
      width: calc(100% + 30px);
    }

    &__usp-icon {
      width: 30px;
      display: inline-block;
      vertical-align: middle;

      svg {
        max-width: 30px;
        max-height: 35px;
        height: auto;
        width: auto;
      }
    }

    &__usp-title {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.83px;
      width: calc(100% - 50px);
    }

    &__usp {
      &:not(:last-of-type) {
        padding: 0 12px 15px;
      }
      &:last-of-type {
        padding: 0 12px;
      }
    }

    &__usp-closed {
      margin: 0 5px 0 0;
    }

    &__usp-open {
      margin: 0 5px 0 0;
    }

    &__usp-content {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.83px;
    }

    &__wave-btm {
      height: 73px;
      background-image: url("data:image/svg+xml,%3Csvg width='1851' height='73' viewBox='0 0 1851 73' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 54s61.878-9.708 160.665-6.32c186.674 6.4 418.775 14.985 418.775 14.985s62.64 2.207 181.534 0c83.188-1.544 193.353-4.542 331.274-14.985 55.08-4.17 143.503-11.265 258.361-25.292 72.242-8.822 188.103-27.891 281.016-20.865 41.063 3.105 113.823 26.35 151.912 41.554 12.912 5.154 35.4 8.795 67.463 10.923v19H0V54z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
  }
}
