.index-usps {
  background-color: $color-theme-4;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin: 0 0 60px;

  &__usps {
    @include media-query($small) {
      margin-bottom: 30px;
    }
  }

  &__wave-top {
    @include animated-wave;
    height: 38px;
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='38' viewBox='0 0 1600 38' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 23s38.948-.379 94 2c103.732 4.482 264.651 13.017 330 12 274.153-4.269 663.494-30.945 712.598-33.182 33.3-1.517 68.17-1.283 104.607-1.3C1298.135 2.495 1387.625 12.21 1507 21c9.616.708 40.616 1.375 93 2V0H0v23z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  &__wave-btm {
    @include animated-wave;
    bottom: 0;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='27' viewBox='0 0 1600 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 16s25.575-.132 74-2c23.558-.909 54.387-4.262 86.73-3.153 186.75 6.4 418.945 14.985 418.945 14.985s62.665 2.207 181.607 0C844.504 24.288 1039.27 13.235 1337 1c38.48-1.581 101.757 5.829 189 13 15.398 1.266 40.065 1.932 74 2v10H0V16z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  &__content {
    padding: 50px 0;
    min-height: 620px;

    @include media-query($medium-up) {
      flex: 0 0 650px;
      max-width: 650px;
      margin: 0 auto;
    }
  }

  &__bg-wrap {
    height: 100%;
    max-height: 620px !important;

    &::before {
      padding-top: 620px !important;
    }
  }

  &__bg {
    height: 100% !important;
    max-height: 620px !important;
    object-fit: cover;
  }

  &__title {
    @include text-subtitle;
    font-weight: 500;
    margin: 0 0 30px;
  }

  &__usp {
    &:not(:last-of-type) {
      padding: 0 0 15px;
      border-bottom: 1px solid $color-main-1;
      margin: 0 0 15px;
    }
  }

  &__usp-btn {
    @include clearfix;
    width: 100%;
    background-color: $color-transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    text-align: left;

    @include media-query($small) {
      display: flex;
      align-items: center;
    }

    &.open {
      .index-usps__usp-closed {
        display: none;
      }
      .index-usps__usp-open {
        display: block;
      }
    }

    &:not(.open) {
      .index-usps__usp-closed {
        display: block;
      }
      .index-usps__usp-open {
        display: none;
      }
    }
  }

  &__usp-icon {
    width: 60px;
    display: inline-block;
    vertical-align: middle;

    svg {
      max-width: 59px;
      max-height: 47px;
      height: auto;
      width: auto;
    }
  }

  &__usp-title {
    @include font-header(700);
    @include text(1.18, 28px, $color-title);
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 111px);
    padding: 0 0 0 20px;
  }

  &__usp-closed {
    @include font-header(700);
    @include text(20px, 43px, $color-main-1, 1.77px);
    text-align: center;
    width: 10px;
    margin: 0 30px 0 0;
    float: right;
  }

  &__usp-open {
    @include font-header(700);
    @include text(20px, 43px, $color-main-1, 1.77px);
    text-align: center;
    width: 10px;
    margin: 0 30px 0 0;
    float: right;
  }

  &__usp-content {
    @include font-body;
    @include text(18px, 24px, $color-body-text, 1.08px);
    padding: 10px 0 0;
  }

  @include media-query($large-down) {
    margin: 0 0 20px;

    &__content {
      padding: 60px 0;
      min-height: 1px;
    }

    &__wave-middle {
      @include animated-wave;
      bottom: 0;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='320' height='16' viewBox='0 0 320 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 16h320V0h-12c-68.027 0-102.127 6.297-152 7-66.808.942-106-3-117-4-5.553-.505-19-3-29-3H0v16z' fill='%23F4F4F4' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
  }

  @include media-query($medium-down) {
    &__content {
      padding: 20px 0 40px;
      min-height: 1px;
    }

    &__title {
      padding: 0 15px;
      text-align: center;
    }

    &__bg-wrap {
      margin: 0 -15px;
      width: calc(100% + 30px);
    }

    &__usp-icon {
      width: 30px;
      display: inline-block;
      vertical-align: middle;

      svg {
        max-width: 30px;
        max-height: 35px;
        height: auto;
        width: auto;
      }
    }

    &__usp-title {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.83px;
      width: calc(100% - 50px);
    }

    &__usp {
      &:not(:last-of-type) {
        padding: 0 12px 15px;
      }
      &:last-of-type {
        padding: 0 12px;
      }
    }

    &__usp-closed {
      margin: 0 5px 0 0;
    }

    &__usp-open {
      margin: 0 5px 0 0;
    }

    &__usp-content {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.83px;
    }
  }
}
