.index-shop {
  margin: 0 0 60px;

  &__title {
    @include text-title;
    text-align: center;
  }

  &__prod-container {
    margin-bottom: 25px;
  }

  &__collections {
  }

  &__collection {
    text-align: center;
  }

  &__c-img-wrap {
    margin: 0 auto 20px;
    height: 260px;
    overflow: hidden;
  }

  &__c-img {
    object-fit: contain;
  }

  &__c-title {
    @include button(solid, round, 1);
  }

  .slick-slide > div {
    @include no-font-size;
  }

  @include media-query($medium-down) {
    margin: 0 0 20px;

    &__prod-container {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;

      .product-item__image-link {
        padding: 0;
      }
    }

    &__prod-row {
      margin-left: 0;
      margin-right: 0;
    }

    &__prod-col {
      padding-left: 0;
      padding-right: 0;
    }

    &__c-title {
      font-size: 11px;
      line-height: 12px;
      letter-spacing: 1.2px;
      padding: 8px;
      width: 100%;
    }
  }
}
