.index-usps {
  background-color: $color-theme-4;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin: 0 0 60px;

  &__wave-top {
    @include animated-wave;
    top: -1px;
    height: 65px;
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='65' viewBox='0 0 1600 65' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 43.62s151.679 26.414 462 19.29c310.321-7.125 577.252-31.658 674.598-36.092 130.649-5.951 285.45-.35 464.402 16.802l-.343-23.306L1601 .358H0V43.62z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  &__content {
    padding: 90px 0;
    min-height: 620px;
  }

  &__bg-wrap {
    height: 100%;
    max-height: 620px;
  }
  &__bg {
    height: 100%;
    max-height: 620px;
    object-fit: cover;
  }

  &__title {
    @include poppins(500);
    @include text(30px, 43px, $color-title, 1.77px);
    margin: 0 0 30px;
  }

  &__usps {
  }

  &__usp {
    &:not(:last-of-type) {
      padding: 0 0 15px;
      border-bottom: 1px solid $color-main-1;
      margin: 0 0 15px;
    }
  }
  &__usp-btn {
    @include clearfix;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    display: block;

    &.open {
      .index-usps__usp-closed {
        display: none;
      }
      .index-usps__usp-open {
        display: block;
      }
    }

    &:not(.open) {
      .index-usps__usp-closed {
        display: block;
      }
      .index-usps__usp-open {
        display: none;
      }
    }
  }

  &__usp-icon {
    width: 60px;
    display: inline-block;
    vertical-align: middle;

    svg {
      max-width: 59px;
      max-height: 47px;
      height: auto;
      width: auto;
    }
  }

  &__usp-title {
    @include poppins(700);
    @include text(1.18, 28px, $color-title);
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 111px);
    padding: 0 0 0 20px;
  }

  &__usp-closed {
    @include poppins(700);
    @include text(20px, 43px, $color-main-1, 1.77px);
    text-align: center;
    width: 10px;
    margin: 0 30px 0 0;
    float: right;
  }

  &__usp-open {
    @include poppins(700);
    @include text(20px, 43px, $color-main-1, 1.77px);
    text-align: center;
    width: 10px;
    margin: 0 30px 0 0;
    float: right;
  }

  &__usp-content {
    @include open-sans;
    @include text(18px, 24px, $color-body-text, 1.08px);
    padding: 10px 0 0;
  }

  &__wave-btm {
    @include animated-wave;
    bottom: 0;
    height: 73px;
    background-image: url("data:image/svg+xml,%3Csvg width='1851' height='73' viewBox='0 0 1851 73' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 54s61.878-9.708 160.665-6.32c186.674 6.4 418.775 14.985 418.775 14.985s62.64 2.207 181.534 0c83.188-1.544 193.353-4.542 331.274-14.985 55.08-4.17 143.503-11.265 258.361-25.292 72.242-8.822 188.103-27.891 281.016-20.865 41.063 3.105 113.823 26.35 151.912 41.554 12.912 5.154 35.4 8.795 67.463 10.923v19H0V54z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
}
