.index-video {
  position: relative;

  &__outer {
    margin: -18px 0 0;
    overflow: hidden;
    padding: 0 0 40px;
  }

  &__bg-outer {
    position: relative;
    left: 90px;
    pointer-events: none;

    &:not(.active) {
      opacity: 0;
    }
  }

  &__content-outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 18px 0 0;
  }

  &__content {
    align-self: center;
    text-align: center;

    a {
      position: relative;
    }
  }

  &__container {
    height: 100%;
  }

  &__row {
    height: 100%;
  }

  &__title {
    @include text-subtitle;
    margin: 0 0 10px;
  }

  &__text {
    @include font-header(500);
    @include text(20px, 28px, $color-title, 1.77px);
    margin: 0 0 20px;
  }

  &__link {
    @include no-browser-styling;

    &:hover {
      .index-video__link-text {
        color: $color-main-1;
        border-color: $color-main-1;
      }
    }
  }

  &__link-text {
    @include font-header(500);
    @include text(18px, 25px, $color-title, 1.06px);
    @include transition(color, border);
    border-bottom: 2px solid $color-title;
    display: inline-block;
    vertical-align: middle;
  }

  &__link-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
  }

  &__video-outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 18px 0 0;

    > .container {
      height: 100%;
      display: flex;
    }
  }

  &__video {
    margin: auto;
  }

  @include media-query($medium-down) {
    &__outer {
      background: radial-gradient(
        ellipse at top,
        rgba($color-theme-19, 0.3) 0%,
        transparent 60%,
        transparent 100%
      );
      padding: 0;
    }

    &__bg-outer {
      left: 0;
    }

    &__content-outer {
      position: static;
      padding: 18px 0 0;
    }

    &__content {
      align-self: center;
      text-align: center;
      width: 100%;
    }

    &__title {
      margin: 0 0 10px;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.9px;
      margin: 0 auto 20px;
      max-width: 290px;
    }

    &__link {
      margin: 0 0 30px;
      display: inline-block;
    }

    &__link-text {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.71px;
    }

    &__link-icon {
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
