.index-header {
  z-index: $z-base;
  position: relative;
  margin: 0 0 15px;

  &__outer {
    position: relative;
  }

  &__content-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__bg-wrap {
    max-width: 100% !important;
  }

  &__bg {
    max-width: 100% !important;
    object-fit: cover;
  }

  &__container {
    height: 100%;
  }

  &__row {
    height: 90%;
  }

  &__content {
    align-self: center;
  }

  &__title {
    @include font-header(700);
    @include text(30px, 38px, $color-title-light);
  }

  &__inline-link {
    @include font-header(500);
    @include text(16px, 20px, $color-white, 0.74px);
    text-decoration: underline;
    margin: 5px 0 0;
    display: inline-block;
  }

  &__link-wrap {
    margin: 20px 0 0;
  }

  &__link {
    @include button(solid, r, 1);
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.8px;
    padding: 11px 20px;
  }

  &__features {
    margin: 35px 0;
    text-align: center;
  }

  &__f {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
  }

  &__f-icon {
    position: relative;
    border-radius: 50%;
    background-color: $color-main-1;
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    height: 64px;
  }

  &__f-icon svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
  }

  &__f-icon g,
  &__f-icon path {
    stroke-width: 1;
  }

  &__f-text {
    @include font-header(700);
    @include text(14px, 16px, $color-body-text, 0.83px);
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 20px;
  }

  &__btm {
    text-align: center;
  }

  &__btm-link {
    @include font-header(700);
    @include text(14px, 16px, $color-body-text);
    text-align: center;
    display: inline-block;

    span {
      display: block;
    }

    svg {
      display: block;
      width: 10px;
      height: 10px;
      margin: 5px auto 0;
    }
  }

  &__wave-wrap {
    @include animated-wave;
    bottom: 0;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='30' viewBox='0 0 1600 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0c27.812.243 46.145.576 55 1 67.649 3.24 115.412 5.89 152 8 193.029 11.136 378.232 20 578 20 177.665 0 355.857-8.192 537-17 54.668-2.658 88.15-6.177 193-11 8.365-.385 36.699-.718 85-1l2 30H0V0z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    overflow-y: hidden;
  }

  @media screen and (min-width: 1600px) {
    &__bg-wrap {
      &::before {
        padding-top: 720px !important;
      }
    }
  }

  @include media-query($large-down) {
    &__link {
      font-size: 16px;
      line-height: 16px;
    }

    &__f-text {
      display: block;
      margin: 10px 0 0;
    }
  }

  @include media-query($medium-down) {
    &__container {
      position: relative;
    }

    &__row {
      height: 90%;
    }

    &__content {
      text-align: center;
      align-self: auto;
      padding: 60px 0 0;
      width: 100%;
    }

    &__title {
      font-size: 20px;
      line-height: 26px;
      max-width: 260px;
      margin: 0 auto;
    }

    &__inline-link {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.65px;
      display: inline-block;
    }

    &__link-wrap {
      z-index: $z-base;
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin: 0;
      transform: translate(-50%);
    }

    &__link {
      padding: 10px 20px;
    }

    &__features {
      display: flex;
      max-width: 300px;
      justify-content: space-between;
      margin: 35px auto 10px;
    }

    &__f-icon {
      width: 40px;
      height: 40px;
    }

    &__f-icon svg {
      width: 20px;
      height: 20px;
    }

    &__f-icon g,
    &__f-icon path {
      stroke-width: 1.5;
    }

    &__f {
      max-width: 80px;

      &:not(:last-of-type) {
        margin: 0;
      }

      &:last-of-type {
        margin: 0;
      }
    }

    &__f-text {
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.6px;
    }

    &__btm-link {
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.6px;

      svg {
        width: 8px;
        height: 8px;
      }
    }
  }

  @include media-query($small) {
    &__content {
      padding: 30px 0 0;
    }

    &__bg-wrap {
      &::before {
        padding-top: 400px !important;
      }
    }

    &__wave-wrap {
      height: 5px;
    }
  }
}
