{% section 'collection-header' %}

{% section 'collection-filter' %}

<div class="collection">
  <div class="container">
    <div class="row">
      {% for c_product in collection.products %}
        <div class="col-lg-3" data-pi-item-col>
          {% render 'product-item' with c_product %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% section 'user-stories' %}
