{% section 'collection-header' %}

{% section 'collection-filter' %}

<div class="collection">
  <div class="container">
    <div class="row">
      {% for c_product in collection.products %}
        <div class="col-lg-3" data-pi-item-col>
          {% render 'product-item' with c_product %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% section 'diffusers' %}

{% section 'user-stories' %}

<script type="text/javascript">
$( '.product-item__submit-btn' ).click(function() {
fbq('track', 'AddToCart', {
    value: {{ product.price | money_without_currency }},
    currency: '{{ shop.currency }}',
    content_ids: '[{{ product.id }}]',
	content_name: '{{ product.title }}',
	content_type: 'product_group',
  });
</script>