{% section 'collection-header' %}

{% section 'collection-filter' %}

<div class="list-c">
  <div class="container">
    {% for link in linklists["list-collections"].links %}
      {% assign list_c = link.object %}
      <div class="list-c__collection">
        <h2 class="list-c__c-title">{{ list_c.title }}</h2>
        <div class="row">
          {% for c_product in list_c.products %}
            <div class="col-lg-3" data-pi-item-col>
              {% render 'product-item' with c_product %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    {% section 'subscribe-save' %}
  </div>
</div>

{% section 'user-stories' %}
