{% section 'contact-header' %}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      {% section 'contact-sidebar' %}
    </div>
    <div class="col-md-9">
      <div class="contact-tabs" data-tabs-container>
        {% section 'contact-tabs-header' %}

        <div class="contact-tab-1 active" data-tab=0>
          {% section 'contact-faqs' %}
        </div>

        <div class="contact-tab-2" data-tab=1 style="display:none">
          {% section 'contact-dom-ship' %}
        </div>

        <div class="contact-tab-3" data-tab=2 style="display:none">
          {% section 'contact-intl-ship' %}
        </div>

        <div class="contact-tab-4" data-tab=3 style="display:none">
          {% section 'contact-returns' %}
        </div>

        <div class="contact-tab-5" data-tab=4 style="display:none">
          {% section 'contact-form' %}
        </div>
      </div>
    </div>
  </div>
</div>
