{% section 'pre-order-header' %}

{% section 'pre-order-bottle-sizes' %}

{% section 'pre-order-video' %}

{% section 'pre-order-alkaline-water' %}

{% section 'pre-order-why-alkaline' %}

{% section 'pre-order-last-bottle' %}

{% section 'pre-order-on-the-go' %}

{% section 'pre-order-diffusers' %}

{% section 'pre-order-hydro-optim' %}

{% section 'pre-order-testimonials' %}

{% section 'landing-page-create-account' %}

{% section 'landing-page-register-bottle' %}

{% section 'landing-page-referal' %}

<div class="step-nav">
  <button class="previous-step disabled" data-prev-step>{{ 'landing_page.steps.step_navigation_previous' | t }}</button>
  <button class="next-step" data-next-step>{{ 'landing_page.steps.step_navigation_next' | t }}</button>
</div>

{% section 'landing-page-recommendations' %}

{% section 'landing-page-banner' %}

{% section 'landing-page-diffusers' %}

{% section 'landing-page-faq' %}

{% section 'landing-page-modal' %}

<div class="landing-page-modal__overlay" data-modal-overlay></div>
