{% section 'contact-header' %}

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      {% render 'contact-sidebar' %}
    </div>
    <div class="col-lg-9">
      <div class="contact-tabs" data-tab-container="contact-tab">
        {% section 'contact-tabs-header' %}

        <div class="contact-tab-1 active" data-tab=1>
          {% section 'contact-faqs' %}
        </div>

        <div class="contact-tab-2" data-tab=2 style="display:none">
          {% section 'contact-domestic' %}
        </div>

        <div class="contact-tab-3" data-tab=3 style="display:none">
          {% section 'contact-international' %}
        </div>

        <div class="contact-tab-4" data-tab=4 style="display:none">
          {% section 'contact-returns' %}
        </div>

        <div class="contact-tab-5" data-tab=5 style="display:none">
          {% section 'contact-form' %}
        </div>
      </div>
    </div>
  </div>
</div>
