{% section 'contact-header' %}

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      {% section 'contact-sidebar' %}
    </div>
    <div class="col-lg-9">
      <div class="contact-tabs" data-tabs-container="contact-tab">
        {% section 'contact-tabs-header' %}

        <div class="contact-tab-1 active" data-tab="faqs">
          {% section 'contact-faqs' %}
        </div>

        <div class="contact-tab-2" data-tab="shipping-domestic" style="display:none">
          {% section 'contact-domestic' %}
        </div>

        <div class="contact-tab-3" data-tab="shipping-international" style="display:none">
          {% section 'contact-international' %}
        </div>

        <div class="contact-tab-4" data-tab=returns style="display:none">
          {% section 'contact-returns' %}
        </div>

        <div class="contact-tab-5" data-tab=contactform style="display:none">
          {% section 'contact-form' %}
        </div>
      </div>
    </div>
  </div>
</div>
