{% section 'landing-page-header' %}

{% section 'landing-page-steps' %}

{% section 'landing-page-create-account' %}

{% section 'landing-page-register-bottle' %}

{% section 'landing-page-referal' %}

<div class="step-nav">
  <button class="previous-step" data-prev-step>{{ 'landing_page.steps.step_navigation_previous' | t }}</button>
  <button class="next-step" data-next-step>{{ 'landing_page.steps.step_navigation_next' | t }}</button>
</div>

{% section 'landing-page-recommendations' %}

{% section 'landing-page-banner' %}

{% section 'landing-page-diffusers' %}

{% section 'landing-page-faq' %}

{% section 'landing-page-modal' %}

<div class="landing-page-modal__overlay" data-modal-overlay></div>
