.article__other-topics {
  margin-bottom: 40px;

  h2 {
    @include font-header(bold);
    @include text(40px, 1.2, $color-theme-7, 2.3px);
    text-align: center;
    margin-bottom: 30px;

    @include media-query($large-down) {
      @include text(20px, 1.2, $color-theme-7, 1px);
      margin-bottom: 15px;
    }
  }

  .article__other-wrapper {
    display: flex;
    justify-content: space-between;

    .article-card {
      flex: 0 0 48%;
      max-width: 48%;
    }
  }

  .article-card__wrapper {
    @include media-query($large-down) {
      flex-direction: column;
    }
  }
}
