@import "./article-header";
@import "./article-header-content";
@import "./article-content";
@import "./article-footer";
@import "./article-sidebar";
@import "./article-social-sharing";
@import "./article-comments";
@import "./article-other-topics";

main.template-article {
  overflow-x: hidden;
}
