.article {
  &__content {
    margin: 0;
    @include text(18px, 1.4, $color-theme-7, 1px);
    @include font-body;

    b {
      font-weight: 700;
    }

    p {
      @include media-query($large-down) {
        @include text(17px, 1.4, $color-theme-7, 1px);
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-theme-1;
    }

    img {
      width: 100%;
    }

    h2 {
      display: block;
      margin-top: 30px;

      &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='92' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6c9.87-4.73 30.153-6.346 47.145-3.8C65.136 4.744 78.872 6 91 2.2' stroke='%2300AEDB' stroke-width='1.5' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
        display: block;
        width: 92px;
        height: 7px;
        margin-bottom: 5px;
      }
    }

    a {
      color: $color-theme-1;

      &:hover {
        text-decoration: underline;
      }
    }

    blockquote {
      @include font-body(bold);
      position: relative;
      flex: 0 0 60%;
      max-width: 60%;
      margin: 0 auto;
      font-style: italic;
      font-size: 18px;

      @include media-query($large-down) {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 10px;
        font-size: 16px;
      }

      &::before,
      &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='92' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6c9.87-4.73 30.153-6.346 47.145-3.8C65.136 4.744 78.872 6 91 2.2' stroke='%2300AEDB' stroke-width='1.5' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
        display: block;
        width: 92px;
        height: 7px;
      }

      &::before {
        margin-bottom: 20px;
      }

      &::after {
        margin-top: 20px;
        position: absolute;
        right: 0;
      }
    }

    ul {
      list-style: none;
      margin-top: 10px;
      margin-left: 0;
      padding-left: 22px;
    }

    li {
      @include media-query($large-down) {
        font-size: 17px;
      }
    }

    ul li::before {
      content: "\2022";
      color: $color-theme-1;
      font-weight: 700;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}
