<div class="recent-articles__card article-card {{ size }}">
  <a href="{{ blog_article.url }}">
    {%- render 'responsive-image' with
      span: true,
      image: blog_article.image.src,
      max_width: 768,
      max_height: 768,
      wrapper_class: "article-card__thumbnail-wrapper",
      image_class: "article-card__thumbnail",
      snippet_index: 53
    -%}

    <span class="article-card__content">
      {% for tag in blog_article.tags %}
        <span class="article-card__category">{{ tag }}</span>
      {% endfor %}
      <h3>{{- blog_article.title -}}</h3>
    </span>
  </a>
</div>
