<div class="account-sidebar">
  <h4 class="account-sidebar__title">Need to talk to a human?</h4>
  <a href="#" class="account-sidebar__link">
    <span class="account-sidebar__link-icon" aria-ignore="true">
      <svg width="19" height="32" viewBox="0 0 19 32" xmlns="http://www.w3.org/2000/svg"><path d="M17.457 28.965l-1.766-6.59a1 1 0 00-1.224-.707l-2.753.738a1 1 0 01-.903-.201c-1.087-.915-1.997-2.744-2.733-5.487-.727-2.714-.824-4.613-.292-5.697a1 1 0 01.64-.525l2.843-.762a1 1 0 00.707-1.225l-1.766-6.59a1 1 0 00-1.225-.707l-1.414.38c-1.168.312-9.248 2.477-5.433 16.717 3.816 14.24 11.894 12.61 13.197 12.26l1.415-.38a1 1 0 00.707-1.224z" stroke="#333C41" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
    </span>
    <span class="account-sidebar__link-txt">Let's talk</span>
  </a>
  <a href="#" class="account-sidebar__link">
    <span class="account-sidebar__link-icon" aria-ignore="true">
      <svg width="32" height="20" viewBox="0 0 32 20" xmlns="http://www.w3.org/2000/svg"><g transform="translate(1 1)" stroke="#333C41" stroke-width="2" fill="none" fill-rule="evenodd"><rect width="30" height="18" rx="1"/><path stroke-linecap="round" d="M.896.808L15 11.388 29.112.808"/></g></svg>
    </span>
    <span class="account-sidebar__link-txt">Email us</span>
  </a>
  <a href="#" class="account-sidebar__link">
    <span class="account-sidebar__link-icon" aria-ignore="true">
      <svg width="32" height="18" viewBox="0 0 32 18" xmlns="http://www.w3.org/2000/svg"><path d="M7 1h18a6 6 0 110 12h-1.073 0L20.8 16l-3.049-3H7A6 6 0 117 1z" stroke="#333C41" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
    </span>
    <span class="account-sidebar__link-txt">Live Chat</span>
  </a>
</div>