<button class="header-button" type="button" data-mobile-menu-button>
  <span class="header-button__top">{% render 'icon-menu-line' %}</span>
  <span class="header-button__middle">{% render 'icon-menu-line' %}</span>
  <span class="header-button__bottom">{% render 'icon-menu-line' %}</span>
</button>