<?xml version="1.0" encoding="UTF-8"?>
<svg width="44px" height="47px" viewBox="0 0 44 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 62 (91390) - https://sketch.com -->
    <title>Group 65</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
        <g id="PreOrder-D-Landingpage" transform="translate(-1119.000000, -6940.000000)" stroke="#848A8D" stroke-width="1.5">
            <g id="Group-65" transform="translate(1120.000000, 6941.000000)">
                <g id="Group-62">
                    <line x1="17.0357233" y1="45" x2="17.0357233" y2="0" id="Path-17"></line>
                    <line x1="25.1457353" y1="45" x2="25.1457353" y2="0" id="Path-17-Copy-2"></line>
                    <path d="M14.7684819,25.6305509 C14.7684819,22.3168424 12.0821904,19.6305509 8.76848189,19.6305509 C5.45477339,19.6305509 2.76848189,22.3168424 2.76848189,25.6305509" id="Oval" transform="translate(8.768482, 22.630551) rotate(-90.000000) translate(-8.768482, -22.630551) "></path>
                    <g id="Group-61" transform="translate(19.004734, 0.000000)">
                        <line x1="0.5" y1="44.7758621" x2="0.5" y2="40.8965517" id="Path-18"></line>
                        <line x1="0.5" y1="36.5965517" x2="0.5" y2="32.7172414" id="Path-18-Copy"></line>
                        <line x1="0.5" y1="28.4172414" x2="0.5" y2="24.537931" id="Path-18-Copy-2"></line>
                        <line x1="0.5" y1="20.237931" x2="0.5" y2="16.3586207" id="Path-18-Copy-3"></line>
                        <line x1="0.5" y1="12.0586207" x2="0.5" y2="8.17931034" id="Path-18-Copy-4"></line>
                        <line x1="0.5" y1="3.87931034" x2="0.5" y2="1.56319402e-13" id="Path-18-Copy-5"></line>
                    </g>
                    <line x1="2.71923878" y1="22.6305509" x2="0.130550857" y2="22.6305509" id="Path-19"></line>
                    <line x1="3.94909797" y1="18.0406539" x2="1.70722847" y2="16.7463099" id="Path-19"></line>
                    <line x1="7.30913576" y1="14.6806161" x2="6.0147918" y2="12.4387466" id="Path-19"></line>
                    <line x1="11.1231707" y1="13.4507569" x2="11.1231707" y2="10.862069" id="Path-19"></line>
                    <line x1="11.1231707" y1="34.3990327" x2="11.1231707" y2="31.8103448" id="Path-19-Copy"></line>
                    <line x1="6.0147918" y1="32.8223551" x2="7.30913576" y2="30.5804856" id="Path-19-Copy"></line>
                    <line x1="1.70722847" y1="28.5147918" x2="3.94909797" y2="27.2204478" id="Path-19-Copy"></line>
                </g>
                <g id="Group-63" transform="translate(29.837447, 10.862069)">
                    <line x1="0.387931034" y1="23.5369638" x2="0.387931034" y2="0" id="Path-20"></line>
                    <line x1="1.75947436" y1="2.14740539" x2="1.75947436" y2="6.02671574" id="Rectangle" transform="translate(1.759474, 4.087061) rotate(-315.000000) translate(-1.759474, -4.087061) "></line>
                    <line x1="3.69912953" y1="19.1888015" x2="-0.180180812" y2="19.1888015" id="Rectangle-Copy-24" transform="translate(1.759474, 19.188802) rotate(-135.000000) translate(-1.759474, -19.188802) "></line>
                </g>
                <g id="Group-63" transform="translate(36.139172, 22.456897) rotate(-270.000000) translate(-36.139172, -22.456897) translate(31.139172, 15.956897)">
                    <line x1="5.04310345" y1="11.6748947" x2="5.04310345" y2="0.639171547" id="Path-20"></line>
                    <polyline id="Rectangle" transform="translate(5.043103, 3.491379) rotate(-315.000000) translate(-5.043103, -3.491379) " points="6.98275862 1.55172414 6.98275862 5.43103448 3.10344828 5.43103448"></polyline>
                    <polyline id="Rectangle-Copy-24" transform="translate(5.043103, 7.664493) rotate(-315.000000) translate(-5.043103, -7.664493) " points="8.14655172 4.56104456 8.14655172 10.7679411 1.93965517 10.7679411"></polyline>
                </g>
            </g>
        </g>
    </g>
</svg>