<?xml version="1.0" encoding="UTF-8"?>
<svg width="46px" height="39px" viewBox="0 0 46 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 62 (91390) - https://sketch.com -->
    <title>Group 73</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="PreOrder-D-Landingpage" transform="translate(-666.000000, -7986.000000)" stroke="#848A8D" stroke-width="1.5">
            <g id="Group-73" transform="translate(667.000000, 7987.000000)">
                <g id="Group-72" stroke-linecap="round">
                    <path d="M42.1494655,25.3187723 L43.0907268,25.3187723 C43.6430115,25.3187723 44.0907268,25.7664876 44.0907268,26.3187723 L44.0907268,30.9635558 C44.0907268,31.4996203 43.6561607,31.9341864 43.1200962,31.9341864 C42.5840317,31.9341864 42.1494655,31.4996203 42.1494655,30.9635558 C42.1494655,28.1314482 42.1494655,25.2993406 42.1494655,22.467233 C42.1494655,19.3114887 42.1494655,13.5096782 42.1494655,10.3539339" id="Oval"></path>
                    <path d="M0,25.3187723 L0.941261273,25.3187723 C1.49354602,25.3187723 1.94126127,25.7664876 1.94126127,26.3187723 L1.94126127,30.9635558 C1.94126127,31.4996203 1.50669513,31.9341864 0.970630637,31.9341864 C0.434566138,31.9341864 -1.69360334e-15,31.4996203 0,30.9635558 C0,28.1314482 0,25.2993406 0,22.467233 C0,19.3114887 0,13.5096782 0,10.3539339" id="Oval-Copy-22" transform="translate(0.970631, 21.144060) scale(-1, 1) translate(-0.970631, -21.144060) "></path>
                    <path d="M42.1494655,10.391616 C42.1494655,5.46566514 39.3467916,2.28429973 34.4458289,3.94011485 C28.5103902,5.94543295 23.0003171,4.82619427 19.9048855,2.99269468 C11.3516373,-1.80209844 1.9,-0.433397777 1.9,10.391616" id="Oval"></path>
                </g>
                <path d="M41.7499348,36.1001942 L2.49993484,36.3501942 L2.24993484,22.8636277 C2.24993339,22.2940659 2.46276565,21.7694331 2.81697778,21.3702538 C3.17119042,20.9710739 3.66678327,20.6973477 4.23230228,20.6295996 C10.1347174,19.9225014 16.0491806,19.5689442 21.975693,19.5689442 C27.9058624,19.5689442 33.8361713,19.9229377 39.7666287,20.6308877 C40.3323538,20.6984161 40.8281795,20.9720779 41.1825742,21.3712928 C41.5369707,21.7705096 41.7499348,22.2952805 41.7499348,22.8650244 L41.7499348,36.1001942 Z" id="Rectangle"></path>
            </g>
        </g>
    </g>
</svg>