<?xml version="1.0" encoding="UTF-8"?>
<svg width="34px" height="46px" viewBox="0 0 34 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 62 (91390) - https://sketch.com -->
    <title>Group 74</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="PreOrder-D-Landingpage" transform="translate(-1120.000000, -8582.000000)" stroke="#848A8D" stroke-width="1.5">
            <g id="Group-74" transform="translate(1121.000000, 8582.000000)">
                <path d="M32.006079,44.8776436 C32.006079,36.695417 32.006079,32.0377502 32.006079,30.9046432 C32.006079,29.2049827 24.8412742,27.8271356 16.0030395,27.8271356 C7.16480484,27.8271356 0,29.2049827 0,30.9046432 C0,32.0377502 0,36.695417 0,44.8776436" id="Oval-Copy-23" transform="translate(16.003040, 36.352390) rotate(-180.000000) translate(-16.003040, -36.352390) "></path>
                <path d="M11.7306128,1.34124236 C12.7883053,0.925965674 14.3127352,0.75 16.0030395,0.75 C17.6933438,0.75 19.2177737,0.925965674 20.2754663,1.34124236 C20.6650085,1.49418642 20.9856907,1.67415302 21.197328,1.90750035 C21.3288889,2.05255685 21.4080547,2.21992813 21.4080547,2.41661378 C21.4080547,3.20120441 20.6278225,4.26772259 19.5504534,5.0896803 C18.596645,5.81736966 17.3594134,6.36246201 16.0030395,6.36246201 C14.6466657,6.36246201 13.409434,5.81736966 12.4556257,5.0896803 C11.3782565,4.26772259 10.5980243,3.20120441 10.5980243,2.41661378 C10.5980243,2.21992813 10.6771902,2.05255685 10.808751,1.90750035 C11.0203884,1.67415302 11.3410706,1.49418642 11.7306128,1.34124236 Z" id="Oval"></path>
                <path d="M16.0030395,7.2636583 C16.0030395,16.8333203 10.8820234,19.7858836 3.03198291,17.2426966" id="Path-28" stroke-linecap="round"></path>
                <path d="M28.9740961,7.2636583 C28.9740961,16.8333203 23.85308,19.7858836 16.0030395,17.2426966" id="Path-28-Copy" stroke-linecap="round" transform="translate(22.488568, 12.687795) scale(-1, 1) translate(-22.488568, -12.687795) "></path>
                <path d="M20.3489297,26.2751979 C20.3489297,24.4498315 20.3489297,23.2315687 20.3489297,22.6204095 C20.3489297,20.0233035 18.2737914,17.9179331 15.7139785,17.9179331 C13.1541657,17.9179331 11.0790274,20.0233035 11.0790274,22.6204095 C11.0790274,24.3518135 11.0790274,25.6566618 11.0790274,26.5349544" id="Oval" stroke-linecap="round" transform="translate(15.713979, 22.226444) rotate(-180.000000) translate(-15.713979, -22.226444) "></path>
                <path d="M20.0940947,30.843465 C28.0354176,30.0064712 32.006079,29.0214208 32.006079,27.8883138 C32.006079,26.1886533 24.8412742,24.8108062 16.0030395,24.8108062 C7.16480484,24.8108062 0,26.1886533 0,27.8883138 C0,29.0214208 4.15175736,30.0064712 12.4552721,30.843465" id="Oval" transform="translate(16.003040, 27.827136) rotate(-180.000000) translate(-16.003040, -27.827136) "></path>
                <line x1="16.0030395" y1="20.8781037" x2="16.0030395" y2="11.8709473" id="Path-30" stroke-linecap="round"></line>
            </g>
        </g>
    </g>
</svg>