<?xml version="1.0" encoding="UTF-8"?>
<svg width="38px" height="47px" viewBox="0 0 38 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 62 (91390) - https://sketch.com -->
    <title>Group 75</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
        <g id="PreOrder-D-Landingpage" transform="translate(-1115.000000, -8404.000000)" stroke="#848A8D" stroke-width="1.5">
            <g id="Group-13" transform="translate(-331.000000, 8184.000000)">
                <g id="Group-75" transform="translate(1447.000000, 220.000000)">
                    <line x1="35.3866562" y1="3.17871708" x2="36.061253" y2="20.6972276" id="Rectangle" transform="translate(35.723955, 11.937972) rotate(5.000000) translate(-35.723955, -11.937972) "></line>
                    <line x1="15.8649441" y1="0.95155554" x2="14.9534662" y2="18.2349151" id="Rectangle-Copy-9" transform="translate(15.409205, 9.593235) rotate(5.000000) translate(-15.409205, -9.593235) "></line>
                    <path d="M35.6506308,19.7331292 L35.9693195,29.9770133 C36.0173115,31.5193305 34.8874917,32.8464985 33.3572887,33.0453054 C30.1325879,33.4642645 27.0309944,33.6737441 24.0525081,33.6737441 C21.0784425,33.6737441 17.9816348,33.4648858 14.7620851,33.0471694 C13.2257514,32.8478392 12.0938659,31.5114872 12.1500555,29.9632958 L12.5413991,19.1806042 L12.5413991,19.1806042 L35.6506308,19.7331292 Z" id="Rectangle" transform="translate(24.052508, 26.427174) rotate(5.000000) translate(-24.052508, -26.427174) "></path>
                    <line x1="9.28981488" y1="26.0538084" x2="0" y2="26.0538084" id="Path-29"></line>
                    <line x1="9.16318448" y1="33.5920753" x2="0.960764795" y2="37.9533792" id="Path-29-Copy"></line>
                    <line x1="15.7142624" y1="36.7954545" x2="12.6897945" y2="45.5791471" id="Path-29-Copy-2"></line>
                </g>
            </g>
        </g>
    </g>
</svg>