<div id="newsletterModal" class="newsletter-flyout template-{{ template.name | handle }}" data-newsletter-modal>
  <h2>The best Health Tips directly in your inbox</h2>
  <form id="newsletter-subscription">
    <label for="newsletterEmail">Your Email</label>
    <input type="email" id="newsletterEmail" />
<button type="submit">I want to subscribe!</button>
</form>
</div>
<div class="newsletter-flyout-opener" data-newsletter-open-btn>
  <p>Subscribe!</p>
</div>
