<style>
[data-page-transition] {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 500ms ease-in-out;
  background-color: #ffffff;
  opacity: 1;
}

[data-page-transition].inactive{
  pointer-events:none;
  opacity: 0
}

[data-page-transition] > div {
  position: absolute;
  left: calc(50% - 29px);
  top: calc(50% - 36px);
  height: 58px;
  width: 72px;
}

[data-icon-y-body] {
  transition: opacity 500ms ease-in-out, top 500ms ease-in-out;
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

[data-icon-y-body].active {
    opacity: 1;
    top: 0;
  }

[data-icon-y-dot] {
  transition: opacity 500ms ease-in-out, top 500ms ease-in-out;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  opacity: 0;
}

[data-icon-y-dot].active {
  opacity: 1;
  top: 0;
}

</style>

<div data-page-transition>
  <div>
    <svg data-icon-y-dot width="12" height="12" viewBox="0 0 14 14"><path d="M13.407 7.366c0 3.54-2.861 6.409-6.39 6.409-3.529 0-6.39-2.87-6.39-6.409 0-3.54 2.861-6.408 6.39-6.408 3.529 0 6.39 2.869 6.39 6.408" fill="#00AEDB" fill-rule="evenodd"/></svg>
    <svg data-icon-y-body width="58" height="70" viewBox="0 0 58 70"><defs><path id="icon-y-b-a" d="M0 .036h56.955v68.978H0z"/></defs><g fill="none" fill-rule="evenodd"><mask id="icon-y-b-b" fill="#fff"><use xlink:href="#icon-y-b-a"/></mask><path d="M45.62 1.592c-2.784 1.593-4.842 3.933-6.494 6.662-2.157 3.562-7.026 12.61-10.698 19.404-3.452-6.463-8.34-15.672-10.599-19.404-1.652-2.729-3.71-5.069-6.494-6.662C7.753-.457 3.785-.375 0 1.213 2.87 2.453 4.628 5.226 6.21 7.7 8.716 11.613 23.145 39 23.086 40.749c.046 6.014.134 18.757.297 19.674.413 2.313 1.358 4.343 3.083 5.96 1.946 1.825 4.298 2.591 6.905 2.617 2.759.027 5.518.007 8.276.005.222 0 .774-.04.774-.04s-3.012-1.284-4.08-2.383c-2.89-2.977-4.22-6.663-4.406-10.737-.008-.18-.02-7.432-.048-12.47l.026.02c-.01-1.12-.024-2.055-.044-2.646-.06-1.748 14.37-29.136 16.875-33.05 1.583-2.473 3.341-5.245 6.21-6.486-3.785-1.588-7.752-1.67-11.334.38" fill="#00AEDB" mask="url(#icon-y-b-b)"/></g></svg>
  </div>
</div>

