<div class="pdp-diffusers__usps">
  <div class="pdp-diffusers__usp">
    {% render 'icon-shipping-truck' %}
    <span>{{ 'products.subscription.free_shipping' | t }}</span>
  </div>
  <div class="pdp-diffusers__usp">
    {% render 'icon-circle-savings' %}
    <span>{{ 'products.subscription.save' | t }}</span>
  </div>

  <div class="pdp-diffusers__usp">
    {% render 'icon-options' %}
    <span>{{ 'products.subscription.customize' | t }}</span>
  </div>
</div>