{% if subscription-title != empty %}
  <div class="pdp-diffusers__title-header">
    <h3 class="pdp-diffusers__title">{{ subscription-title }}</h3>
    {% if note != empty %}
      <button type="button" class="pdp-diffusers__note-button" data-diffuser-info-modal-open data-diffuser-info-modal-focusout>
        {% render 'icon-info' %}
        <span class="visually-hidden">{{ settings.diff_info_title }}</span>
      </button>
    {% endif %}
  </div>
{% endif %}