{% if subscription-title != empty %}
  <div class="pdp-diffusers__title-header">
    <h3 class="pdp-diffusers__title">{{ subscription-title }}</h3>
    {% if note != empty %}
      <span class="pdp-diffusers__note-button">
        {% render 'icon-info' %}
        <div class="pdp-diffusers__note-wrap">
          <span class="pdp-diffusers__note-close">{% render 'icon-close' %}</span>
          <div class="pdp-diffusers__note">{{ note }}</div>
        </div>
      </span>
    {% endif %}
  </div>
{% endif %}