.atc-bar {
  position: fixed;
  z-index: $z-top;
  left: 0;
  bottom: 0;
  margin: 0 0 20px;
  width: 100vw;
  height: 230px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );

  &__inner {
    position: absolute;
    bottom: 130px;
    left: calc(50vw - 420px);
    width: 840px;
    background-color: $color-white;
    border-radius: 30px;
    padding: 6px;
  }

  &__options {
    text-align: center;
  }

  &__option-label {
    @include font-header(700);
    @include text(17px, 24px, $color-body-text, 1px);
  }
  &__current-color {
    @include font-header(500);
    @include text(17px, 24px, $color-theme-8, 1px);
  }

  &__color-wrap {
    @include no-font-size;
    position: relative;
    display: inline-block;
  }

  &__color-input {
    @include transition(box-shadow);
    @include no-browser-styling;
    width: 44px;
    height: 44px;
    padding: 4px;
    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;

    &:checked {
      box-shadow: 0 0 7px 0 rgba($color-black, 0.5);
    }

    &:not(:checked) {
      box-shadow: none;
    }
  }

  &__color-label {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    pointer-events: none;
  }

  &__current {
    display: flex;
    flex-flow: row wrap;
  }

  &__current-swatch {
    align-self: center;

    span {
      @include no-font-size;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-position: center;
      background-size: contain;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__current-content {
    flex: 1;
    align-self: center;
    display: flex;
  }

  &__current-bar {
    margin: 0 0 0 10px;
    align-self: center;
  }

  &__current-text {
    @include poppins(500);
    @include text(17px, 23px, $color-theme-8, 1.34px);
  }

  &__show-more {
    @include no-browser-styling;
    @include poppins(500);
    @include text(17px, 23px, $color-theme-1, 1.34px);
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-decoration: underline;
  }

  &__header {
    align-self: center;
    text-align: center;
    flex: 2;
  }

  &__title {
    @include poppins(700);
    @include text(24px, 26px, $color-title, 1.89px);
  }

  &__price {
    @include poppins(500);
    @include text(18px, 26px, $color-title, 1.42px);
  }

  &__add-wrap {
    align-self: center;
    flex: 1;
    text-align: right;
  }

  &__add {
    @include button(solid, round, 2);
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 10px 33px;
    margin: 0 10px 0 0;
  }
}
