.atc-bar {
  @include transition(opacity);
  position: fixed;
  z-index: $z-top;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100vw;
  height: 230px;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );

  &:not(.active) {
    opacity: 0;

    .atc-bar__inner {
      pointer-events: none;
    }
  }

  &.active {
    opacity: 1;

    .atc-bar__inner {
      pointer-events: auto;
      bottom: 20px;
    }
  }

  &__inner {
    @include transition(bottom);
    position: absolute;
    bottom: 20px;
    background-color: $color-white;
    border-radius: 30px;
    padding: 6px;
  }

  &__options {
    text-align: center;
  }

  &__option-label {
    @include font-header(700);
    @include text(17px, 24px, $color-body-text, 1px);
  }
  &__current-color {
    @include font-header(500);
    @include text(17px, 24px, $color-theme-8, 1px);
  }

  &__color-wrap {
    @include no-font-size;
    position: relative;
    display: inline-block;
  }

  &__color-input {
    @include transition(box-shadow);
    @include no-browser-styling;
    width: 44px;
    height: 44px;
    border: 4px solid $color-white;
    background-color: $color-white;
    border-radius: 50%;
    background-position: center;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:not(:disabled) {
      cursor: pointer;

      &:checked {
        box-shadow: 0 0 7px 0 rgba($color-black, 0.5);
      }

      &:not(:checked) {
        box-shadow: none;
      }
    }
  }

  &__current {
    display: flex;
    flex-flow: row wrap;
  }

  &__current-swatch {
    align-self: center;

    span {
      @include no-font-size;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-position: center;
      background-size: contain;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__current-content {
    flex: 1;
    align-self: center;
    display: flex;
  }

  &__current-bar {
    margin: 0 0 0 10px;
    align-self: center;
  }

  &__current-text {
    @include font-header(500);
    @include text(17px, 23px, $color-theme-8, 1.34px);
  }

  &__show-more {
    @include no-browser-styling;
    @include font-header(500);
    @include text(17px, 23px, $color-theme-1, 1.34px);
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-decoration: underline;
  }

  &__header {
    align-self: center;
    text-align: center;
    flex: 2;
  }

  &__title {
    @include font-header(700);
    @include text(24px, 26px, $color-title, 1.89px);
  }

  &__price {
    @include font-header(500);
    @include text(18px, 26px, $color-title, 1.42px);
  }

  &__add-wrap {
    align-self: center;
    flex: 1;
    text-align: right;
  }

  &__add {
    @include button(solid, round, 2);
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 10px 33px;
    margin: 0 10px 0 0;

    &:disabled {
      background-color: $color-theme-8;
      background-image: none;
    }
  }

  &__exclamation-variant {
    font-size: 20px;
    position: absolute;
    top: 0;
    font-weight: 700;
    color: $color-theme-28;
    pointer-events: none;
    display: none;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
  }

  @include media-query($large-up) {
    &__inner {
      left: calc(50vw - 420px);
      width: 840px;
    }
  }

  @include media-query($large) {
    &__inner {
      left: 5%;
      width: 90%;
    }

    &__title {
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 1.12px;
    }

    &__price {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  @include media-query($medium-down) {
    &__inner {
      left: 5%;
      width: 90%;
      padding: 4px;
    }

    &__option-label {
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 1.5px;
    }

    &__current-color {
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 1.5px;
    }

    &__color-input {
      width: 28px;
      height: 28px;
      padding: 4px;

      &:checked {
        box-shadow: 0 0 5px 0 rgba($color-black, 0.5);
      }
    }

    &__color-label {
      left: 4px;
      top: 4px;
      width: 20px;
      height: 20px;
    }

    &__current-swatch {
      span {
        width: 28px;
        height: 28px;
      }
    }

    &__current-content {
      margin: 0 0 0 4px;
    }

    &__current-text {
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 1.5px;
    }

    &__show-more {
      font-size: 10px;
      line-height: 13px;
      letter-spacing: 1.5px;
    }

    &__header {
      display: none;
    }

    &__add {
      font-size: 14px;
      line-height: 16px;
      padding: 8px 19px;
      margin: 0 4px 0 0;
    }
  }
}
