.pdp-usps {
  z-index: $z-base;
  position: relative;
  margin: 80px 0 39px;

  &__wave-top {
    @include animated-wave;
    top: -30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='30' viewBox='0 0 1600 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 .559c55.65-.745 94.65-.745 117 0 211.955 7.066 347.892 15.098 431 17 113.173 2.59 225.596 0 323 0 49.844 0 266.205-7.032 650-17 16.964-.44 43.298-.44 79 0V30H0V.559z' fill='%23F3F7F8' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
  &__wave-bottom {
    @include animated-wave;
    bottom: -39px;
    height: 39px;
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='39' viewBox='0 0 1600 39' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h1600v12c-75.457-.826-128.124-.826-158 0-330.534 9.135-530.334 18.739-634 21-176.583 3.852-246.043 6.806-354 4S158 20 117 17c-27.333-2-66.333-3.667-117-5V0z' fill='%23F3F7F8' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  &__body {
    background-color: $color-theme-16;
    padding: 20px 0;
  }

  &__container {
    position: relative;
  }

  &__title {
    @include text-title;
    font-weight: 400;
    margin: 0 auto 25px;
    text-align: center;
  }

  &__usps {
    margin: 0;
  }

  &__usp {
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
  }

  &__usp-icon {
    @include no-font-size;
    position: relative;
    width: 104px;
    height: 104px;
    background-color: $color-theme-17;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 20px;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    g {
      stroke: $color-white;
    }
  }

  &__usp-text {
    @include font-header(500);
    @include text(14px, 18px, $color-body-text, 0.83px);
  }
}
