.pdp-g-index {
  margin: 40px 0 0;

  &__dots-wrap {
    position: relative;
    max-width: 510px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__dots {
    > .pdp-g-index__dot-link:not(:first-of-type) {
      display: none;
    }
  }

  &__dot-link {
    @include no-font-size;
    text-align: center;
    margin: auto;
  }

  &__dot-wrap {
    position: relative;
    padding: 0 0 5px;
    border-bottom: 2px solid transparent;

    &.video {
      position: relative;
      max-width: 90px;
      margin: 0 auto;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% + 8px), -50%);
        display: block;

        border-left: 17px solid $color-theme-2;
        border-right: 17px solid transparent;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
      }
    }
  }

  &__dot-video {
    opacity: 0.5;
  }

  .slick-slide {
    height: 100%;

    > div {
      height: 100%;
      display: flex;
    }
  }

  .slick-list {
    height: 100px;
  }

  .slick-track {
    height: 100px;
  }

  .slick-current {
    .pdp-g-index__dot-wrap {
      border-bottom: 2px solid $color-theme-7;
    }
  }

  .slick-prev {
    left: -20px;
  }

  .slick-next {
    right: -20px;
  }

  .slick-arrow {
    @include no-font-size;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    path {
      @include transition(stroke);
    }

    &:hover {
      path {
        stroke: $color-main-1;
      }
    }
  }

  @include media-query($medium-down) {
    margin: 0;
  }
}
