.pdp-tabs-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-bottom: 2px solid $color-theme-7;
  margin: 0 0 45px;

  &__link {
    position: relative;
    bottom: -2px;
    background-color: $color-white;
    border-radius: 2px;

    .active-text {
      @include poppins(700);
      @include text(24px, 30px, $color-theme-7, 1.42px);
      padding: 7px 40px;
      display: block;
    }

    .inactive-text {
      @include poppins(500);
      @include text(24px, 30px, $color-theme-8, 1.42px);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      padding: 7px 40px;
      display: block;
    }

    &.active {
      border-left: 2px solid $color-theme-7;
      border-right: 2px solid $color-theme-7;
      border-top: 2px solid $color-theme-7;
      border-bottom: 2px solid $color-white;

      .active-text {
        visibility: visible;
      }

      .inactive-text {
        visibility: hidden;
      }

      &::after {
        // content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $color-theme-8;
        border-radius: 2px;
      }
    }

    &:not(.active) {
      color: $color-theme-8;
      font-weight: 500;
      border-left: 1px solid $color-theme-8;
      border-right: 1px solid $color-theme-8;
      border-top: 1px solid $color-theme-8;
      border-bottom: 2px solid $color-theme-7;

      .active-text {
        visibility: hidden;
      }

      .inactive-text {
        visibility: visible;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $color-white;
        border-radius: 2px;
      }
    }
  }
}
