.pdp-gallery {
  &__images {
    max-width: 700px;
    padding: 0 40px 0 0;

    > .pdp-gallery__image-item:not(:first-of-type) {
      display: none;
    }
  }

  &__image-item {
    position: relative;

    &.video {
      padding-top: 100%;
    }
  }

  &__video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__img {
    object-fit: cover;
  }

  &__img-wrap {
  }

  &__video-item {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }

  &__play {
    z-index: 1;
    position: absolute;
    bottom: 15px;
    left: 30px;
    border: none;
    background: none;
    span {
      @include poppins(500);
      @include text(18px, 45px, $color-body-text, 1.06px);
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__play-icon {
    width: 45px;
    height: 45px;
    margin: 0 10px 0 0;
    display: inline-block;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 22.698C0 34.855 10.074 44.71 22.5 44.71S45 34.855 45 22.698C45 10.543 34.926.688 22.5.688S0 10.543 0 22.698' fill='%2320D480'/%3E%3Cpath fill='%23FFF' d='M17 15.362V32.97l15-8.805z'/%3E%3C/g%3E%3C/svg%3E");
  }
}
