.pdp-form {
  margin: 0 0 10px;

  &__price {
    @include font-header(700);
    @include text(20px, 28px, $color-body-text, 1.18px);
    margin: 0 0 15px;
  }

  &__option-wrap {
    margin: 0 0 20px;
  }

  &__option-label {
    @include font-header(700);
    @include text(17px, 24px, $color-body-text, 1px);
  }

  &__current-color {
    @include font-header(500);
    @include text(17px, 24px, $color-theme-8, 1px);
  }

  &__color-wrap {
    @include no-font-size;
    position: relative;
    display: inline-block;
  }

  &__color-input {
    @include transition(box-shadow);
    @include no-browser-styling;
    width: 44px;
    height: 44px;
    border: 4px solid $color-white;
    background-color: $color-white;
    border-radius: 50%;

    &:disabled {
      opacity: 0;
      cursor: not-allowed;

      .pdp-form__color-wrap {
        visibility: visible;
      }
    }

    &:not(:disabled) {
      cursor: pointer;

      &:checked {
        box-shadow: 0 0 7px 0 rgba($color-black, 0.5);
      }

      &:not(:checked) {
        box-shadow: none;
      }
    }
  }

  &__value-wrap {
    display: inline-block;

    &:not(:last-of-type) {
      margin: 0 20px 0 0;
    }
  }

  &__value-label {
    @include font-header(500);
    @include text(17px, 24px, $color-body-text, 1px);
    @include underline($color-main-1, false);
  }

  &__value-input {
    display: none;

    &:checked {
      + .pdp-form__value-label {
        color: $color-main-1;

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__sizes {
    margin: 0 0 20px;
  }

  &__sizes-title {
    @include font-header(700);
    @include text(17px, 24px, $color-body-text, 1px);
    margin: 0 0 5px;
  }

  &__sizes-link {
    @include font-header(500);
    @include text(17px, 24px, $color-body-text, 1px);
    @include underline($color-main-1);
    @include transition(color);

    &:hover {
      color: $color-main-1;
    }

    &:not(:first-of-type) {
      margin: 0 0 5px 30px;
    }
  }

  &__qty-wrap {
    margin: 0 0 32px;
  }

  &__qty-box {
    @include no-font-size;
    display: inline-block;
    border: 2px solid $color-theme-8;
    border-radius: 20px;
    padding: 0 10px;
  }

  &__qty-button {
    @include font-header(700);
    @include text(18px, 30px, $color-body-text, 1.06px);
    @include no-browser-styling;
    width: 20px;
    height: 30px;
    text-align: center;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
  }

  &__qty-input {
    @include font-header(500);
    @include text(21px, 30px, $color-body-text, 1.24px);
    @include no-browser-styling;
    @include no-input-spinner;
    width: 40px;
    height: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }

  &__submit {
    @include button(solid, square, 2);
    padding: 10px 0;
    width: 100%;

    span {
      @include font-header(700);
      @include text(24px, 30px, $color-white, 1.2px);
      text-transform: uppercase;
    }

    &:disabled {
      background-color: $color-theme-8;
      background-image: none;
    }
  }

  &__sold-out {
    position: relative;
    margin-top: 10px;

    &-notice {
      @include font-header(bold);
      @include text(14px, 1.2, $color-theme-18, 0.8px);
      display: inline-block;
      padding-top: 10px;

      @include media-query($small) {
        @include text(11px, 1.2, $color-theme-18, 0.65px);
      }
    }

    &-email {
      display: flex;
      margin: 15px 0;

      input[type="email"] {
        border: 2px solid $color-theme-2;
        padding: 10px;
        font-size: 18px;

        @include media-query($small) {
          @include text(14px, 1.2, $color-theme-7, 1px);
        }
      }

      button {
        background-color: $color-theme-2;
        border: 1px solid $color-theme-2;
        width: 200px;
        text-transform: uppercase;
        transition: ease-in-out all 0.3s;
        @include font-header(bold);
        @include text(18px, 1.2, $color-white, 1px);

        @include media-query($small) {
          @include text(14px, 1.2, $color-white, 0.8px);
        }

        &:hover,
        &:active,
        &:focus {
          background-color: var(--color-accent-2);
          transition: ease-in-out all 0.3s;
        }
      }

      &-confirm {
        @include font-header(bold);
        @include text(14px, 1.2, $color-theme-1, 0.8px);
        text-align: center;
        display: inline-block;

        @include media-query($small) {
          @include text(11px, 1.2, $color-theme-1, 0.65px);
        }
      }
    }

    &-gradient {
      width: 100%;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: 20px;
    }
  }

  @include media-query($medium-down) {
    &__price {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.83px;
      margin: 0 10px 0 0;
      align-self: center;
    }

    &__option-wrap {
      margin: 0 auto 20px;
      text-align: center;
    }

    &__option-label {
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.71px;
    }

    &__current-color {
      font-size: 10px;
      line-height: 17px;
      letter-spacing: 0.59px;
      color: $color-body-text;
    }

    &__color-input {
      width: 30px;
      height: 30px;
    }

    &__value-wrap {
      display: inline-block;

      &:not(:last-of-type) {
        margin: 0 20px 0 0;
      }
    }

    &__value-label {
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.71px;
    }

    &__sizes {
      margin: 0 auto 20px;
      text-align: center;
    }

    &__sizes-title {
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.71px;
      margin: 0 0 5px;
    }

    &__sizes-link {
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.71px;

      &:not(:first-of-type) {
        margin: 0 0 5px 15px;
      }
    }

    &__qty-wrap {
      margin: 0;
    }

    &__info-wrap {
      margin: 0 auto 25px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    &__qty-box {
      @include no-font-size;
      display: inline-block;
      border: 2px solid $color-theme-8;
      border-radius: 20px;
      padding: 0 5px;
    }

    &__qty-button {
      font-size: 14px;
      line-height: 20px;
      width: 15px;
      height: 20px;
    }

    &__qty-input {
      font-size: 16px;
      width: 20px;
      height: 20px;
    }

    &__submit {
      @include button(solid, square, 2);
      padding: 5px;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      display: block !important;

      span {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1.2px;
      }
    }
  }
}
