.pdp-video {
  position: relative;
  margin: 0 0 100px;
  overflow: hidden;

  &__outer {
    margin: -30px 0 0;
    overflow: hidden;
    padding: 0 0 40px;
    height: 500px;
  }

  &__bg-outer {
    position: absolute;
    left: 50px;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__bg-wrap {
  }

  &__bg {
  }

  &__content-outer {
    position: relative;
    padding: 50px 0 20px;
    height: 100%;
  }

  &__content {
    align-self: center;
    text-align: center;

    a {
      position: relative;
    }
  }

  &__container {
    height: 100%;
  }

  &__row {
    height: 100%;
  }

  &__text {
    @include font-header(500);
    @include text(20px, 28px, $color-body-text, 1.18px);
    margin: 0 0 20px;
  }

  &__button {
    @include no-browser-styling;
    padding: 0;
    &:hover {
      .pdp-video__button-text {
        color: $color-main-1;
        border-color: $color-main-1;
      }
    }
  }

  &__button-text {
    @include font-header(500);
    @include text(18px, 25px, $color-title, 1.06px);
    @include transition(color, border);
    border-bottom: 2px solid $color-title;
    display: inline-block;
    vertical-align: middle;
  }

  &__button-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
  }

  &__format-wrap {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgba($color-theme-2, 0.5);
    display: flex;
  }

  &__format {
    @include font-header(700);
    @include text(26px, 36px, $color-white);
    margin: auto;
  }

  &__video-outer {
    display: none;
    text-align: center;
  }

  &__video {
    object-fit: cover;
    margin: 0 auto;
    display: inline-block;
  }
}
