.pdp-faqs {
  margin: 0 0 40px;

  &__title {
    @include text-title;
    text-align: center;
    margin: 0 0 40px;
  }

  &__faq {
    padding: 0 0 15px;
    border-bottom: 1px solid $color-main-1;
    margin: 0 0 15px;
  }

  &__faq-btn {
    width: 100%;
    background-color: $color-transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;

    &.open {
      .pdp-faqs__faq-closed {
        display: none;
      }
      .pdp-faqs__faq-open {
        display: block;
      }
    }

    &:not(.open) {
      .pdp-faqs__faq-closed {
        display: block;
      }
      .pdp-faqs__faq-open {
        display: none;
      }
    }
  }

  &__faq-closed {
    @include font-header(700);
    @include text(20px, 28px, $color-main-1, 1.77px);
    align-self: center;
    text-align: center;
    width: 10px;
    margin: 0 25px 0 5px;
  }

  &__faq-open {
    @include font-header(700);
    @include text(20px, 28px, $color-main-1, 1.77px);
    align-self: center;
    text-align: center;
    width: 10px;
    margin: 0 25px 0 5px;
  }

  &__faq-q {
    @include font-header(700);
    @include text(20px, 28px, $color-title);
    width: calc(100% - 111px);
    flex: 1 0 calc(100% - 111px);
    align-self: center;
  }

  &__faq-a {
    @include font-body;
    @include text(18px, 24px, $color-body-text, 1.08px);
    padding: 10px 0 0;
  }

  @include media-query($large-down) {
    &__title {
      padding: 0 0 30px;
      margin: 0 0 15px;
      border-bottom: 1px solid $color-main-1;
    }
  }

  @include media-query($medium-down) {
    margin: 0 0 30px;

    &__title {
      font-size: 24px;
      line-height: 33px;
      letter-spacing: 1.42px;
      text-align: center;
      padding: 0 0 20px;
      margin: 0 0 10px;
    }

    &__faq {
      padding: 0 0 10px;
      margin: 0 0 10px;
    }

    &__faq-closed {
      font-size: 30px;
      line-height: 30px;
      width: 20px;
      margin: 0 5px;
    }

    &__faq-open {
      font-size: 30px;
      line-height: 30px;
      width: 20px;
      margin: 0 5px;
    }

    &__faq-q {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.83px;
      width: calc(100% - 40px);
      flex: 1 0 calc(100% - 40px);
    }

    &__faq-a {
      font-size: 13px;
      line-height: 17px;
      letter-spacing: 0.7px;
      padding: 10px 0 0;
    }
  }
}
