.pdp-tab-3 {
  &__title {
    @include font-header(500);
    @include text(24px, 33px, $color-title, 1.42px);
    text-align: center;
    margin: 30px auto 20px;
  }

  &__el-text {
    @include font-header(500);
    @include text(23px, 32px, $color-body-text, 1.36px);
    margin: 20px auto 0;
    display: block;
  }

  &__elements {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__element {
    @include no-browser-styling;
    text-align: center;
    align-self: flex-end;
    padding: 0;
    flex: 0 0 33.333%;

    &:first-of-type {
      text-align: left;
    }

    &:nth-of-type(2) {
      text-align: center;
    }

    &:last-of-type {
      text-align: right;
    }
  }

  &__illustration {
    @include no-font-size;
    display: inline-block;
  }

  &__return {
    @include no-browser-styling;
    padding: 0;

    .icon {
      @include no-font-size;
      display: inline-block;
      vertical-align: middle;
    }

    .text {
      @include font-header(500);
      @include text(20px, 28px, $color-body-text, 1.18px);
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__video-wrap {
    margin: 0 auto 50px;
    text-align: center;
  }

  &__video {
    display: inline-block;
  }

  @include media-query($large-down) {
    &__title {
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 1px;
      margin: 20px auto 15px;
    }

    &__el-text {
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 1px;
      margin: 20px auto 0;
    }

    &__illustration {
      svg {
        max-width: 180px;
      }
    }

    &__return {
      .text {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1px;
      }
    }

    &__video-wrap {
      margin: 0 auto 40px;
    }
  }

  @include media-query($medium-down) {
    &__title {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.83px;
      margin: 15px auto;
    }

    &__el-text {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.71px;
    }

    &__elements {
      flex-flow: row nowrap;
    }

    &__element {
      &:first-of-type {
        text-align: center;
      }

      &:nth-of-type(2) {
        text-align: center;
      }

      &:last-of-type {
        text-align: center;
      }
    }

    [data-pdp-specs-element="1"] {
      svg {
        max-width: 55px;
        max-height: 178px;
      }
    }

    [data-pdp-specs-element="2"] {
      svg {
        max-width: 46px;
        max-height: 73px;
      }
    }

    [data-pdp-specs-element="3"] {
      svg {
        max-width: 72px;
        max-height: 81px;
      }
    }

    &__return {
      svg {
        max-height: 8px;
      }

      .text {
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0.59px;
      }
    }
  }
}
