.pdp-tab-1 {
  &__features {
    &:not(.slick-initialized) {
      display: flex;
      flex-flow: row nowrap;
      overflow-x: scroll;
      padding: 0 0 20px;

      .pdp-tab-1__feature {
        flex: 0 0 100%;
        max-width: 1330px;
        padding: 0 15px;
        margin: 0 auto;
      }
    }
  }

  &__feature {
    height: 100%;
  }

  &__img-wrap {
    max-height: 425px;
  }

  &__img {
    object-fit: cover;
  }

  &__title {
    @include text-title;
    text-align: center;
    margin: 0 0 30px;
    height: 112px;
  }

  &__content-wrap {
    padding: 40px 15px 60px;
    height: calc(100% - 143px);
    background: linear-gradient(
      to bottom,
      rgba($color-theme-14, 0.01) 0%,
      $color-theme-14 100%
    );

    > .row {
      height: 100%;
    }
  }

  &__subtitle {
    @include text-subtitle($color-main-1);
  }

  &__content-inner {
    align-self: center;
    max-width: 425px;
    margin: auto;
    text-align: center;
  }

  &__content {
    @include font-body;
    @include text(20px, 27px, $color-body-text, 1.18px);
    margin: 30px 0 0;
  }

  &__slider-wrap {
    padding: 0 100px;
  }

  &__slider {
    @include no-browser-styling;
    width: 100%;
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
    display: none;
  }

  .slick-slide {
    margin: 0 15px;
    height: 670px;

    > div {
      height: 100%;
    }
  }

  @include media-query($medium-down) {
    &__img-wrap {
      max-height: 300px;
    }

    &__title {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 1.18px;
      height: 64px;
    }

    &__content-wrap {
      padding: 20px 15px 40px;
      height: calc(100% - 64px);

      background: linear-gradient(
        to bottom,
        rgba($color-theme-20, 0.01) 0%,
        $color-theme-20 100%
      );
    }

    &__subtitle {
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 1.06px;
    }

    &__content-inner {
      align-self: center;
      max-width: 425px;
      margin: auto;
      text-align: center;
    }

    &__content {
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.83px;
    }

    &__slider-wrap {
      padding: 0 100px;
    }

    .slick-slide {
      margin: 0 15px;
      height: 600px;
    }
  }

  @include media-query($small) {
    &__slider-wrap {
      padding: 0 50px;
    }
  }

  @media screen and (max-width: $grid-xs) {
    &__slider-wrap {
      padding: 0 20px;
    }
  }
}
