.pdp-faqs {
  margin: 0 0 40px;

  &__title {
    @include text-title;
    text-align: center;
    margin: 0 0 40px;
  }

  &__faq {
    padding: 0 0 15px;
    border-bottom: 1px solid $color-main-1;
    margin: 0 0 15px;
  }

  &__faq-btn {
    @include clearfix;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    display: block;

    &.open {
      .pdp-faqs__faq-closed {
        display: none;
      }
      .pdp-faqs__faq-open {
        display: block;
      }
    }

    &:not(.open) {
      .pdp-faqs__faq-closed {
        display: block;
      }
      .pdp-faqs__faq-open {
        display: none;
      }
    }
  }

  &__faq-closed {
    @include poppins(700);
    @include text(20px, 28px, $color-main-1, 1.77px);
    text-align: center;
    width: 10px;
    margin: 0 30px 0 0;
    float: right;
  }

  &__faq-open {
    @include poppins(700);
    @include text(20px, 28px, $color-main-1, 1.77px);
    text-align: center;
    width: 10px;
    margin: 0 30px 0 0;
    float: right;
  }

  &__faq-q {
    @include poppins(700);
    @include text(1.18, 28px, $color-title);
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 111px);
  }

  &__faq-a {
    @include open-sans;
    @include text(18px, 24px, $color-body-text, 1.08px);
    padding: 10px 0 0;
  }
}
