.pdp-tab-2 {
  &__container {
    padding-right: 60px;
    padding-left: 60px;
  }

  &__row-o {
    margin-left: -60px;
    margin-right: -60px;
  }

  &__col-o {
    padding-right: 60px;
    padding-left: 60px;
  }

  &__row-i {
    margin-left: -30px;
    margin-right: -30px;
  }

  &__col-i {
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 60px;
  }

  &__img-wrap {
    margin: 0 auto 30px;
  }

  &__included {
  }
  &__item {
    align-self: center;
    width: 100%;
  }
  &__item-title {
    @include poppins(500);
    @include text(18px, 25px, $color-body-text, 1.06px);
    text-align: center;
  }
}
