.pdp-video {
  position: relative;
  margin: -30px 0 100px;
  overflow: hidden;

  &__outer {
    margin: 0;
    overflow: hidden;
    padding: 0 0 40px;
    height: 500px;
  }

  &__bg-outer {
    position: absolute;
    left: 50px;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__content-outer {
    position: relative;
    padding: 50px 0 20px;
    height: 100%;
  }

  &__content {
    align-self: center;
    text-align: center;

    a {
      position: relative;
    }
  }

  &__container {
    height: 100%;
  }

  &__row {
    height: 100%;
  }

  &__title {
    @include text-subtitle;
    margin: 0 0 15px;
  }

  &__text {
    @include font-header(500);
    @include text(20px, 28px, $color-body-text, 1.18px);
    margin: 0 0 20px;
  }

  &__button {
    @include no-browser-styling;
    padding: 0;
    &:hover {
      .pdp-video__button-text {
        color: $color-main-1;
        border-color: $color-main-1;
      }
    }
  }

  &__button-text {
    @include font-header(500);
    @include text(18px, 25px, $color-title, 1.06px);
    @include transition(color, border);
    border-bottom: 2px solid $color-title;
    display: inline-block;
    vertical-align: middle;
  }

  &__button-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
  }

  &__video-outer {
    display: none;
    text-align: center;
  }

  &__video {
    object-fit: cover;
    margin: auto;
    display: inline-block;
  }

  &__modal-wrap {
    z-index: $z-contact-modal;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.5);
    display: flex;
    flex-flow: row wrap;
  }

  &__modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__modal {
    @include no-font-size;
    position: relative;
    z-index: $z-contact-modal;
    background-color: $color-background;
    flex: 0 0 auto;
    width: auto;
    margin: auto;
    padding: 0;
  }

  &__modal-container {
    max-width: 900px;
  }

  &__modal-close {
    @include no-font-size;
    position: absolute;
    top: -20px;
    right: -20px;
    padding: 2px;
    margin: 0;
    border: none;
    border-radius: 0;
    background: $color-transparent;

    g {
      stroke: $color-white;
    }
  }

  @include media-query($large-down) {
    &__modal {
      max-width: calc(100vw - 30px);
    }

    &__modal-close {
      top: -15px;
      right: -15px;
    }
  }

  @include media-query($medium-down) {
    margin: -30px 0 40px;

    &__outer {
      padding: 0;
      height: auto;
    }

    &__bg-outer {
      position: static;
      pointer-events: auto;
      margin: 0 0 30px;
    }

    &__bg-wrap {
      position: relative;
      left: -30px;
      margin: 0 0 15px;
    }

    &__content-outer {
      position: relative;
      padding: 40px 0 0;
      height: 100%;
    }

    &__content {
      align-self: center;
      text-align: center;

      a {
        position: relative;
      }
    }

    &__container {
      height: 100%;
    }

    &__row {
      height: 100%;
    }

    &__title {
      margin: 0 0 15px;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.95px;
      margin: 0;
    }

    &__button-text {
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.71px;
    }

    &__button-icon {
      display: inline-flex;
      svg {
        max-width: 16px;
        max-height: 16px;
      }
    }

    &__video-outer {
      display: none;
      text-align: center;
    }

    &__video {
      object-fit: cover;
      margin: 0 auto;
      display: inline-block;
    }

    &__looped {
      max-height: 100vw;
    }
  }
}
