@import "./pdp-gallery";
@import "./pdp-gallery-index";
@import "./pdp-content";
@import "./pdp-form";
@import "./pdp-usps";
@import "./pdp-video";
@import "./pdp-tabs-header";
@import "./pdp-tab-features";
@import "./pdp-tab-included";
@import "./pdp-tab-specs";
@import "./pdp-related";
@import "./pdp-faqs";
@import "./pdp-reviews";
@import "./atc-bar";
@import "./pdp-user-images";

.pdp-tabs {
  margin: 0 0 55px;
}
