@import "./pdp-gallery";
@import "./pdp-gallery-index";
@import "./pdp-content";
@import "./pdp-form";
@import "./pdp-usps";
@import "./pdp-video";
@import "./pdp-tabs-header";
@import "./pdp-tab-features";
@import "./pdp-tab-included";
@import "./pdp-tab-specs";
@import "./pdp-related";
@import "./pdp-faqs";
@import "./pdp-reviews";
@import "./atc-bar";
@import "./pdp-user-images";

.pdp-tabs {
  margin: 0 0 55px;
}

[data-section-type="product"] {
  margin: 70px 0 0;
}

@include media-query($medium-down) {
  [data-section-type="product"] {
    margin: 20px 0 0;
  }
}
