@import "./pdp-gallery";
@import "./pdp-gallery-index";
@import "./pdp-content";
@import "./pdp-form";
@import "./pdp-usps";
@import "./pdp-video";
@import "./pdp-tabs-header";
@import "./pdp-tab-features";
@import "./pdp-tab-included";
@import "./pdp-tab-specs";
@import "./pdp-related";
@import "./pdp-faqs";
@import "./pdp-reviews";
@import "./atc-bar";
@import "./pdp-user-images";

.pdp-tabs {
  margin: 0 0 55px;
}

[data-section-type="product"] {
  margin: 70px 0 0;

  input[type="range"]::-webkit-slider-thumb {
    @include transition(all);
    width: 15%;
    width: var(--pdp-tab-input-w);
    height: 4px;
    border-radius: 2px;
    border: none;
    background-color: $color-theme-7;
    -webkit-appearance: none;
  }

  input[type="range"]::-webkit-media-slider-thumb {
    @include transition(all);
    width: 15%;
    width: var(--pdp-tab-input-w);
    height: 4px;
    border-radius: 2px;
    border: none;
    background-color: $color-theme-7;
    -webkit-appearance: none;
  }

  input[type="range"]::-moz-range-thumb {
    @include transition(all);
    width: 15%;
    width: var(--pdp-tab-input-w);
    height: 4px;
    border-radius: 2px;
    border: none;
    background-color: $color-theme-7;
  }

  input[type="range"]::-ms-thumb {
    @include transition(all);
    width: 15%;
    width: var(--pdp-tab-input-w);
    height: 4px;
    border-radius: 2px;
    border: none;
    background-color: $color-theme-7;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background-color: $color-theme-6;
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    background-color: $color-theme-6;
  }

  input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    background-color: $color-theme-6;
  }
}

@include media-query($medium-down) {
  [data-section-type="product"] {
    margin: 20px 0 0;
  }
}
