html {
  font-size: 62.5%;
}

body {
  @include font-body;
  font-size: $font-size-d-body;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}
