p {
  &:not(:last-of-type) {
    margin: 0 0 15px;
  }
}

li {
  &:not(:last-of-type) {
    margin: 0 0 10px;
  }
}

a {
  text-decoration: none;
}

a:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  a,
  span,
  p {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
li,
div {
  word-break: break-word;
}

ul,
ol {
  margin: 0;
}

input {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"] {
  font-size: 16px;
  line-height: 1;
  background-color: transparent;
  padding: 5px 0;
  border-radius: 0;
  width: 100%;
}

textarea {
  font-size: 16px;
  line-height: 1;
  background-color: transparent;
  padding: 5px;
  border-radius: 0;
  width: 100%;

  &::placeholder {
    color: $color-black;
  }
}

select {
  font-size: 16px;
  line-height: 1;
  border-radius: 0;
  appearance: none;
}

table {
  border-spacing: 0;
}

table th {
  text-align: left;
  padding: 5px;

  &:last-of-type {
    text-align: right;
  }
}

table td {
  text-align: left;
  padding: 5px;
  vertical-align: top;

  &:last-of-type {
    text-align: right;
  }
}
