.account-page {
  position: relative;
  margin: 0;

  &--account,
  &--order,
  &--addresses {
    margin: 65px 0 100px;
    min-height: 600px;
  }

  &--login {
    max-width: 1024px;
    margin: auto;
  }

  &__image-wrap {
    @include no-font-size;
  }

  &__image {
    object-fit: cover;
    object-position: top;
    max-height: 600px;
    width: 100%;
  }

  &__login-wrap {
    max-width: 470px;
    margin: auto;
  }

  &__login-form {
    @include transition(opacity, transform);
    opacity: 1;
    transform: none;

    &.blur-out {
      opacity: 0;
      transform: scale(1.05);
    }
  }

  [data-address-form] {
    @include transition(opacity, transform);
    opacity: 1;
    transform: none;

    &.blur-out {
      opacity: 0;
      transform: scale(1.05);
    }
  }

  &__recover-form {
    @include transition(opacity, transform);
    opacity: 1;
    transform: none;

    &.blur-out {
      opacity: 0;
      transform: scale(1.05);
    }
  }

  &__title {
    @include text(17px, 38px, $color-title);
    margin: 0 0 10px;
  }

  &__section-title {
    margin: 0 0 15px;
  }

  &__main-title {
    @include text(32px, 38px, $color-title, 0.5px);
    margin: 0 0 70px;
    text-align: center;
  }

  &__sidebar-link {
    @include text(11px, 22px, $color-theme-1);
    margin: 0 0 22px;
    &:hover {
      text-decoration: underline;
    }
  }

  &__sidebar-current {
    @include text(11px, 22px, $color-theme-1);
    margin: 0 0 22px;
  }

  &__input-wrap {
    @include clearfix;
    margin: 0 0 15px;

    &--first-half {
      float: left;
      width: calc(50% - 15px);
      margin: 0 15px 15px 0;
      text-align: left;
    }
    &--second-half {
      float: left;
      width: calc(50% - 15px);
      margin: 0 0 15px 15px;
    }

    &--select {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: 10px;
        bottom: 7px;
        border: 5px solid transparent;
        border-top: 5px solid $color-black;
        pointer-events: none;
      }
    }
  }

  &__submit-wrap {
    margin: 0 0 25px;
  }

  &__input {
    padding: 5px 10px 5px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $color-theme-1;
    background-color: transparent;

    &::placeholder {
      text-transform: uppercase;
    }
  }

  &__select {
    padding: 5px 30px 5px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $color-theme-1;
    background-color: transparent;
    width: 100%;

    &::placeholder {
      text-transform: uppercase;
    }
  }

  &__submit {
    @include button(main);
    letter-spacing: 2px;
    min-width: 132px;
    line-height: 14px;
    padding: 9px 20px;
    margin: 0;
  }

  &__form-link {
    text-decoration: underline;
  }

  &__form-note {
    a {
      text-decoration: underline;
    }
  }

  [data-address] {
    &:not(:last-of-type) {
      padding: 0 0 40px;
      margin: 0 0 40px;
    }
  }

  &__small-wrap {
    margin: 0 0 25px;
  }

  &__small-link {
    @include text(8px, 19px, $color-theme-2);
    text-decoration: none;
    display: inline-block;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color-theme-2;
    }
  }

  &__small-paragraph {
    font-size: 10px;
    line-height: 16px;

    a {
      text-decoration: underline;
    }
  }

  &__element-separator {
    margin: 40px 0 35px;
    height: 1px;
    width: 100%;
    background-color: $color-theme-1;
  }

  &__button {
    @include text(10px, 12px, $color-theme-2, 2px);
    @include transition(background-color, color);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 9px 20px;
    min-width: 132px;
    background: none;
    background-color: transparent;
    border: 1px solid $color-theme-2;
    border-radius: 0;
    height: auto;
    display: inline-block;

    &:hover {
      background: none;
      background-color: $color-theme-2;
      color: $color-white;
      font-weight: 700;
    }
  }

  .errors {
    margin: 0 0 25px;
    ul {
      list-style: none;
      padding: 0;
    }

    li {
      color: $color-theme-2;
    }
    a {
      color: $color-theme-2;
      text-decoration: underline;
    }
  }

  [data-address-form] {
    padding-top: 50px;
  }

  .pagination {
    margin: 40px auto;
  }

  &__orders-table {
    border-collapse: collapse;
    margin: 0 0 50px;
    width: 100%;

    th {
      @include text(11px, 27px, $color-theme-2, 2px);
      text-transform: uppercase;
      padding: 0 20px 20px 0;
      border-bottom: 1px solid $color-theme-1;
    }

    td {
      @include text(11px, 27px, $color-theme-1, 2px);
      padding: 20px 20px 20px 0;
      border-bottom: 1px solid $color-theme-1;
      min-width: 100px;
    }

    .date {
      min-width: 120px;
    }
  }

  @include media-query($xl-down) {
    &__orders-table {
      th {
        padding: 0 10px 20px 0;
        letter-spacing: 1px;
      }

      td {
        padding: 20px 10px 20px 0;
        letter-spacing: 1px;
      }
    }
  }

  @include media-query($large-down) {
    &__login-form {
      margin: 0;
    }

    &__login-wrap {
      max-width: 80%;
    }

    &__sidebar {
      margin: 0 0 40px;
    }

    &__title {
      font-size: 14px;
      line-height: 28px;
      margin: 0 auto 10px;
    }

    &__main-title {
      font-size: 24px;
      line-height: 32px;
      margin: 0 auto 10px;
    }

    &__element-separator {
      margin: 30px 0 25px;
    }

    &__input {
      height: 44px;
    }

    [data-address] {
      &:not(:last-of-type) {
        padding: 0 0 10px;
        margin: 0 0 30px;
      }
    }

    &__address-submit-margin {
      min-height: 30px;
    }

    &__small-link {
      font-size: 8px;
      line-height: 16px;
    }

    &__submit-wrap {
      margin: 0 0 15px;
    }
  }

  @include media-query($medium-down) {
    &--login,
    &--register,
    &--activate,
    &--reset {
      min-height: 600px;
      padding: 60px 50px;
    }

    &__login-wrap {
      padding: 25px 25px 35px;
      background-color: $color-white;
    }

    &__mobile-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    &__orders-table {
      margin: 0 0 40px;

      th {
        padding: 0 5px 5px;
      }

      td {
        padding: 5px;
        min-width: 1px;
      }

      .date {
        min-width: 120px;
      }
    }
  }

  @include media-query($small) {
    &--account,
    &--order,
    &--addresses {
      margin: 30px 0 60px;
      min-height: 1px;
    }

    &__login-wrap {
      max-width: 95%;
    }

    &__input-wrap {
      &--first-half {
        float: none;
        width: 100%;
        margin: 0 0 15px;
        text-align: left;
      }

      &--second-half {
        float: none;
        width: 100%;
        margin: 0 0 15px;
      }

      &--small-center {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: $grid-xxs) {
    &--login,
    &--register,
    &--activate,
    &--reset {
      min-height: 500px;
      padding: 40px 15px;
    }
  }
}
