.footer-copyright {
  @include font-header(500);
  @include text(12px, 14px, $color-white, 0.71px);
  text-align: center;
  width: 100%;
  margin-bottom: 20px;

  a {
    color: $color-white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-white;
      font-weight: 700;
    }
  }

  @include media-query($medium-down) {
    > span:first-of-type {
      display: block;
      padding-bottom: 10px;
    }

    &-delimiter {
      display: none;
    }
  }

  @include media-query($large-down) {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.59px;
    text-align: center;
  }

  @include media-query($large-down) {
    font-size: 14px;
  }

}
