.site-footer {
  position: relative;

  &__newsletter {
    @include transition(background-position 5000 ease);
    height: 240px;
    display: flex;
    align-items: center;
    margin-top: -20px;
    background-position: 0 0;
    background-repeat: repeat-x;
    width: 100%;

    @include media-query($large-down) {
      height: 400px;
      text-align: center;
    }

    @include media-query($small) {
      padding-bottom: 30px;
    }

    &-title {
      h2 {
        @include font-header(bold);
        @include text(30px, 1.2, $color-white, 1px);

        @include media-query($large-down) {
          @include font-header(bold);
          @include text(20px, 1.2, $color-white, 1px);
          text-align: left;
        }

        @include media-query($small) {
          @include text(20px, 1.2, $color-white, 1px);
          padding: 0 30px;
        }
      }
    }

    h2 {
      @include media-query($large-down) {
        text-align: center;
      }
    }

    p {
      @include font-header(bold);
      @include text(14px, 1.2, $color-white, 0.5px);
      font-weight: 400;
      padding-bottom: 10px;
      margin-left: 10px;

      @include media-query($large-down) {
        @include text(14px, 1.2, $color-white, 0.5px);
        text-align: center;
        margin-top: 30px;
      }
    }

    &-button {
      z-index: $z-base;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 100px;
      height: 80%;
      border-radius: 50px;
      background-color: $color-theme-1;
      transition: ease-in-out all 0.3s;

      &.right {
        transform: translateX(90px);
        transition: ease-in-out all 0.3s;
      }

      &-wrapper {
        width: 200px;
        display: inline-block;
        margin-right: 15px;
      }

      &-container {
        position: relative;
        background-color: $color-white;
        border-radius: 50px;
        width: 200px;
        padding: 12px;
        margin: 0 20px 0 0;
        display: inline-flex;
        justify-content: space-around;

        @include media-query($xl) {
          margin: 0 10px 15px 0;
        }

        @include media-query($large-down) {
          margin: 0 10px 10px;
        }

        button {
          @include font-header(bold);
          @include text(18px, 1.2, $color-theme-29, 0.15px);
          position: relative;
          z-index: $z-base;
          transition: ease-in-out all 0.3s;
          border: none;
          background: none;

          &.active {
            color: $color-white;
            transition: ease-in-out all 0.3s;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    &-opt-in {
      display: none;

      @include media-query($large-down) {
        margin: 0 10px 10px;
      }

      form {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      &.active {
        display: inline-block;
      }

      .klaviyo_field_group {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      input {
        border: 2px solid $color-white;
        border-radius: 30px;
        background-color: white;
        color: $color-theme-29;
        padding: 10px;
        width: 250px;
        height: 47px;
        padding-left: 20px;
        padding-bottom: 6.5px;

        @include media-query($small) {
          width: 270px;
          margin-left: 25px;
        }

        @media screen and (width: 320px) {
          margin-left: 0;
        }

        &::-webkit-input-placeholder {
          color: $color-theme-29;
        }

        &:-ms-input-placeholder {
          color: $color-theme-29;
        }

        &::placeholder {
          color: $color-theme-29;
        }
      }

      button {
        background-color: $color-theme-1;
        border: 2px solid $color-white;
        color: $color-white;
        position: relative;
        left: -48px;
        width: 47px;
        height: 44px;
        top: 2.5px;
        color: blue;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-query($xl-up) {
          top: 1.5px;
        }
      }

      svg {
        path {
          stroke: $color-white;
        }
      }
    }
  }

  .opt-in-sms {
    button {
      display: inline-block;
      left: -52px;
      top: 1px;
      line-height: 0;

      @include media-query($xl-up) {
        top: 0;
      }

      @media screen and (width: 320px) {
        left: 220px;
        top: 2px;
        position: absolute;
      }
    }

    @include media-query($small) {
      left: 20px;
      position: relative;
    }

    @media screen and (width: 320px) {
      left: 0;
    }
  }

  &__separator {
    min-height: 50px;

    &.gray {
      background-color: $color-theme-4;
    }

    &:not(.gray) {
      background-color: $color-white;
    }
  }

  &__wave-top {
    @include animated-wave;
    top: 0;
    height: 37px;
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='37' viewBox='0 0 1600 37' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1600 22v15H0V22c39.333 0 65.667-.667 79-2C192.353 8.665 281 2 348 1c227.63-3.397 492.546 25.068 575 28.12 95.694 3.54 184.524 3.815 227.548 4.019C1219.49 33.465 1340.236 28.755 1513 23c18.424-.614 47.424-.947 87-1z' fill='%23F4F4F4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  &__lifestyle {
    position: relative;
    padding: 37px 0 0;
  }

  &__lifestyle-bg {
    padding: 50px 0;
    background-color: $color-theme-4;
  }

  &__lf-title {
    @include text-title;
    margin: 0 0 10px;
  }

  &__lf-content {
    @include font-body;
    @include text(20px, 20px, $color-body-text, 1.18px);
    margin: 0 0 20px;
  }

  &__lf-links-header {
    @include font-header(700);
    @include text(18px, 26px, $color-main-1, 1.06px);
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  &__lf-links {
    @include clearfix;
  }

  &__lf-link {
    @include font-header(700);
    @include text(18px, 26px, $color-theme-8, 1.06px);
    @include transition(color);
    margin: 0 0 5px;
    width: 50%;
    float: left;
    padding: 0 10px 0 0;

    &:first-of-type {
      display: none;
    }

    &.active {
      color: $color-body-text;
    }
  }

  &__lf-list {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &__lf-article {
    position: relative;
    width: 312px;
    height: 312px;
    flex: 0 0 312px;
    margin-right: 15px;
    transform: translateY(0);
    transition: ease-in-out transform 0.3s;

    &:hover,
    &:focus {
      transform: translateY(-20px);
      transition: ease-in-out transform 0.3s;
    }
  }

  &__lf-a-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    display: block;
    background-image: linear-gradient(
      to bottom,
      $color-transparent 0%,
      $color-theme-9 100%
    );
  }

  &__lf-a-img-wrap {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    display: block;
  }

  &__lf-a-img {
    height: 100%;
    width: 100%;
    max-height: 100% !important;
    max-width: 100%;
    object-fit: cover;
  }

  &__lf-a-content {
    position: absolute;
    bottom: 10px;
    left: 20px;
    max-width: calc(100% - 30px);
    display: block;
  }

  &__lf-a-blog {
    @include font-header(500);
    @include text(14, 20px, $color-white, 1.5px);
    text-transform: uppercase;
    margin: 0 0 5px;
  }

  &__lf-a-title {
    @include font-header(700);
    @include text(20px, 20px, $color-white, 1.18px);
  }

  &__footer {
    position: relative;
    margin: -46px 0 0;
    padding: 46px 0 0;
  }

  &__footer-bg {
    padding: 40px 0 20px;
    background-color: $color-main-1;
  }

  &__wave-middle {
    @include animated-wave;
    top: 0;
    height: 46px;
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='46' viewBox='0 0 1600 46' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1600 16v30H0V16c37 0 75 3 106 8s123.534 18.765 234 17c215.55-3.444 495.155-34.135 751-40 82.695-1.896 219.767 8.759 324 14 72.128 3.627 129.152 2.363 139 2 9.102-.336 24.435-.67 46-1z' fill='%2300AEDB' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  &__parent-link {
    @include font-header(700);
    @include text(15px, 33px, $color-white, 0.22px);
    margin: 0 0 5px;
    display: inline-block;
    min-width: 51%;

    &:focus {
      color: $color-white;
    }
  }

  &__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include media-query($medium-down) {
      margin: 0 auto;
    }
  }

  &__menu-item {
    margin: 0;
    padding: 0;

    &:not(:last-of-type) {
      margin: 0 0 3px;
    }
  }

  &__menu-link {
    @include font-body;
    @include text(14px, 24px, $color-white, 0.16px);
    margin: 0;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-white;
      font-weight: 700;
    }
  }

  @include media-query($large-up) {
    &__p-link-wrap {
      pointer-events: none;
    }
  }

  @include media-query($large-down) {
    &__lifestyle-bg {
      padding: 10px 0;
    }

    &__lf-title {
      text-align: center;
      margin: 0 0 5px;
    }

    &__lf-content {
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.77px;
      margin: 0 auto 10px;
      max-width: 400px;
      text-align: center;
    }

    &__lf-links-header {
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.77px;
      margin: 0 auto 5px;
      text-align: center;
    }

    &__lf-link {
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.77px;
      margin: 0 auto 5px;
      text-align: center;
      padding: 0 5px;
    }

    &__lf-links {
      margin: 0 0 10px;
    }

    &__lf-article {
      width: 285px;
      height: 285px;
      flex: 0 0 285px;
      margin: 0 9px 0 0;
    }

    &__lf-a-blog {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.83px;
    }

    &__lf-a-title {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 1.06px;
    }

    &__lf-list {
      padding: 0 0 15px;
    }

    &__footer-bg {
      padding: 10px 0 20px;
    }

    &__p-link-wrap {
      text-align: center;

      @include media-query($medium-down) {
        width: 70%;
        margin: 0 auto;
      }

      &.open {
        .site-footer__closed {
          display: none;
        }
        .site-footer__open {
          display: none;
        }
      }

      &:not(.open) {
        .site-footer__closed {
          display: none;
        }
        .site-footer__open {
          display: none;
        }
      }
    }

    &__parent-link {
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.13px;
      margin: 0 auto 10px;

      @include media-query($medium-down) {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $color-theme-17;
        padding: 5px 0;
      }
    }

    &__menu-list {
      text-align: center;
      margin: 0 0 30px;
    }

    &__menu-item {
      margin: 0;
      padding: 0;

      @include media-query($large-down) {
        width: 100%;
        text-align: center;
      }

      @include media-query($medium-down) {
        margin: 0 auto !important;
        text-align: left;
        width: 70%;
      }
    }

    &__menu-link {
      font-size: 14px;
      line-height: 30px;
      letter-spacing: 0.11px;
    }
  }

  &__reach-out {
    display: flex;
    flex-direction: column;

    @include media-query($xl-up) {
      padding-top: 5px;
    }

    @include media-query($large-down) {
      flex-direction: column;
      margin-bottom: 20px;
      text-align: center;
    }

    .social-links {
      margin-left: 0;
      margin-top: 15px;
    }

    .icon-divider svg {
      margin: 10px;
      margin-bottom: 30px;
    }

    a {
      @include font-body;
      @include text(14px, 24px, $color-white, 0.16px);
      padding: 5px 0;

      @include media-query($xl-up) {
        padding: 2px 0;
      }
    }

    &-title {
      @include font-header(700);
      @include text(15px, 26px, $color-white, 1.18px);
      margin-top: 6px;

      @include media-query($large-down) {
        text-align: center;
      }
    }
  }

  &.open {
    .site-footer__closed {
      display: none;
    }
    .site-footer__open {
      display: none;
    }
  }

  &:not(.open) {
    .site-footer__closed {
      display: none;
    }
    .site-footer__open {
      display: none;
    }
  }

  &__closed,
  &__open {
    @include media-query($large-up) {
      display: none;
    }
  }

  @include media-query($medium-down) {
    &.open {
      .site-footer__closed {
        display: none;
      }
      .site-footer__open {
        display: inline-block;
      }
    }

    &:not(.open) {
      .site-footer__closed {
        display: inline-block;
      }
      .site-footer__open {
        display: none;
      }
    }
  }
}

.site-footer__lf-list {
  scrollbar-width: thin;
  padding-bottom: 15px;

  &::-webkit-scrollbar {
    width: 20px;
    height: 7px;
    margin-top: 5px;
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-track {
    background: $color-transparent;
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-black;
    border-radius: 6px;
    border: 1px solid $color-transparent;
    -webkit-appearance: none;
  }
}

.iti__flag {
  border-radius: 50%;
  width: 12px !important;
  height: 12px !important;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: white !important;
  border-radius: 50%;
  height: 40px;
  top: 3px;
}

.iti__country-list {
  @include media-query($medium-down) {
    width: 250px;
  }
}

@import "./footer-copyright";
@import "./footer-newsletter";
@import "./footer-payment";
@import "./social-links";
