.footer-copyright {
  @include font-header(500);
  @include text(12px, 14px, $color-white, 0.71px);
  text-align: right;
  width: 100%;

  a {
    color: $color-white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-white;
      font-weight: 700;
    }
  }

  @include media-query($large-down) {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.59px;
    text-align: center;
  }
}
