.footer-copyright {
  @include font-header(500);
  @include text(12px, 14px, $color-white, 0.71px);

  a {
    color: $color-white;
    text-decoration: none;
  }

  @include media-query($medium-down) {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.59px;
    text-align: center;
  }
}
