.footer-newsletter {
  &__title {
    @include font-header(700);
    @include text(20px, 26px, $color-white, 1.18px);
    margin: 0 0 20px;
  }

  &__success {
    @include font-header(500);
    @include text(18px, 20px, $color-white, 1.18px);
  }

  &__input {
    @include font-body;
    color: $color-body-text;
    letter-spacing: 0.15px;
    margin: 0 0 10px;
    display: block;
    max-width: 300px;
    padding: 4px 10px;
    border: none;
    background-color: $color-white !important;

    &::placeholder {
      color: $color-theme-8;
    }
  }

  &__button {
    @include button(wire, r, white);
    &:focus {
      box-shadow: 0 2px 2px $color-white;
    }
  }

  @include media-query($large-up) {
    &__input.footer-newsletter__input {
      font-size: 20px;
      line-height: 27px;
    }
  }

  @include media-query($large-down) {
    text-align: center;

    &__title {
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.15px;
      margin: 0 0 10px;
    }

    &__success {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.12px;
    }

    &__input.footer-newsletter__input {
      font-size: 16px;
      line-height: 22px;
      margin: 0 auto 5px;
      padding: 9px 10px;
    }

    &__button {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1.2px;
      margin: 10px 0 0;
      padding: 3px 20px;
    }
  }
}
