.footer-newsletter {
  &__title {
    @include font-header(700);
    @include text(20px, 20px, $color-white, 1.18px);
    margin: 0 0 20px;
  }

  &__success {
    @include font-header(500);
    @include text(18px, 20px, $color-white, 1.18px);
  }

  &__input {
    @include font-body;
    @include text(20px, 27px, $color-body-text);
    margin: 0 0 10px;
    display: block;
    width: 100%;
    padding: 4px 10px;
    border-radius: 0;
    border: none;
    background-color: $color-white;

    &::placeholder {
      color: $color-theme-8;
    }
  }

  &__button {
    @include button(wire, r, white);
  }
}
