.site-footer {
  position: relative;

  &__newsletter {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    margin-top: -20px;

    @include media-query($large-down) {
      height: 380px;
    }

    &-title {
      @include font-header(bold);
      @include text(30px, 1.2, $color-white, 1px);

      @include media-query($large-down) {
        @include font-header(bold);
        @include text(20px, 1.2, $color-white, 1px);
        text-align: left;
      }
    }

    h2 {
      @include media-query($large-down) {
        text-align: center;
      }
    }

    p {
      @include font-header(bold);
      @include text(14px, 1.2, $color-white, 0.5px);
      padding-bottom: 10px;

      @include media-query($large-down) {
        @include text(14px, 1.2, $color-white, 0.5px);
        text-align: center;
        margin-top: 30px;
      }
    }

    &-button {
      width: 100px;
      height: 75%;
      border-radius: 50px;
      background-color: $color-theme-17;
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 1;
      transition: ease-in-out all 0.3s;

      &.right {
        transform: translateX(90px);
        transition: ease-in-out all 0.3s;
      }

      &-container {
        background-color: $color-white;
        border-radius: 50px;
        width: 200px;
        padding: 10px;
        position: relative;
        display: flex;
        justify-content: space-around;

        @include media-query($large-down) {
          margin: 0 auto;
          margin-bottom: 20px;
        }

        button {
          @include font-header(bold);
          @include text(18px, 1.2, $color-theme-24, 0.15px);
          position: relative;
          z-index: 1;
          transition: ease-in-out all 0.3s;
          border: none;
          background: none;

          &.active {
            color: $color-white;
            transition: ease-in-out all 0.3s;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    &-opt-in {
      display: none;

      &.active {
        display: flex;
        justify-content: center;
      }

      input {
        border: 2px solid $color-white;
        color: $color-white;
        padding: 10px;
        background-color: $color-transparent;

        &::-webkit-input-placeholder {
          color: $color-white;
        }

        &:-ms-input-placeholder {
          color: $color-white;
        }

        &::placeholder {
          color: $color-white;
        }
      }

      button {
        background-color: $color-transparent;
        border: 2px solid $color-white;
        color: $color-white;
        position: relative;
        left: -1px;
        width: 50px;
      }
    }
  }

  &__separator {
    min-height: 50px;

    &.gray {
      background-color: $color-theme-4;
    }

    &:not(.gray) {
      background-color: $color-white;
    }
  }

  &__wave-top {
    @include animated-wave;
    top: 0;
    height: 74px;
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='74' viewBox='0 0 1600 74' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1600 46c266.667 4.641 266.667 13.923 0 27.846H0V46c20.745-2.053 36.344-4.607 46.798-7.66C115.553 18.251 226.984-1.572 330 .174c112.97 1.914 463.096 54.137 593 58.944 95.694 3.541 184.524 3.816 227.548 4.02C1270.503 63.707 1523.704 44.672 1600 46z' fill='%23F4F4F4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  &__lifestyle {
    position: relative;
    padding: 74px 0 0;
  }

  &__lifestyle-bg {
    padding: 50px 0;
    background-color: $color-theme-4;
  }

  &__lf-title {
    @include text-title;
    margin: 0 0 10px;
  }

  &__lf-content {
    @include font-body;
    @include text(20px, 20px, $color-body-text, 1.18px);
    margin: 0 0 20px;
  }

  &__lf-links-header {
    @include font-header(700);
    @include text(18px, 26px, $color-main-1, 1.06px);
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  &__lf-links {
    @include clearfix;
  }

  &__lf-link {
    @include font-header(700);
    @include text(18px, 26px, $color-theme-8, 1.06px);
    @include transition(color);
    margin: 0 0 5px;
    width: 50%;
    float: left;
    padding: 0 10px 0 0;

    &:first-of-type {
      display: none;
    }

    &.active {
      color: $color-body-text;
    }
  }

  &__lf-list {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &__lf-article {
    position: relative;
    width: 312px;
    height: 312px;
    flex: 0 0 312px;
    margin-right: 15px;
    transform: translateY(0);
    transition: ease-in-out transform 0.3s;

    &:hover,
    &:focus {
      transform: translateY(-20px);
      transition: ease-in-out transform 0.3s;
    }
  }

  &__lf-a-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    display: block;
    background-image: linear-gradient(
      to bottom,
      $color-transparent 0%,
      $color-theme-9 100%
    );
  }

  &__lf-a-img-wrap {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    display: block;
  }

  &__lf-a-img {
    height: 100%;
    width: 100%;
    max-height: 100% !important;
    max-width: 100%;
    object-fit: cover;
  }

  &__lf-a-content {
    position: absolute;
    bottom: 10px;
    left: 20px;
    max-width: calc(100% - 30px);
    display: block;
  }

  &__lf-a-blog {
    @include font-header(500);
    @include text(14, 20px, $color-white, 1.5px);
    text-transform: uppercase;
    margin: 0 0 5px;
  }

  &__lf-a-title {
    @include font-header(700);
    @include text(20px, 20px, $color-white, 1.18px);
  }

  &__footer {
    position: relative;
    margin: -50px 0 0;
    padding: 50px 0 0;
  }

  &__footer-bg {
    padding: 40px 0 20px;
    background-color: $color-main-1;
  }

  &__wave-middle {
    @include animated-wave;
    top: 0;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='50' viewBox='0 0 1600 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1600 19v31H-1l1-31c155.944 10.783 257.436 28.006 376 26 230.594-3.9 462.386-24.566 642-35C1181.383.509 1268.85 0 1301 0c85.667 0 185.333 6.333 299 19z' fill='%2300AEDB' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  &__parent-link {
    @include font-header(700);
    @include text(24px, 33px, $color-white, 0.22px);
    margin: 0 0 40px;
    display: inline-block;
    min-width: 51%;

    &:focus {
      color: $color-white;
    }
  }

  &__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include media-query($medium-down) {
      margin: 0 auto;
    }
  }

  &__menu-item {
    margin: 0;
    padding: 0;
  }

  &__menu-link {
    @include font-body;
    @include text(18px, 24px, $color-white, 0.16px);
    margin: 0;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-white;
      font-weight: 700;
    }
  }

  @include media-query($large-up) {
    &__p-link-wrap {
      pointer-events: none;
    }
  }

  @include media-query($large-down) {
    &__lifestyle-bg {
      padding: 10px 0;
    }

    &__lf-title {
      text-align: center;
      margin: 0 0 5px;
    }

    &__lf-content {
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.77px;
      margin: 0 auto 10px;
      max-width: 400px;
      text-align: center;
    }

    &__lf-links-header {
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.77px;
      margin: 0 auto 5px;
      text-align: center;
    }

    &__lf-link {
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.77px;
      margin: 0 auto 5px;
      text-align: center;
      padding: 0 5px;
    }

    &__lf-links {
      margin: 0 0 10px;
    }

    &__lf-article {
      width: 285px;
      height: 285px;
      flex: 0 0 285px;
      margin: 0 9px 0 0;
    }

    &__lf-a-blog {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.83px;
    }

    &__lf-a-title {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 1.06px;
    }

    &__lf-list {
      padding: 0 0 15px;
    }

    &__footer-bg {
      padding: 10px 0 20px;
    }

    &__p-link-wrap {
      text-align: center;

      @include media-query($medium-down) {
        width: 50%;
        margin: 0 auto;
      }

      @include media-query($small) {
        width: 70%;
      }

      &.open {
        .site-footer__closed {
          display: none;
        }
        .site-footer__open {
          display: inline-block;
        }
      }

      &:not(.open) {
        .site-footer__closed {
          display: inline-block;
        }
        .site-footer__open {
          display: none;
        }
      }
    }

    &__parent-link {
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.13px;
      margin: 0 auto 10px;

      @include media-query($large-down) {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $color-theme-17;
        padding: 5px 0;
      }
    }

    &__menu-list {
      text-align: center;
      margin: 0 0 30px;
    }

    &__menu-item {
      margin: 0;
      padding: 0;

      @include media-query($large-down) {
        width: 50%;
        text-align: left;
      }

      @include media-query($medium-down) {
        margin: 0 auto !important;
      }

      @include media-query($small) {
        width: 70%;
      }
    }

    &__menu-link {
      font-size: 12px;
      line-height: 30px;
      letter-spacing: 0.11px;
    }
  }

  &__reach-out {
    display: flex;
    align-items: center;

    @include media-query($large-down) {
      flex-direction: column;
      margin-bottom: 20px;
    }

    .social-links {
      margin-left: 20px;
      margin-top: 5px;

      @include media-query($large-down) {
        display: none;
      }
    }

    .icon-divider svg {
      margin: 10px;
      margin-bottom: 30px;
    }

    a {
      color: $color-white;

      @include media-query($large-down) {
        padding: 5px 0;
      }
    }

    &-title {
      @include font-header(700);
      @include text(20px, 26px, $color-white, 1.18px);

      @include media-query($large-down) {
        text-align: center;
      }
    }

    &-tel {
      @include media-query($large-up) {
        margin-left: 10px;
      }
    }
  }

  &__closed,
  &__open {
    @include media-query($large-up) {
      display: none;
    }
  }
}

.site-footer__lf-list {
  scrollbar-width: thin;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    width: 20px;
    height: 7px;
    margin-top: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $color-transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-black;
    border-radius: 6px;
    border: 1px solid $color-transparent;
  }
}

@import "./footer-copyright";
@import "./footer-newsletter";
@import "./footer-payment";
@import "./social-links";
