.footer-payment {
  &__title {
    @include font-header(500);
    @include text(15px, 26px, $color-white, 1.18px);
    margin: 0 0 15px;

    @include media-query($large-down) {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    @include media-query($large-down) {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }

  li {
    display: inline-block;
    padding-right: 8px;
  }

  &__options {
    ul {
      display: flex;
      flex-wrap: wrap;

      @include media-query($large-down) {
        justify-content: center;
      }
    }

    li {
      &.footer-payment__google-pay {
        img {
          width: 30px;
        }
      }

      &.footer-payment__apple-pay {
        position: relative;
        top: -5px;
      }
    }

    img {
      width: 50px;
    }
  }

  &__options,
  &__methods {
    margin-bottom: 20px;
  }

  &__methods {
    li {
      width: 40px;
      padding-right: 3px;

      @include media-query($large-down) {
        width: 30px;
      }

      @include media-query($medium-down) {
        width: 50px;
      }

      &.footer-payment__discover {
        position: relative;
        top: -1px;
      }

      &.footer-payment__visa {
        @include media-query($large-down) {
          position: relative;
          top: 1px;
        }
      }
    }
  }
}
