.social-links {
  margin: 25px 0 5px;

  &__link {
    &:not(:last-of-type) {
      margin: 0 10px 0 0;
    }

    svg {
      width: 15px;
      height: 15px;
    }
  }

  @include media-query($large-down) {
    text-align: center;
    margin: 25px 0;

    &__link {
      &:not(:last-of-type) {
        margin: 0 9px;
      }
      &:last-of-type {
        margin: 0 9px;
      }
    }
  }
}
