@charset 'UTF-8';

// 1. Settings
@import "./1.settings/settings";

// 2. Tools
@import "./2.tools/tools";

body {
  @import "./6.components/template/article/article";
  @import "./6.components/global/blog/blog-newsletter";
  @import "./6.components/template/blog/blog-side-menu";
  @import "./6.components/template/article/faq-header";
  @import "./6.components/template/article/faq-article";
}
