@import "./pre-order-header";
@import "./pre-order-video";
@import "./pre-order-bottle-sizes";
@import "./pre-order-alkaline-water";
@import "./pre-order-why-alkaline";
@import "./pre-order-last-bottle";
@import "./pre-order-on-the-go";
@import "./pre-order-diffusers";
@import "./pre-order-hydro-optim";
@import "./pre-order-testimonials";
@import "./pre-order-testimonials-slider";
@import "./pre-order-features";
@import "./pre-order-cap";
@import "./pre-order-guard";
@import "./pre-order-subscription";


&#pre-order {
  overflow-x: hidden;

  .site-header__main {
    background-color: transparent;
  }

  .header-offset {
    min-height: auto !important;
  }

  .site-header [data-site-header-container] {
    @include media-query($large-down) {
      padding: 15px;
    }
  }

  .header-about__main-text,
  .header-shop__main-text,
  .header-bottle__main-text,
  .header-login__main-text,
  .header-help__main-text {
    @include media-query($large-up) {
      color: white;
    }
  }

  .icon-plus-vert path,
  .icon-plus-hor path {
    stroke: white;
    fill: white;

    @include media-query($large-down) {
      stroke: black;
      fill: black;
    }
  }

  .site-header__utils-cart-icon svg g path,
  .header-search__main-link svg g,
  .site-header__utils-cart-icon svg g,
  .header-button__bottom svg path,
  .header-button__middle svg path,
  .header-button__top svg path {
    stroke: white;
  }

  .header-logo__link svg g {
    fill: white;
  }

  .site-header.fixed {
    .site-header__main {
      background-color: rgba(255, 255, 255, 0.95);
    }

    .header-about__main-text,
    .header-shop__main-text,
    .header-bottle__main-text,
    .header-login__main-text,
    .header-help__main-text {
      color: black;
    }

    .icon-plus-vert path,
    .icon-plus-hor path,
    .site-header__utils-cart-icon svg g path,
    .header-search__main-link svg g,
    .site-header__utils-cart-icon svg g,
    .header-button__bottom svg path,
    .header-button__middle svg path,
    .header-button__top svg path {
      stroke: black;
    }

    .header-logo__link svg g {
      fill: $color-theme-1;
    }
  }
}

.po-subscription {
  box-shadow: 0px 10px 100px #EEE;
}
