.po-hydro-optim {
  &__main {
    display: flex;
    align-items: center;

    &-content {
      #title {
        @include font-body(thin);
        @include text(32px, 1.2, $color-black, 0.3px);
        text-transform: uppercase;
        display: block;
      }

      h2 {
        @include font-header(bold);
        @include text(42px, 1.2, $color-black, 0.3px);
      }

      p {
        @include text(16px, 1.5, $color-black, 0.3px);
        margin-top: 20px;
      }
    }
  }

  &__title-tag {
    @include font-body(bold);
    @include text(15px, 1.2, $color-white, 0.3px);
    display: inline-block;
    padding: 2px 10px;
    background-color: $color-theme-2;
    border-radius: 15px;
    color: $color-white;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__perks {
    display: flex;
    margin: 40px 0;

    &-item {
      display: flex;
      padding: 0;
      padding-right: 40px;

      &:last-of-type {
        padding-right: 0;
      }

      img {
        margin-right: 10px;
      }

      &:first-of-type strong {
        color: $color-theme-31;
      }

      &:nth-of-type(2n) strong {
        color: $color-theme-2;
      }

      &:last-of-type strong {
        color: $color-theme-1;
      }
    }
  }

  &__image {
    margin-right: 30px;

    &-container {
      margin-right: 15px;
      min-height: 150px;
    }
  }

  &__subscribe-btn {
    @include font-body(bold);
    @include text(16px, 1.2, $color-white, 0.3px);
    padding: 8px 25px;
    border-radius: 25px;
    background-color: $color-theme-17;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 60px;
  }
}
