.po-diffusers {
  padding: 50px 0;
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;

    @include media-query($medium-down) {
      flex-direction: column;

      > div:first-of-type {
        text-align: center;
      }

      > div:last-of-type {
        flex-direction: column;
      }
    }

    span {
      @include font-body(thin);
      @include text(32px, 1.2, $color-black, 0.3px);
      text-transform: uppercase;
    }

    h2 {
      @include font-header(bold);
      @include text(42px, 1.2, $color-black, 0.3px);
    }

    p {
      @include text(16px, 1.5, $color-black, 0.3px);
      margin-top: 20px;
    }

    img {
      margin: 0 15px;
    }
  }

  &__image-container {
    max-width: 400px !important;

    @include media-query($medium-down) {
      margin: 25px auto;
    }
  }

  &__wave-bottom {
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 .039h1599.005V60c-226.188-6.174-401.498-10.8-525.93-13.877C744.33 37.99 380.715 30.019 0 30.019c-27.234 0 .658-1.01 0-1.474-1.445-1.021 0-.82 0-1.67 0-2.064.012-5.748 0-7.905-.006-1.073-.548-10.585-.548-13.38 0-3.338.182-5.188.548-5.551z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: -20px;
    z-index: $z-base;
  }
}
