.po-why-alkaline-water__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.po-last-bottle {
  min-height: 700px;
  margin-top: 400px;

  @include media-query($xl-down) {
    margin-top: 100px;
    min-height: 500px;
  }

  @include media-query($medium-down) {
    margin-top: 20px;
  }

  &__content {
    position: relative;
    z-index: $z-base;

    @include media-query($medium-down) {
      margin-top: 20px;
      margin-bottom: 50px;
    }

    h2 {
      @include font-header(bold);
      @include text(46px, 1.2, $color-black, 0.3px);

      @include media-query($medium-down) {
        @include text(36px, 1.2, $color-black, 0.3px);
        text-align: center;
      }
    }

    p {
      @include font-body(normal)
      @include text(18px, 1.2, $color-black, 0px);
    }
  }

  &__right-image-wrapper {
    width: 800px;
    position: absolute;
    left: 0;

    @include media-query($xl-down) {
      width: 400px;
      left: -120px;
    }

    @include media-query($medium-down) {
      width: 350px;
      position: relative;
      left: 0;
    }

    @include media-query($small) {
      width: 450px;
    }
  }

  &__left-image-wrapper {
    position: absolute;
    right: 50px;
    margin-top: 400px;

    @include media-query($xl-down) {
      width: 200px;
    }

    @include media-query($medium-down) {
      position: relative;
      margin-top: -190px;
      right: -50px;
      top: 35px;
    }
  }
}
