.po-guard {
  background: rgb(231,240,242);
  background: linear-gradient(0deg, rgba(231,240,242,1) 0%, rgba(255,255,255,1) 100%);
  position: relative;
  padding-top: 130px;
  min-height: 450px;

  &__wave-top {
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='65' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h1600.154v64.848c-398.397-10.15-661.734-19.187-790.012-27.113C681.865 29.808 411.818 21.872 0 13.925V0z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: cover;
    height: 70px;
    width: 100%;
    position: absolute;
    top: -50px;
    transform: rotate(180deg);
  }

  &__btn {
    @include font-body(bold);
    @include text(16px, 1.2, $color-white, 0.3px);
    padding: 8px 25px;
    border-radius: 25px;
    background-color: $color-theme-17;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
  }

  &__title-tag {
    @include font-body(bold);
    @include text(15px, 1.2, $color-white, 0.3px);
    display: inline-block;
    padding: 2px 10px;
    background-color: $color-theme-2;
    border-radius: 15px;
    color: $color-white;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
    align-items: center;
    width: 100%;

    h2 {
      @include font-header(bold);
      @include text(46px, 1.2, $color-black, 0.3px);
    }

    #title {
      @include font-body(thin);
      @include text(32px, 1.2, $color-black, 0.3px);
      text-transform: uppercase;
      display: block;
    }
  }

  &__item {
    width: 50%;
    text-align: center;
    margin-bottom: 25px;

    p {
      margin-top: 15px;
    }
  }

  &__image-container {
    position: absolute;
    left: 0;
    top: -60px;
    max-width: 450px;
    height: auto;
  }

  &__wave-bottom {
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='65' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h1600.154v64.848c-398.397-10.15-661.734-19.187-790.012-27.113C681.865 29.808 411.818 21.872 0 13.925V0z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: cover;
    height: 70px;
    position: absolute;
    bottom: -50px;
    width: 100%;
  }
}
