.pre-order-header {
  overflow: hidden;
  height: 750px;

  > div {
    background-size: cover;
    background-position: right;

    @include media-query($medium-down) {
      background-size: unset;
      background-position: 0 60px;
    }
  }

  &__container {
    height: 750px;
    align-items: center;

    @include media-query($large-down) {
      align-items: flex-start;
      margin-top: 130px;
    }

    h1 {
      font-size: 46px;
      color: $color-white;
      font-weight: 400;
      width: 600px;

      @include media-query($large-down) {
        font-size: 30px;
        text-align: center;
        width: 100%;
      }

      strong {
        font-weight: 800;
      }
    }

    a {
      @include font-body(bold);
      @include text(16px, 1.25, $color-white, 0.3px);
      padding: 8px 25px;
      border: 2px solid $color-white;
      border-radius: 30px;
      display: inline-block;
      margin-top: 20px;

      @include media-query($large-down) {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__content-wrapper {
    width: 100%;
  }

  &__content {
    width: 100%;

    h3 {
      padding-top: 10px;
      color: white;
      text-align: left;

      @include media-query($medium-down) {
        text-align: center;
      }
    }
  }
}
