.po-cap {
  background: rgb(231,240,242);
  background: linear-gradient(0deg, rgba(231,240,242,1) 0%, rgba(255,255,255,1) 100%);
  position: relative;
  padding-top: 130px;
  min-height: 500px;

  @include media-query($medium-down) {
    padding-top: 40px;
    text-align: center;
  }

  &__wave-top {
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='65' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h1600.154v64.848c-398.397-10.15-661.734-19.187-790.012-27.113C681.865 29.808 411.818 21.872 0 13.925V0z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: cover;
    height: 70px;
    width: 100%;
    position: absolute;
    top: -50px;
    transform: rotate(180deg);
  }

  &__btn {
    @include font-body(bold);
    @include text(16px, 1.2, $color-white, 0.3px);
    padding: 8px 25px;
    border-radius: 25px;
    background-color: $color-theme-17;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: $z-base;

    @include media-query($large-down) {
      bottom: -15px;
    }

    @include media-query($medium-down) {
      min-width: 200px;
    }
  }

  &__title-tag {
    @include font-body(bold);
    @include text(15px, 1.2, $color-white, 0.3px);
    display: inline-block;
    padding: 2px 10px;
    background-color: $color-theme-2;
    border-radius: 15px;
    color: $color-white;
    margin-bottom: 10px;
    text-transform: uppercase;

    @include media-query($medium-down) {
      width: 170px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    width: 100%;

    @include media-query($medium-down) {
      flex-direction: column;

      > div:first-of-type {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        .po-cap__title-tag {
          order: 3;
          margin-top: 15px;
        }
      }
    }

    h2 {
      @include font-header(bold);
      @include text(46px, 1.2, $color-black, 0.3px);
    }

    #title {
      @include font-body(thin);
      @include text(32px, 1.2, $color-black, 0.3px);
      text-transform: uppercase;
      display: block;
    }
  }

  &__item {
    width: 50%;
    text-align: center;
    margin-bottom: 25px;

    p {
      margin-top: 15px;
    }
  }

  &__image-container {
    margin-bottom: 40px;
    position: absolute;
    right: 0;
    max-width: 380px;
    height: auto;

    @include media-query($xl-down) {
      margin-bottom: 0;
      max-width: 280px;
      bottom: 0;
    }

    @include media-query($large-down) {
      max-width: 200px;
      bottom: 0;
    }

    @include media-query($medium-down) {
      position: relative;
    }
  }

  &__wave-bottom {
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='65' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h1600.154v64.848c-398.397-10.15-661.734-19.187-790.012-27.113C681.865 29.808 411.818 21.872 0 13.925V0z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: cover;
    height: 70px;
    position: absolute;
    bottom: -70px;
    width: 100%;
  }
}
