.po-why-alkaline-water {
  &__content {
    h2 {
      @include font-header(bold);
      @include text(46px, 1.2, $color-black, 0.3px);
    }

    p {
      @include font-body(normal)
      @include text(18px, 1.2, $color-black, 0px);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    margin-top: 80px;
  }
}
