.tp-header {
  > div {
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;

    @include media-query($medium-down) {
      height: 300px;
    }
  }

  &__title {
    margin-top: -70px;
    width: 100%;
    text-align: center;
    @include font-header(bold);
    @include text(40px, 1.2, $color-theme-7, 2.3px);
  }
}
