&.blog-tagged {
  .pagination {
    display: flex;
    justify-content: center;

    ul {
      list-style: none;

      @include media-query($medium-down) {
        padding-left: 0;
      }
    }

    li {
      display: inline-block;

      &.active {
        font-weight: 700;
      }
    }

    .previous-page {
      top: 14px;
      position: relative;
      margin-right: 10px;
    }

    .next-page {
      top: 14px;
      position: relative;
    }

    .current {
      @include font-header(bold);
      @include text(20px, 1.2, $color-theme-1, 1px);
    }

    a {
      @include font-header(medium);
      @include text(20px, 1.2, $color-theme-1, 1px);
      padding: 0 8px;
    }
  }
}
