.blog-header {
  overflow: hidden;
  height: 468px;

  .container-fluid {
    @include bg-image-only();
    position: relative;
    height: 100%;
  }

  @include media-query($medium-down) {
    height: 232px;
  }

  &__content {
    color: white;

    h2 {
      @include font-header(700);
      @include text(40px, 1.25, white);

      @include media-query($medium-down) {
        @include text(16px);
        margin-bottom: 5px;
        width: 40%;
        color: white;
      }
    }

    p {
      @include font-header(normal);
      font-size: 24px;
      line-height: 1.3;

      @include media-query($medium-down) {
        font-size: 12px;
        width: 40%;
      }
    }
  }

  &__newsletter-overlay {
    &.modal-opened {
      @include transition(opacity);
      transition-delay: 30ms;
      width: 100%;
      height: 100%;
      background-color: $color-black;
      opacity: 0.5;
      position: fixed;
      top: 0;
      left: 0;
      z-index: $z-top;
    }
  }
}
