.blog-recent,
.blog-popular,
.blog-topics,
.blog-recent-tagged,
.blog-search,
.blog-featured,
.blog-mid-banner-upper,
.blog-mid-banner-lower,
.blog-vlog,
.blog-tagged-featured {
  margin: 60px auto;

  h2 {
    @include text-title;
    text-align: center;
    margin-bottom: 35px;

    @include media-query($medium-down) {
      margin-bottom: 15px;
    }
  }
}

.blog-tagged-featured {
  h2 {
    text-align: left;
  }

  .article-card {
    margin: 0;
  }
}

.blog-topics {
  margin-bottom: 0;
}

main.template-blog {
  background-color: #f4f4f4;
}

@import "./blog-header";
@import "../../global/blog/blog-newsletter";
@import "./blog-featured";
@import "./blog-popular";
@import "./blog-recent";
@import "./blog-search";
@import "../../global/ajax-search";
@import "./blog-side-menu";
@import "./blog-banner";
@import "./blog-mid-banner";
@import "./blog-vlog";
@import "./blog-topics";
@import "./blog-social-sharing";
