.blog-recent,
.blog-popular,
.blog-topics,
.blog-search,
.blog-featured,
.blog-mid-banner-upper,
.blog-mid-banner-lower,
.blog-vlog {
  margin: 60px auto;

  h2 {
    @include text-title;
    text-align: center;
    margin-bottom: 35px;

    @include media-query($medium-down) {
      margin-bottom: 15px;
    }
  }
}

@import "./blog-header";
@import "../../global/blog/blog-newsletter";
@import "./blog-featured";
@import "./blog-popular";
@import "./blog-search";
@import "./blog-side-menu";
@import "./blog-banner";
@import "./blog-mid-banner";
@import "./blog-vlog";
@import "./blog-topics";
