.blog-vlog {
  .slider__item {
    text-align: center;

    &-wrapper {
      max-height: 400px;
      margin: 0 10px;
      background: rgb(2, 0, 36);
      position: relative;
      display: flex;

      @include media-query($medium-down) {
        margin: 0;
        background: white;
      }
    }

    &-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 0) 0%,
        rgba(0, 215, 239, 1) 100%
      );

      h3 {
        @include text-subtitle($color-title-light);
        text-align: left;
        padding: 10px;

        @include media-query($medium-down) {
          padding: 20px;
        }
      }
    }

    &-play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 36px;
      transform: translate(-50%, -50%) scale(1);
      transition: ease-in-out all 0.3s;

      svg {
        width: 70px;
        height: 70px;
      }
    }

    &:hover {
      .slider__item-play-icon {
        transform: translate(-50%, -50%) scale(1.2);
        transition: ease-in-out all 0.3s;
      }
    }
  }

  &__slider {
    @include no-browser-styling;
    width: 100%;
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .article-card__thumbnail-wrapper {
    min-width: 700px;
    height: 400px;

    img {
      min-height: 100%;
      object-fit: cover;

      @include media-query($small) {
        margin: 0 10px;
      }
    }

    @include media-query($medium-down) {
      min-width: 90vw;
    }
  }
}

.blog-vlog {
  margin: 70px 0 0;

  &__slider-wrap {
    margin-bottom: 40px;
    padding: 0 15px;

    @include media-query($medium-up) {
      padding: 0 100px;
    }
  }

  input[type="range"]::-webkit-slider-thumb {
    @include transition(all);
    width: 15%;
    width: var(--pdp-tab-input-w);
    height: 4px;
    border-radius: 2px;
    border: none;
    background-color: $color-theme-7;
    -webkit-appearance: none;
  }

  input[type="range"]::-webkit-media-slider-thumb {
    @include transition(all);
    width: 15%;
    width: var(--pdp-tab-input-w);
    height: 4px;
    border-radius: 2px;
    border: none;
    background-color: $color-theme-7;
    -webkit-appearance: none;
  }

  input[type="range"]::-moz-range-thumb {
    @include transition(all);
    width: 15%;
    width: var(--pdp-tab-input-w);
    height: 4px;
    border-radius: 2px;
    border: none;
    background-color: $color-theme-7;
  }

  input[type="range"]::-ms-thumb {
    @include transition(all);
    width: 15%;
    width: var(--pdp-tab-input-w);
    height: 4px;
    border-radius: 2px;
    border: none;
    background-color: $color-theme-7;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background-color: $color-theme-6;
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    background-color: $color-theme-6;
  }

  input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    background-color: $color-theme-6;
  }
}
