// defaults
$color-black: black;
$color-white: white;
$color-red: #d21e1e;
$color-blue: #0000ff;

// theme main

$color-theme-1: #00aedb;
$color-theme-2: #20d480;
$color-theme-4: #f4f4f4;
$color-theme-5: #f6fbfc;
$color-theme-6: #bdc5c9;
$color-theme-7: #333c41;
$color-theme-8: #848a8d;
$color-theme-9: #00d7ef;
$color-theme-10: #dbdbdb;
$color-theme-11: #ce3e19;
$color-theme-12: #747e84;
$color-theme-13: #e7f0f2;
$color-theme-14: #ededed;
$color-theme-15: #d6d6d6;
$color-theme-16: #f3f7f8;
$color-theme-17: #66cceb;
$color-theme-18: #ff3737;
$color-theme-19: #cacaca;
$color-theme-20: #f6f6f6;
$color-theme-21: #ffd200;
$color-theme-22: #d8d8d8;
$color-theme-23: #ffb300;

$color-sup-1: #73c8e2;
$color-sup-2: #73c8e2;
$color-sup-3: #73c8e2;

// theme complementary

// theme background & type

// slate variables
$color-disabled: $color-black;
$color-disabled-border: $color-black;
$color-error: $color-red;
$color-error-bg: rgba($color-red, 0.3);
$color-success: $color-blue;
$color-success-bg: rgba($color-blue, 0.3);

$placeholder-color-foreground: rgba($color-black, 0.8);
$placeholder-color-background: rgba($color-black, 0.05);

// Text colors
$color-body-text: $color-black;

// Background colors
$color-body: $color-white;

// Other colors
$color-border: $color-black;
