// defaults
$color-black: black;
$color-white: white;
$color-red: #d21e1e;
$color-blue: #0000ff;
$color-transparent: rgba(255, 255, 255, 0);

// theme main
$color-theme-1: #00aedb;
$color-theme-2: #20d480;
$color-theme-4: #f4f4f4;
$color-theme-5: #f6fbfc;
$color-theme-6: #bdc5c9;
$color-theme-7: #333c41;
$color-theme-8: #848a8d;
$color-theme-9: #00d7ef;
$color-theme-10: #dbdbdb;
$color-theme-11: #ce3e19;
$color-theme-12: #747e84;
$color-theme-13: #e7f0f2;
$color-theme-14: #ededed;
$color-theme-15: #d6d6d6;
$color-theme-16: #f3f7f8;
$color-theme-17: #66cceb;
$color-theme-18: #ff3737;
$color-theme-19: #cacaca;
$color-theme-20: #f6f6f6;
$color-theme-21: #ffd200;
$color-theme-22: #d8d8d8;
$color-theme-23: #ffb300;
$color-theme-24: #333c10;
$color-theme-25: #555656;
$color-theme-26: #f9f9f9;
$color-theme-27: #f7f7f7;
$color-theme-28: #eeeeee;
$color-theme-29: #979797;

$color-sup-1: #73c8e2;
$color-sup-2: #73c8e2;
$color-sup-3: #73c8e2;

// slate variables
$color-disabled: $color-black;
$color-disabled-border: $color-black;
$color-error: $color-red;
$color-error-bg: rgba($color-red, 0.3);
$color-success: $color-blue;
$color-success-bg: rgba($color-blue, 0.3);

$placeholder-color-foreground: rgba($color-black, 0.8);
$placeholder-color-background: rgba($color-black, 0.05);

// Text colors
$color-body-text: var(--color-body-text);
$color-title: var(--color-title);
$color-title-light: var(--color-title-light);

// Background colors
$color-body: $color-white;
$color-background: var(--color-main-background);
$color-background-mobile: var(--color-main-background-mobile);

// Other colors
$color-border: $color-black;

// Settings theme colors
$color-main: var(--color-main);
$color-main-1: var(--color-main);
$color-main-2: var(--color-main-2);
$color-main-3: var(--color-main-3);
$color-accent-1: var(--color-accent);
$color-accent-2: var(--color-accent-2);
$color-accent-3: var(--color-accent-3);
$color-sup-1: var(--color-supplementary-1);
$color-sup-2: var(--color-supplementary-2);
$color-sup-3: var(--color-supplementary-3);

// blog colors
$color-blog-card-title: var(--color-blog-card-title);
$color-blog-card-background: var(--color-blog-card-background);
$color-blog-card-category: var(--color-blog-card-category);
$color-blog-tagged-background: var(--color-blog-tagged-background);
