@mixin open-sans($weight: 400, $style: normal) {
  font-family: "Open Sans", sans-serif;
  font-weight: $weight;
  font-style: $style;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin poppins($weight: 400, $style: normal) {
  font-family: "Poppins", sans-serif;
  font-weight: $weight;
  font-style: $style;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
