// Transitions
$animation-duration: 250ms;
$animation-timing: ease-in-out;

// added for specific breakpoints
$grid-xxs: 375px;
$grid-xs: 425px;

// Grid
$grid-small: 576px;
$grid-medium: 768px;
$grid-large: 992px;
$grid-widescreen: 1200px;
$grid-xl: 1441px;
$grid-max-width: 1170px;
$grid-gutter: 30px;
$grid-max: 1920px;
$container-max: 1330px;

// Breakpoints used with the media-query mixin
$small: "v-small";
$small-up: "v-small-up";
$medium: "small";
$medium-down: "small-down";
$medium-up: "small-up";
$large: "medium";
$large-down: "medium-down";
$large-up: "medium-up";
$xl: "large";
$xl-down: "large-down";
$xl-up: "large-up";
$xxl: "xl";
$xxl-down: "xl-down";
$xxl-up: "xl-up";
$large-max: "large-max";

$breakpoints: (
  $small "(max-width: #{$grid-small - 1})",
  $small-up "(min-width: #{$grid-small})",
  $medium "(min-width: #{$grid-small}) and (max-width: #{$grid-medium - 1})",
  $medium-down "(max-width: #{$grid-medium - 1})",
  $medium-up "(min-width: #{$grid-medium})",
  $large "(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})",
  $large-down "(max-width: #{$grid-large - 1})",
  $large-up "(min-width: #{$grid-large})",
  $xl "(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})",
  $xl-down "(max-width: #{$grid-widescreen - 1})",
  $xl-up "(min-width: #{$grid-widescreen})",
  $xxl "(min-width: #{$grid-widescreen}) and (max-width: #{$grid-xl - 1})",
  $xxl-down "(max-width: #{$grid-xl - 1})",
  $xxl-up "(min-width: #{$grid-xl})",
  $large-max "(min-width: #{$grid-widescreen}) and (max-width: #{$grid-max})"
);

// Font Variables
$font-heading: var(--font-heading);
$font-body: var(--font-body);
$font-body-weight: var(--font-body-weight);
$font-body-style: var(--font-body-style);
$font-body-bold-weight: var(--font-body-bold-weight);

// z-index values
$z-base: 1;
$z-header-blocks: 2;
$z-header: 2;
$z-contact-modal: 2;
$z-cart: 3;
$z-header-rsp: 4;
$z-top: 10;
$z-overlay-content: 11;

// default font sizes
$font-size-d-h1: var(--font-size-h1-default);
$font-size-d-h2: var(--font-size-h2-default);
$font-size-d-h3: var(--font-size-h3-default);
$font-size-d-h4: var(--font-size-h4-default);
$font-size-d-h5: var(--font-size-h5-default);
$font-size-d-h6: var(--font-size-h6-default);
$font-size-d-p: var(--font-size-p-default);
$font-size-d-body: var(--font-size-body-default);

// grid & global variables
$grid-gap: var(--grid-gap);
$grid-container-max: var(--max-container-width);
