.article-card {
  text-align: center;
  background-color: $color-blog-card-background;

  > a,
  .article-card__wrapper > a {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-base;
  }

  @include media-query($medium-down) {
    box-shadow: 0 0 5px rgba($color-black, 0.05);
    padding: 0;
    margin: 7px 15px;
  }

  &__content {
    padding: 20px;

    h3 {
      @include font-header(700);
      @include text(20px, 1.4, $color-blog-card-title, 1px);
      padding-top: 8px;

      @include media-query($medium-down) {
        @include text(20px, 1.4, $color-blog-card-title, 1px);
        padding-top: 0;
      }
    }
  }

  &__category {
    @include font-body(500);
    @include text(12px, 20px, $color-blog-card-category, 1px);
    text-transform: uppercase;
    position: relative;
    z-index: $z-base;

    @include media-query($medium-down) {
      font-size: 10px;
      letter-spacing: 0.5px;
    }
  }

  &--lg {
    .article-card__content {
      @include media-query($medium-down) {
        text-align: center;
        padding-top: 10px;
        padding: 20px;
      }

      h3 {
        font-size: 30px;

        @include media-query($medium-down) {
          font-size: 20px;
          padding-top: 10px;
        }
      }
    }
  }

  &--md {
    .article-card__content {
      h3 {
        font-size: 30px;
      }
    }
  }

  &--sm {
    .article-card__content {
      padding: 10px;

      @include media-query($medium-down) {
        padding: 10px 10px 20px 10px;
      }
    }
  }

  &--xs {
    .article-card__content {
      font-size: 14px;
      padding: 15px 6px;

      @include media-query($large-down) {
        padding: 15px;
      }
    }

    .article-card__thumbnail-wrapper {
      max-width: 100%;
      height: 160px;

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &--horisontal {
    margin: 0;

    .article-card__wrapper {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
      display: flex;
      align-items: center;
      text-align: left;
      width: 100%;
      height: 150px;

      img {
        object-fit: cover;
      }
    }

    h3 {
      @include font-header(700);
      @include text(20px, 1.3, $color-blog-card-title);
    }

    .article-card__content-text {
      padding: 10px;
      padding-left: 20px;
    }

    .article-card__thumbnail-wrapper {
      width: 300px;
      height: 150px;
      float: left;
    }

    @include media-query($medium-down) {
      &:first-of-type {
        margin-right: 0;
      }

      .article-card__wrapper {
        height: 250px;
        text-align: center;
      }

      h3 {
        font-size: 12px;
      }

      .article-card__content-box {
        padding-left: 10px;
      }

      .article-card__thumbnail-wrapper {
        min-width: 100%;
        width: 100%;
        height: 160px;

        img {
          min-width: 100%;
        }
      }
    }
  }
}

.recent-articles__card {
  .article-card__thumbnail-wrapper {
    height: 175px;

    @include media-query($medium-down) {
      height: 290px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}
