$select-color: $color-body-text;
$select-background: $color-background;
$select-list-bg: $color-theme-4;
$select-hover-color: $color-theme-25;

.custom-select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.custom-select {
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  color: $select-color;
  width: 100%;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}

.custom-select-styled {
  @include no-browser-styling;
  @include transition(all 0.2s ease-in);
  @include font-header;
  @include text(14px, 20px, $color-body-text, 0.83px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 0;
  line-height: 30px;
  text-align: left;

  &::after,
  &::before {
    @include transition(opacity);
    position: absolute;
    font-weight: 500;
    right: 0;
    width: 15px;
    top: calc(50% - 10px);
    line-height: 20px;
    font-size: 16px;
    pointer-events: none;
    text-align: center;
  }

  &::after {
    content: "+";
  }

  &::before {
    content: "-";
  }

  &.active {
    &::after {
      opacity: 0;
    }
    &::before {
      opacity: 1;
    }
  }

  &:not(.active) {
    &::after {
      opacity: 1;
    }
    &::before {
      opacity: 0;
    }
  }
}

.custom-select-options {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: $z-base;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $select-list-bg;
  border: none;
}

.custom-select-option {
  @include transition(background-color 0.15s ease-in);
  @include no-browser-styling;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 2px 5px;
  background-color: $select-list-bg;
  border: none;
  display: block;
  width: 100%;
  text-align: left;

  &:hover,
  &:focus {
    background-color: $select-hover-color;
  }

  &[rel="hide"] {
    display: none;
  }
}
