$select-color: $color-body-text;
$select-background: $color-background;
$select-list-bg: $color-theme-4;
$select-hover-color: $color-theme-25;

.custom-select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.custom-select {
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  color: $select-color;
  width: 100%;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}

.custom-select-styled {
  @include transition(all 0.2s ease-in);
  @include font-header;
  @include text(14px, 20px, $color-body-text, 0.83px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 0;
  line-height: 30px;

  &::after {
    content: "+";
    position: absolute;
    font-weight: 700;
    right: 1px;
    top: calc(50% - 10px);
    line-height: 20px;
    font-size: 16px;
    pointer-events: none;
  }
}

.custom-select-options {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: $z-base;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $select-list-bg;
  border: none;

  li {
    @include transition(background-color 0.15s ease-in);
    font-size: 14px;
    margin: 0;
    padding: 1px 0;
    text-indent: 15px;
    background-color: $select-list-bg;

    &:hover {
      background-color: $select-hover-color;
    }

    &[rel="hide"] {
      display: none;
    }
  }
}
