$background: $color-background;
$select-color: $color-body-text;
$select-background: $color-background;
$select-hover-color: $color-main-1;
$select-width: 200px;
$select-height: 30px;

.custom-select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.custom-select {
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  color: $select-color;
  width: 100%;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}

.custom-select-styled {
  @include transition(all 0.2s ease-in);
  @include poppins;
  @include text(14px, 20px, $color-body-text, 0.83px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 0;
  line-height: 30px;
}

.custom-select-options {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: $z-base;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $color-theme-4;
  border: none;

  li {
    @include transition(all 0.15s ease-in);
    font-size: 14px;
    margin: 0;
    padding: 1px 0;
    text-indent: 15px;
    &:hover {
      color: $select-background;
      background: $select-hover-color;
      a,
      span {
        color: $select-background;
      }
    }
    &[rel="hide"] {
      display: none;
    }
  }
}
