.diffuser-modal {
  z-index: $z-diffuser-info;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.5);
  }

  &__inner {
    position: relative;
    flex: 0 0 450px;
    max-width: 450px;
    margin: auto;
    background-color: $color-background;
  }

  &__inner > h3 {
    @include font-header(700);
    @include text(30px, 36px, $color-main-1, 1.77px);
    margin: 0 auto 10px;
    padding: 0 25px;
    text-align: center;
  }

  &__close-x {
    @include no-browser-styling;
    @include no-font-size;
    z-index: $z-base;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px;

    svg {
      width: 10px;
      height: 10px;
    }

    g {
      stroke: $color-body-text;
    }
  }

  &__description {
    @include font-header(500);
    @include text(16px, 22px, $color-body-text, 0.95px);
    margin: 0 auto 15px;
    padding: 0 25px;
    text-align: center;

    small {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.83px;
      color: $color-theme-8;
      display: block;
      margin: 10px 0 0;
    }
  }

  &__banner {
    @include clearfix;
    padding: 20px 25px;
    margin: 0 0 20px;
    background-image: linear-gradient(
      to right,
      $color-theme-4 0%,
      $color-background 100%
    );
  }

  &__banner h4 {
    @include font-header(700);
    @include text(16px, 22px, $color-theme-17, 0.95px);
    margin: 0 0 10px;
  }

  &__banner p {
    @include font-header(500);
    @include text(14px, 22px, $color-theme-8, 0.95px);
  }

  &__banner-img-wrap {
    margin: auto;
  }

  &__banner-img {
    object-fit: cover;
  }

  &__close-wrap {
    margin: 0 auto 20px;
    text-align: center;
  }

  &__close-btn {
    @include button(solid, round, 1);
    background-color: $color-theme-17;
    background-image: none;

    &:focus {
      outline: auto 5px rgba($color-main-1, 0.5);
    }
  }

  &__img-container {
    position: relative;
    padding: 50px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: $color-theme-27;
    }
  }

  &__img-wrap {
    z-index: 1;
    margin: 0 auto 10px;
  }

  &__img {
    object-fit: cover;
  }

  &__usps {
    clear: both;
    padding: 20px 0 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 500px;
  }

  &__usps-separator {
    min-height: 20px;
  }

  .diffusers__usp {
    flex: 0 0 auto;
    text-align: center;

    span {
      @include font-header(700);
      @include text(14px, 20px, $color-theme-8, 0.83px);
      display: block;
      margin: 0;
    }

    svg {
      width: 40px;
      height: 30px;
      margin: 0 0 5px;
    }
  }

  &__subs-title {
    @include font-header(700);
    @include text(30px, 36px, $color-main-1, 1.77px);
    margin: 0 auto 10px;
    text-align: center;
  }

  &__subs-note {
    @include font-header(500);
    @include text(14px, 20px, $color-theme-8, 0.83px);
    margin: 20px auto;
    text-align: center;
  }

  &__subs-content {
    position: relative;
    background-color: $color-theme-27;
    margin: -30px 0 0;
    padding: 0 45px;
  }

  &__close-text-wrap {
    text-align: center;
    padding: 10px 0;
  }

  &__close-text {
    @include font-header(500);
    @include text(14px, 20px, $color-theme-8, 0.83px);
    @include no-browser-styling;
    padding: 0;
    margin: 0 0 10px;
  }

  &__subs-button-open {
    @include no-browser-styling;
    @include no-font-size;
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 1px;

    path,
    circle {
      stroke: $color-theme-8;
    }

    &:focus {
      outline: 5px auto rgba($color-main-1, 0.5);
    }
  }

  @include media-query($small) {
    &__inner {
      flex: 0 0 calc(100% - 30px);
      max-width: calc(100% - 30px);
      margin: 50px auto auto;
    }

    &__inner > h3 {
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 1px;
      padding: 0 15px;
    }

    &__description {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.5px;
      padding: 0 15px;

      small {
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.4px;
      }
    }

    &__banner {
      padding: 15px;
    }

    &__banner h4 {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.5px;
      margin: 0 0 5px;
    }

    &__banner p {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.5px;
    }

    &__close-btn {
      font-size: 14px;
      letter-spacing: 0.9px;
      padding: 8px 20px;
    }

    &__img-wrap {
      width: 100px;
      height: 100px;
    }

    &__img {
      width: 100px;
      height: 100px;
    }

    &__img-container {
      padding: 35px 0;
    }

    &__usps {
      max-width: 100%;
    }

    .diffusers__usp {
      flex: 0 0 auto;
      text-align: center;

      span {
        font-size: 10px;
        line-height: 12px;
      }
    }

    &__subs-title {
      font-size: 20px;
      line-height: 28px;
    }

    &__subs-content {
      margin: -20px 0 0;
      padding: 0 20px;
    }

    &__subs-button-open {
      top: auto;
      bottom: 4px;
    }
  }
}
