.header-cart {
  @include transition(right);
  position: fixed;
  top: 0;
  right: -520px;
  z-index: $z-cart;
  background-color: $color-white;
  height: 100%;
  width: 500px;

  @include media-query($medium-down) {
    right: calc(-100% - 30px);
    width: 100%;
  }

  &.open {
    right: 0;

    .header-cart__overlay {
      opacity: 1;
      pointer-events: auto;
      width: calc(100vw - 500px);
    }

    .header-cart__wrap {
      box-shadow: 0 0 20px 10px rgba($color-black, 0.3);
    }
  }

  &__overlay {
    @include transition(opacity, width);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color-black, 0.5);
    opacity: 0;
    pointer-events: none;
  }

  &__wrap {
    position: relative;
    z-index: $z-base;
    background-color: $color-white;
    height: 100%;
  }

  &__header {
    padding: 13px 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__close {
    @include no-browser-styling;
    @include no-font-size;
    display: block;
    transform: rotate(180deg);
    padding: 0 5px;
  }

  &__title {
    @include font-header(700);
    @include text(20px, 28px, $color-title, 1.18px);
    text-transform: uppercase;
    text-align: center;
  }

  &__cart {
    @include no-browser-styling;
    position: relative;
    padding: 0;
    display: block;

    &:hover {
      .site-header__cart-icon {
        g {
          stroke: $color-main-1;
        }
      }
    }
  }

  &__cart-num {
    @include font-header(bold);
    @include text(12px, 12px, $color-main-1, 0.71px);
    position: absolute;
    top: 0;
    left: 8%;
    width: 70%;
    text-align: center;
  }

  &__cart-icon {
    display: block;
    g {
      @include transition(stroke);
    }
  }

  &__body {
    height: calc(100% - 57px);
  }

  &__shipping-bar {
    @include font-header;
    @include text(14px, 20px, $color-white, 0.83px);
    padding: 3px 15px;
    width: 100%;
    background-color: $color-main-1;
    text-align: center;
    margin: 0 0 20px;
  }

  &__empty-cart {
    padding: 60px 45px 0;
  }

  &__empty-note {
    @include font-header(700);
    @include text(23px, 32px, $color-title, 1.36px);
    margin: 0 0 10px;
    text-align: center;
  }

  &__empty-block {
    position: relative;
    display: block;
    margin: 50px 0 0;
    padding: 15px 35px;
    border: 4px solid $color-theme-13;
    border-radius: 30px;
  }

  &__empty-title {
    @include font-header(700);
    @include text(20px, 28px, $color-body-text, 1.18px);
    max-width: calc(100% - 71px);
  }

  &__empty-image {
    z-index: $z-base;
    position: absolute;
    right: 50px;
    bottom: 8px;
    display: flex;
    height: 90px;
    pointer-events: none;

    img {
      object-fit: contain;
      max-height: 90px;
      max-width: 70px;
      align-self: flex-end;
      pointer-events: auto;
    }

    svg {
      pointer-events: auto;
      max-height: 90px;
      align-self: flex-end;
    }
  }
}
