.loading-dots {
  font-size: 0;
  line-height: 0;
}

.loading-dots::after {
  content: " .";
  position: relative;
  left: -0.25em;
  animation: dots 1s steps(5, end) infinite;
  width: 2.75em;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
}

@keyframes dots {
  0% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  20% {
    color: white;
    text-shadow: 0.25em 0 0 white, 0.75em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.5em 0 0 white, 1em 0 0 white;
  }
  60% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.75em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
}

[data-loader] {
  &::after {
    @include transition(opacity);
    content: "";
    z-index: $z-base;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    pointer-events: none;
    opacity: 0;
  }

  &.loading {
    &::after {
      opacity: 0.5;
      cursor: wait;
      pointer-events: auto;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
