.product-form__sold-out {
  position: relative;
  margin-top: 10px;

  &-notice {
    @include font-header(bold);
    @include text(14px, 1.2, $color-theme-18, 0.8px);
    display: inline-block;
    padding-top: 10px;

    @include media-query($small) {
      @include text(11px, 1.2, $color-theme-18, 0.65px);
    }
  }

  &-email {
    display: flex;
    margin: 15px 0;

    input[type="email"] {
      border: 2px solid $color-theme-2;
      padding: 10px;
      font-size: 18px;

      @include media-query($small) {
        @include text(14px, 1.2, $color-theme-7, 1px);
      }
    }

    button {
      background-color: $color-theme-2;
      border: 1px solid $color-theme-2;
      width: 200px;
      text-transform: uppercase;
      transition: ease-in-out all 0.3s;
      @include font-header(bold);
      @include text(16px, 1.2, $color-white, 1px);

      @include media-query($small) {
        @include text(14px, 1.2, $color-white, 0.8px);
      }

      &:hover,
      &:active,
      &:focus {
        background-color: var(--color-accent-2);
        transition: ease-in-out all 0.3s;
      }
    }

    &-confirm {
      @include font-header(bold);
      @include text(14px, 1.2, $color-theme-1, 0.8px);
      text-align: center;
      display: none;

      @include media-query($small) {
        @include text(11px, 1.2, $color-theme-1, 0.65px);
      }
    }
  }

  &-gradient {
    width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
  }
}
