.product-item {
  @include transition(box-shadow);
  position: relative;
  box-shadow: none;
  padding: 60px 0 25px;
  height: 100%;
  text-align: center;
  background-color: $color-white;

  &::before {
    @include transition(opacity);
    content: "";
    position: absolute;
    left: -45px;
    top: 0;
    display: block;
    height: 100%;
    width: 45px;
    opacity: 0;
    object-fit: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='783' viewBox='0 0 45 783' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3CradialGradient cx='100%25' cy='50%25' fx='100%25' fy='50%25' r='446.69%25' gradientTransform='matrix(0 .11877 -.10728 0 1.054 .381)' id='a'%3E%3Cstop stop-color='%23CACACA' offset='0%25'/%3E%3Cstop stop-color='%23FFF' stop-opacity='0' offset='100%25'/%3E%3C/radialGradient%3E%3C/defs%3E%3Cpath d='M0 0h93v783H0z' transform='translate(-48)' fill='url(%23a)' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    pointer-events: none;
  }

  &::after {
    @include transition(opacity);
    content: "";
    position: absolute;
    right: -45px;
    top: 0;
    display: block;
    height: 100%;
    width: 45px;
    opacity: 0;
    object-fit: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='783' viewBox='0 0 45 783' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3CradialGradient cx='100%25' cy='50%25' fx='100%25' fy='50%25' r='446.69%25' gradientTransform='matrix(0 .11877 -.10728 0 1.054 .381)' id='a'%3E%3Cstop stop-color='%23CACACA' offset='0%25'/%3E%3Cstop stop-color='%23FFF' stop-opacity='0' offset='100%25'/%3E%3C/radialGradient%3E%3C/defs%3E%3Cpath transform='rotate(-180 249 391.5)' d='M405 0h93v783h-93z' fill='url(%23a)' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    pointer-events: none;
  }

  &__image-link {
    display: block;
    padding: 0 15px;
    width: 100%;
    margin: auto 0 0;

    &:hover {
      .product-item__title {
        color: $color-main-1;
      }
    }
  }

  &__gallery {
    display: block;
    margin: 0 0 10px;
  }

  &__title {
    @include font-header(500);
    @include text(16px, 23px, $color-title, 0.95px);
    @include underline($color-main-1, false);
    @include transition(color);
    margin: 0 0 1px;
    display: inline-block;
  }

  &__subtitle {
    @include font-header(700);
    @include text(12px, 18px, $color-body-text, 0.7px);
    margin: 0 0 5px;
    display: block;
  }

  &__size {
    @include font-header(700);
    @include text(12px, 18px, $color-body-text, 0.7px);
    display: block;
  }

  &__price {
    @include font-header(700);
    @include text(16px, 23px, $color-body-text, 0.95px);
    display: block;
  }

  &__options {
    margin: 0 0 5px;
  }

  &__options-label {
    @include font-header(700);
    @include text(12px, 17px, $color-body-text, 0.71px);
    margin: 0 0 10px;

    &--desktop {
      @include media-query($medium-down) {
        display: inline-none;
      }
    }

    &--mobile {
      @include media-query($medium-up) {
        display: inline-none;
      }
    }
  }

  &__option {
    margin: 0 0 15px;
  }

  &__colors {
    margin: 0 0 15px;
  }

  &__current-color {
    @include font-header(500);
    @include text(17px, 24px, $color-theme-8, 1px);
  }

  &__color-wrap {
    @include no-font-size;
    position: relative;
    display: inline-block;

    &.unavailable {
      opacity: 0.5;

      .product-item__exclamation {
        display: block;
      }
    }
  }

  &__color-input {
    @include transition(box-shadow);
    @include no-browser-styling;
    width: 34px;
    height: 34px;
    padding: 4px;
    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;
    background-position: center;

    &:checked {
      box-shadow: 0 0 7px 0 rgba($color-black, 0.5);
    }

    &:not(:checked) {
      box-shadow: none;
    }

    &:focus {
      outline: 5px auto rgba($color-main-1, 0.5);
    }
  }

  &__color-label {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    pointer-events: none;
  }

  &__value-wrap {
    position: relative;
    display: inline-block;

    &:not(:last-of-type) {
      margin: 0 15px 0 0;
    }
  }

  &__value-label {
    @include font-header(500);
    @include text(15px, 20px, $color-body-text, 1px);
    @include underline($color-main-1, false);
    min-width: 11px;
    text-align: center;
    display: inline-block;
    margin: 0 0 3px;
  }

  &__value-input {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &:focus {
      + .product-item__value-label {
        outline: 5px auto rgba($color-main-1, 0.5);
      }
    }

    &:checked {
      + .product-item__value-label {
        color: $color-main-1;

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__submit-btn {
    @include button(solid, square, 1);
    padding: 13px 0;
    border-radius: 3px;
    width: 100%;

    &:disabled {
      background-color: $color-theme-8;
      background-image: none;
    }
  }

  &__submit-price {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1.2px;
    padding: 0 0 0 5px;
  }

  &__submit-text {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 5px 0 0;
  }

  &__exclamation {
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    color: $color-theme-28;
    pointer-events: none;
    display: none;
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: center;
  }

  .diffusers__variants {
    margin: 5px 0 12px;
  }

  .diffusers__variant {
    font-size: 0;

    &:not(:last-of-type) {
      margin: 0 10px 5px 0;
    }
  }

  .diffusers__label {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.7px;
  }

  .diffusers__regular-btn {
    display: flex;
    flex-flow: row wrap;
    height: 44px;
  }

  .diffusers__regular-price {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    align-self: center;
  }

  .diffusers__regular-text {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    align-self: center;
  }

  .diffusers__sub-btn {
    display: flex;
    flex-flow: row wrap;
    height: 44px;

    .custom-select-styled {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.5px;
      height: 40px;
    }

    .custom-select {
      height: 20px;
      line-height: 20px;
    }

    .custom-select-option {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.4px;
      padding: 3px;
    }

    .no-pointer {
      font-size: 0;
      text-align: center;
      align-self: center;
      width: 100%;
      height: 20px;
    }
  }

  .diffusers__sub-price {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    align-self: center;
  }

  .diffusers__sub-btn-text {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    align-self: center;
  }

  .diffusers__sub-btn-freq {
    display: none;
  }

  .diffuser-modal__subs-button-open {
    display: none;
  }

  .diffusers__usps {
    display: none;
  }

  .loading-dots {
    align-self: center;
    width: 100%;
  }

  [data-subscription-custom-label] {
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.2px;
  }

  @include media-query($large-up) {
    &:hover,
    &:focus,
    &.active {
      &:not(.single) {
        &::after,
        &::before {
          opacity: 1;
          height: calc(100% + 60px);
        }
      }

      &.single {
        &::after,
        &::before {
          opacity: 1;
        }
      }

      .product-item__hover {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &__hover {
      @include transition(opacity);
      z-index: $z-base;
      position: absolute;
      top: calc(100% - 25px);
      left: 0;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      background-color: $color-white;
      padding: 0 15px 25px;

      &.subscription {
        top: calc(100% - 45px);
      }
    }

    &__form {
      position: relative;
      background-color: $color-white;
      height: 100%;
      display: flex;
    }
  }

  @include media-query($xxl-down) {
    &__submit-btn {
      padding: 8px 0;
    }
  }

  @include media-query($large-down) {
    transition: none;
    position: relative;
    box-shadow: none;
    padding: 30px 0 10px;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }

    &__image-link {
      display: block;
      padding: 0 15px;
      width: 100%;
      margin: auto 0 0;
    }

    &__gallery {
      display: block;
      margin: 0 0 10px;
    }

    &__subtitle {
      display: none;
    }

    &__size {
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0.6px;
    }

    &__price {
      display: none;
    }

    &__hover {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }

    &__options {
      margin: 0 0 10px;
    }

    &__options-label {
      font-weight: 500;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.59px;
      margin: 0 0 2px;
    }

    &__option {
      margin: 0 0 15px;
    }

    &__colors {
      margin: 0 0 10px;
    }

    &__current-color {
      @include font-header(500);
      @include text(17px, 24px, $color-theme-8, 1px);
    }

    &__color-input {
      width: 30px;
      height: 30px;
      padding: 4px;
    }

    &__color-label {
      left: 4px;
      top: 4px;
      width: 22px;
      height: 22px;
    }

    &__value-wrap {
      &:not(:last-of-type) {
        margin: 0 10px 0 0;
      }
    }

    &__value-label {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.83px;
    }

    &__submit-btn {
      padding: 5px 20px;
      width: auto;
    }

    &__submit-price {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1.94px;
    }

    &__submit-text {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1.94px;
    }

    &__exclamation {
      height: 30px;
      line-height: 30px;
    }
  }
}
