.product-form {
  position: relative;
  margin-top: 10px;

  &__sold-out-notice {
    @include font-header(bold);
    @include text(14px, 1.2, $color-theme-18, 0.8px);
    display: inline-block;

    @include media-query($small) {
      @include text(11px, 1.2, $color-theme-18, 0.65px);
    }
  }

  &__sold-out-email {
    margin: 10px 0 0;

    input[type="email"] {
      border: 2px solid $color-theme-2;
      padding: 8px;
      font-size: 18px;
    }

    button {
      background-color: $color-theme-2;
      border: 1px solid $color-theme-2;
      width: 100%;
      padding: 3px;
      text-transform: uppercase;
      transition: ease-in-out all 0.3s;
      @include font-header(bold);
      @include text(16px, 1.2, $color-white, 1px);

      @include media-query($small) {
        @include text(14px, 1.2, $color-white, 0.8px);
      }

      &:hover,
      &:active,
      &:focus {
        background-color: var(--color-accent-2);
        transition: ease-in-out all 0.3s;
      }
    }

    &-confirm {
      @include font-header(bold);
      @include text(14px, 1.2, $color-theme-1, 0.8px);
      text-align: center;
      display: none;

      @include media-query($small) {
        @include text(11px, 1.2, $color-theme-1, 0.65px);
      }
    }
  }

  &__sold-out-gradient {
    width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
  }

  &--hide {
    display: none;
  }

  @include media-query($large-down) {
    &__sold-out-gradient {
      display: none;
    }

    &__sold-out-email {
      display: flex;

      button {
        white-space: nowrap;
        flex: auto;
      }
    }
  }

  @include media-query($small) {
    &__sold-out-notice {
      font-size: 11px;
      letter-spacing: 0.65px;
    }

    &__sold-out-email {
      input[type="email"] {
        font-size: 14px;
        letter-spacing: 0.8px;
      }

      button {
        font-size: 14px;
        letter-spacing: 0.8px;
      }

      &-confirm {
        font-size: 11px;
        letter-spacing: 0.65px;
      }
    }
  }
}
