#stamped-main-widget {
  .stamped-header-title {
    @include text-title;
    text-align: center;
    margin: 0 0 40px;
  }

  .stamped-summary-caption-1 {
    margin: 0 !important;
  }

  .stamped-summary-text-1 {
    @include font-header(700);
    font-size: 70px !important;
    line-height: 100px !important;
    letter-spacing: 4px !important;
    margin: 0 !important;
  }

  .stamped-summary-starrating {
    display: block;
    .stamped-fa::before {
      font-size: 30px;
    }
  }

  .stamped-summary-text {
    @include font-header(500);
    @include text(16px, 23px, $color-body-text, 0.95px);
    margin: 5px 0 0;
  }

  .summary-rating {
    opacity: 1;
    &:last-of-type {
      margin: 0;
    }

    &:not(:last-of-type) {
      margin: 0 0 10px;
    }
  }

  .summary-rating-title {
    @include font-header(500);
    @include text(16px, 23px, $color-body-text, 0.95px);
    text-align: right;
    padding: 0 25px 0 0;
    display: inline-block;
    vertical-align: middle;
  }

  .summary-rating-count {
    @include font-header(500);
    @include text(16px, 23px, $color-body-text, 0.95px);
    padding: 0 0 0 25px;
    display: inline-block;
    vertical-align: middle;
  }

  .summary-rating-bar {
    background-color: $color-theme-17;
    display: inline-block;
    vertical-align: middle;
  }

  .summary-rating-bar-content {
    @include font-header(500);
    @include text(16px, 30px, $color-white, 0.95px);
    background-color: $color-theme-1;
    padding: 0;

    &::before {
      margin: 0 0 0 30px;
    }
  }

  .stamped-summary-actions-newreview {
    @include button(solid, r, 1);
    float: none;
    margin: 0 auto 10px;

    &::before {
      display: none;
    }
  }

  .stamped-summary-actions-newquestion {
    @include button(solid, r, 1);
    float: none;
    margin: 0 auto;

    &::before {
      display: none;
    }
  }

  .stamped-header {
    margin: 0 0 30px;
  }

  .stamped-tabs {
    border: none;
  }

  #tab-reviews {
    @include underline-b($color-main-1, 3px, false);
    @include font-header(500);
    @include text(16px, 23px, $color-body-text, 0.95px);
    padding: 0 5px;
    margin: 0 30px 0 0;
    border: none;

    &.active {
      font-weight: 700;
    }

    &.active::before {
      width: 100%;
    }

    &::after {
      color: $color-theme-8;
      padding: 0;
      background: none;
      margin: 0 0 0 10px;
    }
  }

  #tab-questions {
    @include underline-b($color-main-1, 3px, false);
    @include font-header(500);
    @include text(16px, 23px, $color-body-text, 0.95px);
    padding: 0 5px;
    border: none;

    &.active {
      font-weight: 700;
    }

    &.active::before {
      width: 100%;
    }

    &::after {
      color: $color-theme-8;
      padding: 0;
      background: none;
      margin: 0 0 0 10px;
    }
  }

  .stamped-sort-select-wrapper {
    float: right;
  }

  #stamped-sort-select {
    @include font-header(500);
    @include text(14px, 20px, $color-body-text, 0.83px);
    border: none !important;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='5' viewBox='0 0 12 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0l5 5 5-5' stroke='%23333C41' fill='none' fill-rule='evenodd' stroke-linecap='round'/%3E%3C/svg%3E") !important;
  }

  .stamped-reviews-filter-label {
    @include font-header(700);
    @include text(14px, 20px, $color-body-text, 0.83px);
  }

  #stamped-reviews-filter {
    border: none;
  }

  .stamped-summary-keywords-list li {
    @include font-header(700);
    @include text(12px, 17px, $color-theme-8, 0.71px);
    @include transition(background-color);
    border: 3px solid $color-theme-13;
    background-color: $color-white;
    border-radius: 20px;
    padding: 0 15px;

    &.active {
      background-color: $color-theme-13;
    }
  }

  .stamped-reviews {
    @include clearfix;
  }

  .stamped-review {
    border: none;
  }

  .stamped-questions .stamped-review-header {
    display: block;
  }

  .stamped-review-header {
    // display: grid;
    // grid-template-columns: 1fr 1fr 2fr;
    // grid-template-rows: 1fr 1fr 1fr;

    .author {
      @include font-header(500);
      @include text(16px, 23px, $color-body-text, 0.95px);
      grid-column: 1;
      grid-row: 1;
    }

    .verified-badge {
      @include font-header(500);
      @include text(12px, 23px, $color-theme-2, 0.71px);
      grid-column: 2;
      grid-row: 1;
    }

    .created {
      @include font-header(500);
      @include text(12px, 17px, $color-theme-8, 0.71px);
      grid-column: 1 / 5;
      grid-row: 3;
    }

    .review-location {
      @include font-header(500);
      @include text(12px, 17px, $color-theme-8, 0.71px);
      // margin-left: 80px;
      grid-column: 1 / 5;
      grid-row: 3;
    }
  }

  .stamped-starratings {
    grid-column: 1 / 5;
    grid-row: 2;
  }

  .stamped-fa {
    margin: 0 5px 0 0;
    &::before {
      font-size: 18px;
    }
  }

  .stamped-review-avatar {
    display: none;
  }

  .stamped-review-header-title {
    @include font-header(700);
    @include text(20px, 28px, $color-main-1, 0.8px);
    margin: 20px 0 5px;
  }

  .stamped-review-content-body {
    @include font-body(400);
    @include text(15px, 26px, $color-body-text, 0.2px);
  }

  .stamped-share-icon {
    @include font-header(500);
    @include text(12px, 17px, $color-theme-8, 0.71px);
  }

  .stamped-fa-share-alt {
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
    color: $color-main-1;
  }

  .stamped-rating-holder {
    @include font-header(500);
    @include text(12px, 17px, $color-theme-8, 0.71px);
  }

  .stamped-fa-thumbs-up {
    @include font-header(500);
    @include text(12px, 17px, $color-theme-8, 0.71px);

    &::before {
      font-size: 18px;
      line-height: 18px;
      vertical-align: middle;
      color: $color-main-1;
    }
  }

  .stamped-fa-thumbs-down {
    @include font-header(500);
    @include text(12px, 17px, $color-theme-8, 0.71px);

    &::before {
      font-size: 18px;
      line-height: 18px;
      vertical-align: middle;
      color: $color-main-1;
    }
  }

  .stamped-pagination {
    clear: both;

    a {
      @include font-header(500);
      @include text(20px, 28px, $color-main-1);
    }

    .active a {
      font-weight: 700;
    }
  }

  @include media-query($large-up) {
    .stamped-summary-actions-newreview {
      width: 100%;
      max-width: 300px;
    }

    .stamped-summary-actions-newquestion {
      width: 100%;
      max-width: 300px;
    }

    .stamped-review {
      clear: none;
      float: left;
      width: 50%;
      border: none;

      &:nth-of-type(2n) {
        padding: 0 0 0 20px;
      }

      &:nth-of-type(2n + 1) {
        padding: 0 20px 0 0;
        clear: left;
      }
    }
  }

  @include media-query($large) {
    .stamped-header-title {
      @include text-title;
      text-align: center;
      margin: 0 0 30px;
    }

    .stamped-summary {
      column-gap: 20px;
    }

    .stamped-summary-text-1 {
      font-size: 50px !important;
      line-height: 80px !important;
      letter-spacing: 3px !important;
    }

    .stamped-summary-starrating {
      .stamped-fa::before {
        font-size: 24px;
      }
    }

    .stamped-summary-text {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.71px;
    }

    .summary-rating-title {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.71px;
      padding: 0 15px 0 0;
    }

    .summary-rating-count {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.71px;
      padding: 0 0 0 15px;
    }

    .summary-rating-bar-content {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.71px;

      &::before {
        margin: 0 0 0 20px;
      }
    }

    .stamped-summary-actions-newreview {
      padding: 10px 20px;
    }

    .stamped-summary-actions-newquestion {
      padding: 10px 20px;
    }

    .stamped-sort-select-wrapper {
      float: right;
    }

    .stamped-reviews {
      @include clearfix;
    }

    .stamped-review-header {
      // display: grid;
      // grid-template-columns: 1fr 1fr 2fr;
      // grid-template-rows: 1fr 1fr 1fr;

      .author {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.71px;
      }
    }

    .stamped-review-header-title {
      font-size: 16px;
      line-height: 26px;
    }

    .stamped-review-content-body {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0;
    }

    .stamped-pagination {
      a {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.71px;
      }
    }
  }

  @include media-query($medium-up) {
    .stamped-summary {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 30px;
    }

    .summary-overview {
      grid-column: 1;
      grid-row: 1;
      width: auto !important;
      float: none !important;
      align-self: end;
      margin: 0;
      padding: 0;
    }

    .stamped-summary-ratings {
      grid-column: 2 / 4;
      grid-row: 1;
      width: auto !important;
      float: none !important;
      border: none !important;
      margin: 0;
      padding: 0;
    }

    .stamped-summary-photos {
      display: none !important;
    }

    .stamped-summary-actions {
      text-align: center;
      grid-column: 4;
      grid-row: 1;
      width: auto !important;
      float: none !important;
      margin: 0;
      padding: 0;
    }
  }

  @include media-query($medium-down) {
    margin: 0;

    .stamped-container {
      padding: 2em 1em 1em;
    }

    .stamped-header-title {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 1.18px;
      margin: 0 0 10px;
    }

    .summary-overview {
      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
      grid-template-rows: 1fr 1fr !important;
      width: 100% !important;
      float: none !important;
      margin: 0 0 5px;
    }

    .stamped-summary-ratings {
      width: 100% !important;
      float: none !important;
      display: block;
      padding: 0;
      border: none;
      text-align: center;
      margin: 0 0 5px;
    }

    .stamped-summary-actions {
      width: 100% !important;
      float: none !important;
      display: block;
      text-align: center;
    }

    .stamped-summary-photos {
      display: none !important;
    }

    .stamped-summary-caption-1 {
      grid-column: 1 / 4;
      grid-row: 1 / 3;
    }

    .stamped-summary-caption-2 {
      grid-column: 4 / 7;
      grid-row: 2;
      text-align: left;
    }

    .stamped-summary-starrating {
      grid-column: 4 / 7;
      grid-row: 1;
      float: none !important;
      text-align: left;
    }

    .stamped-summary-caption-1 {
      margin: 0 !important;
    }

    .stamped-summary-text-1 {
      font-size: 30px !important;
      line-height: 43px !important;
      letter-spacing: 1.77px !important;
      text-align: right;
      padding: 0 10px 0 0;
    }

    .stamped-summary-starrating {
      .stamped-fa::before {
        font-size: 10px;
      }
    }

    .stamped-summary-text {
      font-size: 10px;
      line-height: 15px;
      letter-spacing: 0.59px;
      margin: 2px 0 0;
    }

    .summary-rating-title {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 100%;
      padding: 0;
    }

    .stamped-starratings {
      font-size: 10px;
      line-height: 20px;
    }

    .summary-rating-title::before {
      @include font-header(700);
      @include text(12px, 17px, $color-body-text, 0.71px);
      content: "5";
      display: inline-block;
      vertical-align: middle;
    }

    .summary-rating-title::after {
      content: "\f005";
      color: $color-theme-21;
      font-family: stamped-font, FontAwesome !important;
      font-style: normal;
      font-weight: 400;
      speak: none;
      text-decoration: inherit;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      font-size: 10px;
      line-height: 10px;
      display: inline-block;
      vertical-align: middle;
    }

    .summary-rating {
      opacity: 1;
      display: inline-block;
      margin: 0 2px;
      border: 1px solid $color-theme-13;
      border-radius: 3px;
      padding: 5px;
      width: 40px;
      height: 40px;

      &:nth-of-type(1) {
        .summary-rating-title::before {
          content: "5";
        }
      }

      &:nth-of-type(2) {
        .summary-rating-title::before {
          content: "4";
        }
      }

      &:nth-of-type(3) {
        .summary-rating-title::before {
          content: "3";
        }
      }

      &:nth-of-type(4) {
        .summary-rating-title::before {
          content: "2";
        }
      }

      &:nth-of-type(5) {
        .summary-rating-title::before {
          content: "1";
        }
      }
    }

    .summary-rating-count {
      font-size: 9px;
      line-height: 12px;
      letter-spacing: 0.53px;
      padding: 0;
      display: block;
      text-align: center;
      width: 100%;
    }

    .summary-rating-bar {
      display: none;
    }

    .stamped-review {
      margin-bottom: 20px;
      padding-top: 15px;
    }

    .stamped-summary-actions-newreview {
      font-size: 9px;
      line-height: 12px;
      letter-spacing: 1.2px;
      padding: 8px 20px;
      margin: 0 5px 10px;
    }

    .stamped-summary-actions-newquestion {
      font-size: 9px;
      line-height: 12px;
      letter-spacing: 1.2px;
      padding: 8px 20px;
      margin: 0 5px 10px;
    }

    .stamped-header {
      margin: 0 0 10px;
    }

    .stamped-tabs {
      border: none;
      text-align: center;
    }

    #tab-reviews {
      font-size: 10px;
      line-height: 15px;
      letter-spacing: 0.59px;
      margin: 0 20px 0 0;

      &::after {
        margin: 3px 0 0;
        text-align: center;
        display: block;
      }
    }

    #tab-questions {
      font-size: 10px;
      line-height: 15px;
      letter-spacing: 0.59px;
      margin: 0 20px 0 0;

      &::after {
        margin: 3px 0 0;
        text-align: center;
        display: block;
      }
    }

    #stamped-reviews-filter {
      border: none;
      display: grid;
      grid-template-columns: 1;
      grid-template-rows: 3;
      padding: 0;
    }

    .stamped-sort-select-wrapper {
      display: block;
      float: none;
      grid-column: 1;
      grid-row: 3;
    }

    #stamped-sort-select {
      float: none;
      margin: 0 0 5px;
    }

    .stamped-reviews-filter-label {
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0.59px;
      grid-column: 1;
      grid-row: 1;
    }

    .stamped-summary-keywords {
      margin: 5px 0 0;
    }

    .stamped-summary-keywords-list {
      max-height: 100%;
      overflow: hidden;
    }

    .stamped-summary-keywords-list li {
      font-size: 9px;
      line-height: 12px;
      letter-spacing: 0.53px;
      padding: 3px 6px;
      grid-column: 2;
      grid-row: 1;
    }

    .stamped-filter-selects {
      margin: 8px 0;
    }

    .stamped-reviews {
      @include clearfix;
      border: none;
    }

    .stamped-review-header {
      // grid-template-columns: 1fr 1fr 1fr;

      .author {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.83px;
        grid-column: 1;
        grid-row: 1;
      }

      .verified-badge {
        font-size: 10px;
        line-height: 20px;
        grid-column: 2;
        grid-row: 1;
      }

      .created {
        font-size: 9px;
        line-height: 20px;
      }

      .review-location {
        font-size: 9px;
        line-height: 12px;
      }

      .review-location span {
        display: inline-block;
        vertical-align: middle;
      }

      .stamped-location-flag {
        margin: 0 5px 0 0;
      }
    }

    .stamped-fa {
      margin: 0 3px 0 0;
      font-size: 0;
      line-height: 0;

      &::before {
        font-size: 11px;
      }
    }

    .stamped-review-header-title {
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.4px;
    }

    .stamped-review-content-body {
      font-size: 14px;
      line-height: 17px;
    }

    .stamped-review-footer {
      display: none;
    }

    .stamped-pagination {
      clear: both;
      margin: 10px 0 0;

      a {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
