.fade-transition {
  opacity: 0;
  transition: transform 500ms linear, opacity 500ms linear;
  transform: translate3d(0, -100px, 0);
}

.fade-transition.in-view {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.wave-transition.in-view {
  background-position: 100vw 0;
}
