.user-stories {
  position: relative;
  margin: 0 0 50px;
  -webkit-overflow-scrolling: touch;

  .slick-arrow {
    display: none !important;
  }

  &__title {
    @include text-title;
    margin: 0 0 30px;
    text-align: center;
  }

  &__stories {
    position: relative;
    scrollbar-width: thin;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;

    &:hover {
      cursor: move;
    }

    &:not(.slick-initialized) {
      display: flex;
      flex-flow: row nowrap;
      overflow-x: scroll;

      .user-stories__story {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    &::-webkit-scrollbar {
      width: 20px;
      height: 7px;
      margin-top: 5px;
    }

    &::-webkit-scrollbar-track {
      background: $color-transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-theme-7;
      border-radius: 6px;
      border: 1px solid $color-transparent;
    }
  }

  .next-arrow,
  .prev-arrow {
    position: absolute;
    z-index: $z-base;
    top: 0;
    height: calc(100% - 10px);
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: ease-in-out all 0.3s;

    @include media-query($medium-down) {
      width: 50px;
    }

    &:hover {
      cursor: pointer;
    }

    svg {
      width: 50px;
      height: 50px;

      @include media-query($medium-down) {
        width: 30px;
        height: 30px;
      }

      path {
        stroke: $color-white;
      }
    }
  }

  &:hover {
    .prev-arrow {
      opacity: 1;
      transition: ease-in-out all 0.3s;
    }

    .next-arrow {
      opacity: 1;
      transition: ease-in-out all 0.3s;
    }
  }

  .prev-arrow {
    left: 15px;
    background: linear-gradient(
      267deg,
      rgba(231, 240, 242, 0) 0%,
      rgba(28, 28, 28, 0.16) 100%
    );
  }

  .next-arrow {
    right: 15px;
    background: linear-gradient(
      90deg,
      rgba(231, 240, 242, 0) 0%,
      rgba(28, 28, 28, 0.16) 100%
    );

    svg {
      transform: rotate(180deg);
    }
  }

  &__img-wrap {
    max-width: 100% !important;
  }

  &__img {
    max-width: 100% !important;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  &__story {
    padding: 0 12px;
    display: flex !important;
    flex-direction: column;

    &:nth-of-type(2n - 1) {
      .user-stories__s-media {
        order: 2 !important;
      }
    }

    &:first-of-type {
      padding: 0 12px 0 0;
    }

    &:last-of-type {
      padding: 0 0 0 12px;
    }
  }

  &__s-media {
    background-color: $color-theme-4;
    position: relative;
    padding-top: 100%;
  }

  &__s-media-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__s-c-wrap {
    background-color: $color-theme-4;
    min-height: 425px;
    padding: 40px;
    flex: auto;
  }

  &__s-title {
    @include font-header(700);
    @include text(24px, 33px, $color-main-1, 1.42px);
    margin: 0 0 15px;
  }

  &__s-content {
    @include font-body;
    @include text(20px, 27px, $color-body-text, 1.18px);
    margin: 0 0 10px;
  }

  &__s-rating {
    margin: 0 0 12px;
  }

  &__s-star {
    &:not(:last-of-type) {
      margin: 0 9px 0 0;
    }
  }

  &__s-author {
    @include font-body(700);
    @include text(20px, 27px, $color-body-text, 1.18px);
    margin: 0;
  }

  &__slider-wrap {
    width: calc(100% - 224px);
    margin: 10px auto 0;
  }

  &__slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: $color-transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15%;
      width: var(--index-stories-input-w);
      height: 5px;
      background: $color-black;
      cursor: pointer;
      top: -2px;
      position: relative;
      border-radius: 15px;
    }

    &::-moz-range-thumb {
      width: 15%;
      width: var(--index-stories-input-w);
      height: 5px;
      background: $color-black;
      cursor: pointer;
      top: -2px;
      position: relative;
      border-radius: 15px;
    }

    &::-ms-thumb {
      width: 15%;
      width: var(--index-stories-input-w);
      height: 4px;
      border-radius: 2px;
      border: none;
      background-color: $color-theme-7;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      background-color: $color-theme-6;
    }

    &::-moz-range-track {
      width: 100%;
      height: 2px;
      background-color: $color-theme-6;
    }

    &::-ms-track {
      width: 100%;
      height: 2px;
      background-color: $color-theme-6;
    }
  }

  @media screen and (min-width: $grid-large) and (max-width: $grid-xl) {
    .next-arrow,
    .prev-arrow {
      width: 100px;
    }

    &__s-c-wrap {
      min-height: 320px;
      padding: 20px;
    }

    &__s-title {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 1px;
    }

    &__s-content {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }
    &__s-author {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  @include media-query($large-down) {
    &__stories {
      &:not(.slick-initialized) {
        .user-stories__story {
          flex: 0 0 33.333%;
          max-width: 33.333%;
        }
      }
    }

    .next-arrow,
    .prev-arrow {
      width: 80px;
    }

    &__story {
      padding: 0 5px;

      &:first-of-type {
        padding: 0 5px 0 0;
      }

      &:last-of-type {
        padding: 0 0 0 5px;
      }
    }

    &__s-c-wrap {
      min-height: 300px;
      padding: 15px;
    }

    &__s-title {
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.9px;
    }

    &__s-content {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.8px;
    }

    &__s-author {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.8px;
    }
  }

  @include media-query($medium-down) {
    margin: 0 0 20px;

    &__stories {
      &:not(.slick-initialized) {
        .user-stories__story {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }

    &__title {
      letter-spacing: 0.97px;
      margin: 0 0 20px;
    }

    &__slider-wrap {
      width: calc(100% - 120px);
    }

    &__s-c-wrap {
      min-height: 1px;
      padding: 15px;
    }

    &__s-title {
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.95px;
      margin: 0 0 6px;
    }

    &__s-content {
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.77px;
      margin: 0 0 5px;
    }

    &__s-rating {
      margin: 0 0 12px;
    }

    &__s-star {
      &:not(:last-of-type) {
        margin: 0 9px 0 0;
      }
    }

    &__s-author {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.83px;
    }
  }

  @include media-query($small) {
    &__stories {
      &:not(.slick-initialized) {
        .user-stories__story {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: $grid-xs) {
    &__slider-wrap {
      width: calc(100% - 60px);
    }
  }
}
