.landing-page-header {
  overflow: hidden;
  height: 448px;
  margin-bottom: 60px;
  position: relative;

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='85' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 84.645L1600 75V2c-155.92-4.667-347.98 0-576.185 14C681.51 37 418.348 53.997 212.44 53.997H0v30.648z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    content: "";
    display: inline-block;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
  }

  .container-fluid {
    @include bg-image-only();
    position: relative;
    height: 100%;
  }

  @include media-query($medium-down) {
    height: 232px;
  }

  &-wrapper {
    position: relative;
    height: calc(100% + 10px);
    overflow: hidden;
  }

  &__image-wrapper {
    position: absolute;
    bottom: 15px;
  }

  &__content {
    position: absolute;
    top: 150px;

    @include media-query($medium-down) {
      top: 50px;
    }

      h1 {
        @include font-header(bold);
        @include text(40px, 1.25, $color-theme-7, 2.3px);

        @include media-query($medium-down) {
          @include text(16px);
          margin-bottom: 5px;
          width: 100%;
        }
    }

    p {
      @include poppins(normal);
      font-size: 24px;
      line-height: 1.3;

      @include media-query($medium-down) {
        font-size: 12px;
        width: 40%;
      }
    }
  }
}
