.lp-recommendations {
  margin: 100px 0;
  background-color: $color-theme-4;
  padding: 40px 0;

  h2 {
    @include font-header(bold);
    @include text(40px, 1.2, $color-theme-7, 2.2px);
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 20px;

    @include media-query($medium-down) {
      @include text(30px, 1.2, $color-theme-7, 1.7px);
    }
  }

  h2,
  p {
    width: 100%;
    text-align: center;
  }

  p:first-of-type {
    margin-bottom: 30px;
    padding: 0 15px;
  }

  &__item-wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 66%;
    max-width: 66%;

    @include media-query($large-down) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &__item {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    margin: 20px 0;

    @include media-query($small) {
      flex: 0 0 90%;
      max-width: 90%;
      margin: 0 20px;
    }

    &-icon {
      margin-right: 10px;
    }

    &-content {
      h3 {
        margin-bottom: 5px;
      }

      p {
        text-align: left;
        padding-right: 15px;
      }
    }
  }
}
