.lp-faq,
.lp-recommendations,
.lp-banner {
  margin: 40px 0;
}

.lp-referal,
.lp-register,
.lp-account,
.lp-steps {
  h3 {
    @include font-header(bold);
    @include text(30px, 1.2, $color-theme-7, 1.7px);
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

    @include media-query($medium-down) {
      @include text(20px, 1.2, $color-theme-7, 1px);
    }
  }

  p {
    @include font-body(normal);
    @include text(16px, 1.2, $color-theme-7, 1.45px);
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, $color-theme-13 0%, $color-white 14%, $color-white 100%);

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      width: 100%;
      height: 50px;
      top: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='1600' height='67' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.515 0h1601.29v46.132c-379.458 4.64-598.223 4.64-656.293 0-87.105-6.962-395.064 0-674.932 0S10.317 61 .515 66c-6.535 3.333-6.535-18.667 0-66z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");

      @include media-query($medium-down) {
        height: auto;
      }
    }

    &.active-step {
      display: flex;
    }

    &.inactive-step {
      @include media-query($medium-down) {
        display: none;
      }
    }
  }

  &__step-num {
    @include font-body(bold);
    text-align: center;
    background-color: $color-theme-1;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 auto;
    line-height: 1.3;
    border-radius: 50%;
    color: $color-white;
    position: relative;
    top: -20px;
    font-size: 30px;
  }
}

.lp-referal {
  &__container {
    background: linear-gradient(180deg, $color-theme-13 0%, $color-white 30%, $color-white 100%);
  }
}
