.lp-banner {
  margin: 40px 0;

  h2 {
    position: relative;
    top: 20%;
    @include font-header(bold);
    @include text(30px, 1.2, $color-theme-7, 1.7px);

    @include media-query($large-down) {
      position: relative;
      top: 0;
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    a {
      @include button(solid, r, 1);
      position: relative;
      top: -30px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
