.landing-page-header {
  overflow: hidden;
  height: 448px;
  margin-bottom: 60px;
  position: relative;
  top: -15px;

  @include media-query($medium-down) {
    height: 400px !important;
  }

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='1600' height='85' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 84.645L1600 75V2c-155.92-4.667-347.98 0-576.185 14C681.51 37 418.348 53.997 212.44 53.997H0v30.648z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: cover;
    content: "";
    display: inline-block;
    width: 100%;
    height: 82px;
    position: absolute;
    bottom: -2px;
    z-index: 101;
  }

  .container-fluid {
    @include bg-image-only();
    position: relative;
    height: 100%;
  }

  @include media-query($medium-down) {
    height: 232px;
  }

  &-wrapper {
    position: relative;
    height: calc(100% + 10px);
    overflow: hidden;

    @include media-query($medium-down) {
      flex-direction: column-reverse;
      height: 100%;
    }
  }

  &__image-wrapper {
    position: absolute;
    bottom: 15px;

    @include media-query($medium-down) {
      height: 200px;
      width: 100%;
    }

    img {
      @include media-query($medium-down) {
        object-fit: contain;
      }
    }
  }

  &__content {
    position: absolute;
    top: 150px;

    @include media-query($medium-down) {
      width: 100%;
    }

    &-wrapper {
      flex: 0 0 50%;
      max-width: 50%;
      width: 50%;

      @include media-query($medium-down) {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        position: absolute;
        top: 30px;
      }
    }

    @include media-query($medium-down) {
      top: 50px;
    }

      h1 {
        @include font-header(bold);
        @include text(40px, 1.25, $color-theme-7, 2.3px);
        text-align: center;

        @include media-query($medium-down) {
          @include text(30px, 1.25, $color-theme-7, 1.7px);
          margin-bottom: 5px;
          width: 100%;
        }
    }

    p {
      @include poppins(normal);
      font-size: 24px;
      line-height: 1.3;

      @include media-query($medium-down) {
        font-size: 12px;
        width: 40%;
      }
    }
  }
}
