.lp-steps {
  h2 {
    @include font-header(bold);
    @include text(40px, 1.2, $color-theme-1, 2.3px);
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;

    @include media-query($medium-down) {
      @include text(30px, 1.2, $color-theme-1, 1px);
    }
  }

  &__step {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, $color-theme-13 0%, $color-white 150px, $color-white 100%);

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      width: 100%;
      height: 50px;
      top: 0px;
      background-image: url("data:image/svg+xml,%3Csvg width='1600' height='67' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.515 0h1601.29v46.132c-379.458 4.64-598.223 4.64-656.293 0-87.105-6.962-395.064 0-674.932 0S10.317 61 .515 66c-6.535 3.333-6.535-18.667 0-66z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");

      @include media-query($medium-down) {
        height: auto;
      }
    }

    &-container {
      width: 100%;
    }

    &-num {
      text-align: center;
      background-color: $color-theme-1;
      width: 50px;
      height: 50px;
      display: inline-block;
      margin: 0 auto;
      line-height: 1.7;
      border-radius: 50%;
      color: $color-white;
      position: relative;
      top: -30px;
      @include font-body(bold);
      font-size: 30px;
    }

    h4 {
      @include font-header(bold);
      @include text(30px, 1.2, $color-theme-8, 1.8px);
      width: 100%;
      text-align: center;
    }

    &-tab-nav {
      border-bottom: 2px solid $color-black;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    &-tab {
      display: inline-block;
      padding: 10px;
      border: 2px solid $color-theme-8;
      border-bottom: 2px solid $color-black;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      opacity: 0.5;
      position: relative;
      top: 2px;

      &.active {
        border: 2px solid $color-black;
      }

      &:nth-of-type(2n) {
        left: -2px;
      }

      &:hover {
        cursor: pointer;
      }

      h4 {
        font-size: 24px;

        @include media-query($large-down) {
          font-size: 14px;
        }
      }

      &.active {
        opacity: 1;

        h4 {
          color: $color-black;
        }
      }

      &-content {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-top: 40px;
        display: none;

        &-wrapper {
          display: flex;
          align-items: center;
          flex-direction: column;
        }

        &.active {
          display: flex;
          flex-direction: column;

          &:empty {
            display: none !important;
          }
        }

        @include media-query($large-down) {
          max-width: 90%;
          flex-display: 0 0 90%;
        }

        > p {
          @include font-body(normal);
          font-size: 20px;
          margin-top: 20px;

          span {
            @include font-body(bold);
            color: $color-theme-1;
          }
        }

        > div {
          margin-bottom: 50px;
        }

        iframe {
          width: 100%;
          height: 450px;
          position: relative !important;

          @include media-query($medium-down) {
            height: auto;

            &#ytplayer {
              height: 450px;
            }
          }
        }
      }
    }

    &.active-step {
      display: flex;
    }

    &.inactive-step {
      @include media-query($medium-down) {
        display: none;
      }
    }
  }
}
