.lp-account {
  background-color: green;

  &__create-account-btn {
    @include button(solid, r, 2);
    text-align: center;
    width: 300px;
  }

  &__recommendations {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
  }

  &__recommendations-item {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    display: flex;
    margin: 20px 0;

    @include media-query($small) {
      flex: 0 0 90%;
      max-width: 90%;
      margin: 0 20px;
    }

    &-icon {
      margin-right: 10px;
    }

    &-content {
      h4 {
        margin-bottom: 5px;
        text-align: left;
        @include font-header(bold);
        @include text(16px, 1.2, $color-theme-24, 1.45px);
      }

      p {
        text-align: left;
        padding-right: 15px;
      }
    }
  }
}
