@import "./landing-page-header";
@import "./landing-page-steps";
@import "./landing-page-recommendations";
@import "./landing-page-banner";
@import "./landing-page-subscription";
@import "./landing-page-faq";

.lp-faq,
.lp-recommendations,
.lp-banner {
  margin: 40px 0;
}
