@import "./landing-page-header";
@import "./landing-page-steps";
@import "./landing-page-create-account";
@import "./landing-page-register-bottle";
@import "./landing-page-referal";
@import "./landing-page-recommendations";
@import "./landing-page-banner";
@import "./landing-page-diffusers";
@import "./landing-page-faq";

.lp-faq,
.lp-recommendations,
.lp-banner {
  margin: 40px 0;
}
