// usage: @include button(type, size);
// types: main, wire, none
// sizes: normal(any), big, small, tiny
// defaults go to button framework
/* 
@mixin button($type: none, $size: none) {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: normal;
  text-decoration: none;
  user-select: none;
  appearance: none;

  @if $type == main {
    @include neue-haas;
    @include text(13px, 14px, $color-white, 0.1px);
    @include transition(background-color);
    text-align: center;
    text-decoration: none;
    padding: 13px 24px;
    background: none;
    background-color: $color-black;
    border-radius: 0;
    height: auto;
    display: inline-block;

    &:not(:disabled) {
      &:hover,
      &:active,
      &:focus {
        background: none;
        color: $color-white;
        background-color: $color-black;
      }

      &:focus {
        color: $color-white;
      }
    }

    &:disabled {
      background: none;
      cursor: not-allowed;
      background-color: $color-disabled-border;
    }

    @if $size == big {
      padding-top: 18px;
      padding-bottom: 18px;
    } @else if $size == small {
      padding-top: 10px;
      padding-bottom: 10px;
    } @else if $size == tiny {
      padding: 6px 20px;
    }
  } @else if $type == wire {
    @include neue-haas;
    @include text(13px, 14px, $color-black, 0.1px);
    @include transition(background-color, color);
    text-align: center;
    text-decoration: none;
    padding: 11px 23px;
    background: none;
    background-color: transparent;
    border: 1px solid $color-black;
    border-radius: 0;
    height: auto;
    display: inline-block;

    &:not(:disabled) {
      &:hover,
      &:active,
      &:focus {
        background: none;
        background-color: $color-black;
        color: $color-white;
      }
    }

    &:disabled {
      cursor: not-allowed;
      background: none;
      background-color: transparent;
      color: $color-disabled;
      border-color: $color-disabled;
    }

    @if $size == big {
      padding-top: 17px;
      padding-bottom: 17px;
    } @else if $size == small {
      padding-top: 9px;
      padding-bottom: 9px;
    } @else if $size == tiny {
      padding: 5px 20px;
    }
  }

  @include media-query($small) {
    @if $type == main {
      font-size: 11.5px;
    } @else if $type == wire {
      font-size: 11.5px;
    }
  }
}

@mixin button-width {
  @include media-query($medium-up) {
    max-width: 260px;
    width: 100%;
    display: block;
  }
}
 */
