{% if section.settings.show %}
  <div class="container">
  {% for block in section.blocks %}
    {% assign tag = block.settings.tag %}
    <h2>{{ tag }}</h2>

    <div class="row justify-content-center">
      {% assign count = 0 %}
      {% for article in blogs.y-blog.articles %}
        {% if count > 3 %}
          {% break %}
        {% endif %}

        {% if article.tags contains tag %}
          {% assign count = count | plus: 1 %}
          <div class="col-sm-12 col-md-6 col-lg-2 ">
            {% render 'blog-recent' with
              blog_article: article,
              size: "article-card--xs"
            %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="row justify-content-center">
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}?view=tagged" class="blog-topics__more-link">More from {{ tag }}</a>
    </div>
  {% endfor %}
  </div>
{% endif %}

{% schema %}
{
  "name":"Blog Topics",
  "class":"blog-topics",
  "settings": [
    {
      "type": "checkbox",
      "id": "show",
      "label": "Show this section?",
      "default": true
    }
  ],
  "blocks":[
     {
      "type":"text",
      "name":"Posts by Tags",
      "limit":2,
      "settings":[
         {
            "type":"text",
            "id":"tag",
            "label":"Category Name"
         }
      ]
   }
  ]
}
{% endschema %}

