{% assign has_blocks = false %}
{% for block in section.blocks %}
  {% if block.settings.tab %}
    {% assign has_blocks = true %}
    {% if forloop.first %}
      {% assign active_tab_class = " active" %}
    {% else %}
      {% assign active_tab_class = "" %}
    {% endif %}
    <button type="button" class="contact-tabs-header__link{{ active_tab_class }}" data-tab-link={{ forloop.index0 }}>{{ block.settings.title }}</button>
  {% endif %}
{% endfor %}

{% comment %} because we can't check section content outside sections {% endcomment %}
{% unless has_blocks %}
<style>
  body .contact-tabs-header {
    display: none;
  }
</style>
{% endunless %}

{% schema %}
  {
    "name": "Tabs Header",
    "class": "contact-tabs-header",
    "blocks": [
      {
        "type": "block",
        "name": "Tab",
        "settings": [
          {
            "type": "checkbox",
            "id": "tab",
            "label": "Tab",
            "info": "Show tab?"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Tab Title"
          }
        ]
      }
    ]
  }
{% endschema %}
