<div class="container-fluid d-flex" style="background-image:url('{{ section.settings.background.src | image_url }}')"​​​​​​>
  <div class="container">
    <div class="landing-page-header-wrapper d-flex">
      <div class="col-md-2 d-none d-md-block"></div>

      <div class="col-12 col-md-4 d-flex justify-content-center">
        {%- render 'responsive-image' with
          image: section.settings.foreground_image.src,
          max_width: 1024,
          max_height: 1024,
          wrapper_class: "landing-page-header__image-wrapper",
          image_class: "landing-page-header__image",
          snippet_index: 35
        -%}
      </div>

      <div class="landing-page-header__content-wrapper">
        <div class="landing-page-header__content">
          {%- if section.settings.title != blank -%}
            <h1>{{- section.settings.title -}}</h1>
          {% endif %}
          <p>{{- section.settings.content -}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Landing Page Header",
  "class": "landing-page-header",
  "settings": [
  {
  "type": "text",
  "id": "title",
  "label": "Title"
  },
  {
  "type": "image_picker",
  "id": "background",
  "label": "Background"
  },
  {
  "type": "image_picker",
  "id": "foreground_image",
  "label": "Foreground Image"
  }
  ]
  }
{% endschema %}
