<div class="container">
  <div class="row">
  </div>
</div>

{% schema %}
  {
  "name":"Landing Pages Product",
  "settings":[
    {
      "type":"text",
      "id":"title",
      "label":"Title"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ]
  }
{% endschema %}
