{% comment %} TODO add to cart logic for diffusers {% endcomment %}
{% if section.settings.extra_product %}
<div class="container">
  <div class="row justify-content-center">
    {% assign e_product = all_products[section.settings.extra_product] %}
    <div class="col-md-4">
      <div class="lp-diffusers__header">
        {% render 'responsive-image' with
          image: section.settings.diffuser_product_image,
          max_width: 700,
          max_height: 700,
          wrapper_class: "lp-diffusers__featured-image",
          span: true,
          snippet_index: 34
        %}

        {% if section.settings-title != blank %}
          <h3>{{ section.settings.title }}</h3>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6 col-lg-5">
      {% if section.settings.title != blank %}
        <div class="lp-diffusers__title-header">
          <h3 class="lp-diffusers__title">{{ section.settings.title }}</h3>
        </div>
      {% endif %}

      <div class="lp-diffusers__recomm">
        {% for block in section.blocks %}
          {%- if block.settings.icon != blank -%}
            <div class="lp-diffusers__recomm-item">
              <div class="lp-diffusers__recomm-item-icon">
                {%- if block.settings.icon == "icon-dolar-circle" -%}
                  {%- render 'icon-dolar-circle' -%}

                  {%- elsif block.settings.icon == "icon-close-circle-blue" -%}
                  {%- render 'icon-close-circle-blue' -%}

                  {%- elsif block.settings.icon == "icon-settings" -%}
                  {%- render 'icon-settings' -%}
                {%- endif -%}
              </div>
              <div class="lp-diffusers__recomm-content">
                <p>{{ block.settings.recommendation_title }}</p>
              </div>
            </div>
          {%- endif -%}
        {% endfor %}
      </div>

      <div class="lp-diffusers__description">
        <p>{{ section.settings.note }}</p>
      </div>

      {% unless section.settings.extra_product == product.handle %}
        {% render 'subscription-form' with section.settings.extra_product
          current_product_id: product.id
          show_extras: false,
          hide_price: true
        %}
      {% endunless %}
    </div>
  </div>
</div>
{% endif %}



{% schema %}
  {
    "name": "Product Diffusers",
    "class": "lp-diffusers",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      },
      {
        "type": "product",
        "id": "extra_product",
        "label": "Addable Product"
      },
      {
      "type": "image_picker",
      "id": "diffuser_product_image",
      "label": "Custom Diffuser Image"
      },
      {
        "type": "richtext",
        "id": "note",
        "label": "Note"
      }
    ],
    "blocks":[
      {
        "type":"text",
        "name":"Recommendations",
        "settings":[
          {
            "type":"text",
            "id":"icon",
            "label":"icon-dolar-circle, icon-settings, icon-close-circle-blue"
          },
          {
            "type":"text",
            "id":"recommendation_title",
            "label":"Title"
          }
        ]
      }
    ]
  }
{% endschema %}
