{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

{% if product.images.size > 1 %}
  <div class="pdp-g-index__dots-wrap">
    <div class="pdp-g-index__dots" data-pdp-gallery-index>
      {% for image in product.images %}
        {% unless image.alt contains "featured-collection-image" %}
          <div class="pdp-g-index__dot-link">
            {% render 'responsive-image' with
              image: image,
              max_width: 90,
              max_height: 90,
              image_attributes: "data-product-featured-image",
              wrapper_class: "pdp-g-index__dot-wrap",
              image_class: "pdp-g-index__dot-img",
              snippet_index: 3,
            %}
          </div>
        {% endunless %}
      {% endfor %}

      {% if product.metafields.info.video != blank %}
        <div class="pdp-g-index__dot-link">
          <div class="pdp-g-index__dot-wrap video">
            <video width="90" height="90" class="pdp-g-index__dot-video">
              <source src="{{ product.metafields.info.video }}" type="video/mp4">
              <source src="{{ product.metafields.info.video }}" type="video/ogg">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

{% endif %}


{% schema %}
  {
    "name": "Product Gallery Index",
    "class": "pdp-g-index"
  }
{% endschema %}