{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

{% if product.images.size > 1 %}
  <div class="pdp-g-index__dots-wrap d-none d-md-block">
    <div class="pdp-g-index__dots" data-pdp-gallery-index>
      {% for image in product.images %}
        {% unless image.alt contains "featured-collection-image" %}
          <div class="pdp-g-index__dot-link">
            {% render 'responsive-image' with
              image: image,
              max_width: 90,
              max_height: 90,
              image_attributes: "data-product-featured-image",
              wrapper_class: "pdp-g-index__dot-wrap",
              image_class: "pdp-g-index__dot-img",
              snippet_index: 38,
            %}
          </div>
        {% endunless %}
      {% endfor %}

      {% if product.metafields.info.video != blank %}
        <div class="pdp-g-index__dot-link">
          <div class="pdp-g-index__dot-wrap video">
            {% if product.metafields.info.video_thumbnail != blank %}
              <img src="{{ product.metafields.info.video_thumbnail }}" alt="Video Thumbnail" />
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

{% endif %}


{% schema %}
  {
    "name": "Product Gallery Index",
    "class": "pdp-g-index"
  }
{% endschema %}