{% if section.settings.show %}
  <div class="container">
    {% if section.settings.title != empty %}
      <h4 class="pdp-user-img__header">
        <span class="pdp-user-img__title">{{ section.settings.title }}</span>
        {% if section.blocks.size > 0 %}
          <span class="pdp-user-img__count">{{ section.blocks.size }}</span>
        {% endif %}
      </h4>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="pdp-user-img__images" pdp-user-images>
        {% for block in section.blocks %}
          {% if block.settings.image %}
            <div class="pdp-user-img__item">
              {%- render 'responsive-image' with
                image: block.settings.image,
                max_width: 200,
                max_height: 200,
                wrapper_class: "pdp-user-img__img-wrap",
                image_class: "pdp-user-img__img"
              -%}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "User Pictures",
    "class": "pdp-user-img",
    "settings": [
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show Section",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
