<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="po-features__container">
        {%- render 'responsive-image' with
          image: section.settings.left_image.src,
          max_width: 540,
          max_height: 540,
          wrapper_class: "po-features__image-container",
          image_class: "po-features__image",
          snippet_index: 35
        -%}
        <div class="col-md-3">
          <span>{{ section.settings.text_above_title }}</span>
          <h2>{{ section.settings.title }}</h2>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center flex-wrap">
          {% for block in section.blocks %}
            <div class="po-features__item">
              {%- render 'responsive-image' with
                image: block.settings.featured_item_icon.src,
                max_width: 52,
                max_height: 52,
                wrapper_class: "po-features__image-container",
                image_class: "po-features-water__image",
                snippet_index: 35
              -%}
              <p>{{ block.settings.featured_item_title }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="po-features__wave-bottom"></div>

{% schema %}
{
"name": "Pre-Order Features",
"class": "po-features",
"settings": [
  {
    "type": "text",
    "id": "text_above_title",
    "label": "Text above Title"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Title"
  },
  {
    "type": "image_picker",
    "id": "left_image",
    "label": "Left Image"
  }
],
"blocks":[
  {
    "type":"text",
    "name":"Testimonial Item",
    "settings":[
    {
      "type":"image_picker",
      "id":"featured_item_icon",
      "label":"Featured Item Icon"
    },
    {
      "type":"text",
      "id":"featured_item_title",
      "label":"Featured Item Title"
    }
    ]
  }
]
}
{% endschema %}
