<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="po-diffusers__container">
        <div class="col-md-4">
          <span>{{ section.settings.text_above_title }}</span>
          <h2>{{ section.settings.title }}</h2>
          <p>{{ section.settings.content }}</p>
        </div>
        <div class="col-md-8 d-flex justify-content-center align-items-center">
          {%- render 'responsive-image' with
            image: section.settings.left_image.src,
            max_width: 400,
            max_height: 300,
            wrapper_class: "po-diffusers__image-container",
            image_class: "po-diffusers__image",
            snippet_index: 35
          -%}
          {%- render 'responsive-image' with
            image: section.settings.right_image.src,
            max_width: 400,
            max_height: 300,
            wrapper_class: "po-diffusers__image-container",
            image_class: "po-diffusers__image",
            snippet_index: 35
          -%}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="po-diffusers__wave-bottom"></div>

{% schema %}
  {
  "name": "Pre-Order Diffusers",
  "class": "po-diffusers",
  "settings": [
    {
      "type": "text",
      "id": "text_above_title",
      "label": "Text above title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Image"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right Image"
    }
  ]
  }
{% endschema %}
