<div class="pop">
  <div class="row justify-content-center">
    <div class="col-xl-2"></div>
    <div class="col-xl-4 col-lg-6 d-flex justify-content-center">
      {% render 'responsive-image' with
        image: section.settings.diffuser_product_image,
        max_width: 700,
        max_height: 700,
        wrapper_class: "po-subscription__featured-image",
        span: true,
        snippet_index: 34
      %}
    </div>
    <div class="col-xl-3 col-lg-6">
      {% render 'subscription-form' with settings.extra_diffusers_product
        current_product_id: product.id
        show_extras: true,
        note: settings.extra_diffusers_note,,
        index: 4
      %}
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Pre Order Shop Diffusers",
  "class": "pop po-shop pre-order-shop-diffusers",
  "settings": [
    {
      "type": "image_picker",
      "id": "diffuser_product_image",
      "label": "Custom Diffuser Image"
    }
  ]
  }
{% endschema %}
