<div class="container-fluid d-flex" style="background-image:url('{{ section.settings.background.src | image_url }}')"​​​​​​>
  <div class="container">
    <div class="pre-order-header__container d-flex">
      <div class="col-md-2 d-none d-lg-block"></div>

      <div class="pre-order-header__content-wrapper">
        <div class="pre-order-header__content">
          {%- if section.settings.title != blank -%}
            <h1>{{ section.settings.title }}</h1>
          {% endif %}

          {% if section.settings.btn_text != blank %}
            <a href="{{ section.settings.btn_link }}" data-anchor-btn>{{- section.settings.btn_text -}}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Pre-Order Header",
  "class": "pre-order-header",
  "settings": [
  {
    "type": "richtext",
    "id": "title",
    "label": "Title"
  },
  {
    "type": "image_picker",
    "id": "background",
    "label": "Background"
  },
  {
    "type": "image_picker",
    "id": "background_mobile",
    "label": "Background Mobile"
  },
  {
    "type": "text",
    "id": "btn_text",
    "label": "Button Text"
  },
  {
    "type": "url",
    "id": "btn_link",
    "label": "Button Link"
  }
  ]
  }
{% endschema %}
