<div class="po-alkaline-water__wrapper">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="po-alkaline-water__wrapper-inner">
          <div class="col-md-6">
            <div class="po-alkaline-water__title">
              <h2>Drinking Alkaline Water feels just right!</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="po-alkaline-water__content">
              <div class="po-alkaline-water__item">
                <img src="https://unsplash.it/50/50" />
                <p>Helps with acid reflux</p>
              </div>
              <div class="po-alkaline-water__item">
                <img src="https://unsplash.it/50/50" />
                <p>Helps with acid reflux</p>
              </div>
              <div class="po-alkaline-water__item">
                <img src="https://unsplash.it/50/50" />
                <p>Helps with acid reflux</p>
              </div>
              <div class="po-alkaline-water__item">
                <img src="https://unsplash.it/50/50" />
                <p>Helps with acid reflux</p>
              </div>
              <div class="po-alkaline-water__content-link">
                <a href="#">Why is pH so important?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Pre-Order Alkaline Water",
  "class": "po-alkaline-water",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    }
  ]
  }
{% endschema %}
