<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="po-on-the-go__container">
        <div class="col-md-4">
          <h2>Creating Alkaline water on the go is as easy as:</h2>
        </div>
        <div class="col-md-8 d-flex justify-content-center">
          <div class="col-md-3 text-center">
            <img src="https://unsplash.it/100/100" />
            <h3>1. Fill</h3>
            <p>Fill your DYLN Bottle with filtered water</p>
          </div>
          <div class="col-md-3 text-center">
            <img src="https://unsplash.it/100/100" />
            <h3>2. Alkalize</h3>
            <p>The VitaBead Diffuser alkalizes your water</p>
          </div>
          <div class="col-md-3 text-center">
            <img src="https://unsplash.it/100/100" />
            <h3>3. Hydrate</h3>
            <p>Enjoy Alkaline Antioxidant Water</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Pre-Order On The Go",
  "class": "po-on-the-go",
  "settings": [
  {
  "type": "text",
  "id": "title",
  "label": "Title"
  }
  ]
  }
{% endschema %}
