<div class="pop">
  <div class="row justify-content-center">
    <div class="col-xl-2"></div>
    <div class="col-xl-5 col-lg-6 d-flex justify-content-center">
      {% render 'responsive-image-no-lazy' with
        image: section.settings.diffuser_product_image,
        max_width: 700,
        max_height: 700,
        wrapper_class: "po-subscription__featured-image",
        span: true,
        snippet_index: 63
      %}
    </div>
    <div class="col-xl-4 col-lg-6">
      <h2>{{ section.settings.title }}</h2>
      <div class="description">{{ section.settings.content_area }}</div>
      {% render 'subscription-form' with settings.extra_diffusers_product
        show_extras: true,
        note: settings.extra_diffusers_note,
        index: 4
      %}
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Pre Order Shop Diffusers",
  "class": "pop po-shop pre-order-shop-diffusers",
  "settings": [
    {
      "type": "image_picker",
      "id": "diffuser_product_image",
      "label": "Custom Diffuser Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "content_area",
      "label": "Content",
      "info": "Add a description here. You can include HTML"
    }
  ]
  }
{% endschema %}
