<div class="container-fluid">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-7">
        <div class="po-video__content">
          <h2>{{ section.settings.title }}</h2>
          <button type="button" class="po-video__link" data-index-video-open>
            <span class="po-video__link-text">{{- section.settings.video_link_text -}}</span>
            <span class="po-video__link-icon">{%- render 'icon-play' -%}</span>
          </button>
        </div>
      </div>
      <div class="col-md-4">
        {% render 'responsive-image' with
          image: section.settings.image.src,
          max_width: 530,
          max_height: 530,
          wrapper_class: "po-video__image-wrapper",
          image_class: "po-video__image"
          span: true,
        %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Pre-Order Video",
  "class": "po-video",
  "settings": [
  {
  "type": "text",
  "id": "title",
  "label": "Title"
  },
  {
  "type": "text",
  "id": "video_link_text",
  "label": "Video Link Text"
  },
  {
  "type": "image_picker",
  "id": "image",
  "label": "Foreground Image"
  }
  ]
  }
{% endschema %}
