<div class="po-alkaline-water__wrapper">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="po-alkaline-water__wrapper-inner">
          <div class="col-md-6">
            <div class="po-alkaline-water__title">
              <h2>{{ section.settings.title }}</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="po-alkaline-water__content">
              {% for block in section.blocks %}
              <div class="po-alkaline-water__item">
                {%- render 'responsive-image' with
                  image: block.settings.featured_item_icon.src,
                  max_width: 52,
                  max_height: 52,
                  wrapper_class: "po-alkaline-water__image-container",
                  image_class: "po-alkaline-water__image",
                  snippet_index: 35
                -%}
                <p>{{ block.settings.featured_item_title }}</p>
              </div>
              {% endfor %}
            </div>
            <div class="po-alkaline-water__content-link">
              <a href="#">{{ section.settings.btn_text }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Pre-Order Alkaline Water",
  "class": "po-alkaline-water",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    }
  ],
  "blocks":[
    {
      "type":"text",
      "name":"Featured Items",
      "settings":[
      {
        "type":"image_picker",
        "id":"featured_item_icon",
        "label":"Featured Item Icon"
      },
      {
        "type":"text",
        "id":"featured_item_title",
        "label":"Featured Item Title"
      }
    ]
  }
  ]
  }
{% endschema %}
