<aside class="col-md-2">
    <h2>{{ section.settings.title }}</h2>
    <ul>
        <li<a href="tel:{{ section.settings.telephone }}">Lets talk</a></li>
        <li><a href="mailto:{{ section.settings.email }}">Email us</a></li>
        <li>Lets Chat</li>
    </ul>
</aside>

{% schema %}
{
    "name":"Template Page Sidebar",
    "class":"tp-sidebar",
    "settings":[
        {
            "type":"checkbox",
            "id":"show",
            "label":"Show Sidebar?"
        },
        {
            "type":"text",
            "id":"title",
            "label":"Sidebar Title"
        },
        {
            "type":"text",
            "id":"telephone",
            "label":"Telephone"
        },
        {
            "type":"text",
            "id":"email",
            "label":"E-mail"
        },
        {
            "type":"text",
            "id":"live_chat",
            "label":"Live Chat"
        }
    ]
}
{% endschema %}
