.c-filter {
  &__header {
  }
  &__header-button {
  }
  &__header-text {
  }
  &__header-icon {
  }
  &__body {
  }
  &__cat-btn {
  }
  &__cat-btn-text {
  }
  &__cat-btn-icon {
  }
  &__cat-options-header {
  }
  &__cat-options {
  }
  &__cat-list {
  }
  &__cat-option {
  }
  &__cat-icon {
  }
  &__cat-option-text {
  }
  &__current-filters {
  }
}
