.c-filter {
  position: relative;
  top: -10px;

  [data-cat-group] {
    margin: 0 0 10px;
  }

  &__header {
    border-bottom: 1px solid $color-theme-6;
  }

  &__header-button {
    @include no-browser-styling;
    padding: 5px 0;
  }

  &__header-text {
    @include font-header(700);
    @include text(18px, 20px, $color-title, 1.06px);
    display: inline-block;
    vertical-align: middle;
  }

  &__header-icon {
    @include no-browser-styling;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
  }

  &__body {
    padding: 3px 0 0;
  }

  &__cat-btn {
    @include no-browser-styling;
    padding: 5px 0;
    display: inline-block;

    &:not(:last-of-type) {
      margin: 0 50px 0 0;
    }

    &.active {
      .c-filter__cat-btn-icon {
        transform: rotate3d(1, 0, 0, 180deg);
      }

      .c-filter__cat-btn-text {
        color: $color-main-1;
      }

      path,
      g {
        stroke: $color-main-1;
      }
    }

    &:hover {
      .c-filter__cat-btn-text {
        color: $color-main-1;
      }
    }
  }

  &__cat-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
    padding: 10px 0;
  }

  &__cat-btn-text {
    @include font-header(700);
    @include text(18px, 20px, $color-title, 1.06px);
    @include transition(color);
    display: inline-block;
    vertical-align: middle;
  }

  &__cat-btn-icon {
    @include no-font-size;
    @include transition(transform);
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;

    path,
    g {
      @include transition(stroke);
    }
  }

  &__cat-options-header {
    @include clearfix;
  }

  &__cat-color {
    @include transition(box-shadow);
    @include no-browser-styling;
    @include no-font-size;
    position: relative;
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: $color-white;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;

    &::before {
      @include transition(box-shadow);
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      bottom: -1px;
      right: -1px;
      display: block;
      box-shadow: none;
      border: 4px solid $color-white;
      border-radius: 50%;
      background-position: center;
    }

    &.active,
    &:hover {
      &::before {
        box-shadow: 0 0 7px 0 rgba($color-black, 0.5);
      }
    }

    &:not(:last-of-type) {
      margin: 0 14px 5px 0;
    }
  }

  &__cat-list {
    padding: 20px 0;
  }

  &__cat-option {
    @include no-browser-styling;
    @include underline($color-body-text, false);
    padding: 10px 8px;

    &:not(:last-of-type) {
      margin: 0 60px 0 0;
    }

    &.active {
      &::after {
        width: 100%;
      }
    }

    &:hover {
      .c-filter__cat-option-text {
        color: $color-main-1;
      }
    }
  }

  &__cat-option-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
  }

  &__cat-option-text {
    @include font-header(500);
    @include text(14px, 20px, $color-body-text, 0.83px);
    @include transition(color);
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__reset-filters {
    @include no-browser-styling;
    @include font-header(500);
    @include text(14px, 20px, $color-body-text, 0.83px);
    padding: 5px 0;
    float: right;
  }

  &__current-filters {
    @include transition(border-color);
    padding: 5px 0;
    border-top: 1px solid $color-transparent;

    &.active {
      border-top: 1px solid $color-theme-6;
    }
  }

  &__current-filter {
    @include no-browser-styling;
    display: inline-block;
    padding: 2px 0;

    &:not(:last-of-type) {
      margin: 0 15px 0 0;
    }

    &:hover {
      .c-filter__current-title {
        color: $color-main-1;
      }

      .c-filter__current-icon path {
        stroke: $color-main-1;
      }
    }
  }

  &__current-title {
    @include no-browser-styling;
    @include transition(color);
    @include font-header;
    @include text(12px, 17px, $color-body-text, 0.51px);
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__current-icon {
    @include no-font-size;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 3px;

    svg {
      width: 10px;
      height: 10px;
    }

    path {
      @include transition(stroke);
      stroke: $color-body-text;
    }
  }

  @media screen and (min-width: $grid-max + 1px) {
    top: 0;
  }

  @include media-query($medium-down) {
    top: 0;
    &__header-button {
      padding: 3px 0;
    }

    &__header-text {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.8px;
    }

    &__header-icon {
      svg {
        width: 9px;
      }
    }

    &__cat-btn {
      padding: 3px 0;

      &:not(:last-of-type) {
        margin: 0 30px 0 0;
      }
    }

    &__cat-icon {
      margin: 0 10px 0 0;
      padding: 5px 0;
    }

    &__cat-btn-text {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.7px;
    }

    &__cat-btn-icon {
      svg {
        width: 9px;
      }
    }

    &__cat-color {
      width: 30px;
      height: 30px;

      &::before {
        border-width: 3px;
      }

      &.active,
      &:hover {
        &::before {
          box-shadow: 0 0 4px 0 rgba($color-black, 0.5);
        }
      }

      &:not(:last-of-type) {
        margin: 0 10px 5px 0;
      }
    }

    &__cat-list {
      padding: 10px 0;
    }

    &__cat-option {
      padding: 5px;

      &:not(:last-of-type) {
        margin: 0 30px 0 0;
      }
    }

    &__cat-option-icon {
      margin: 0 auto;
    }

    &__cat-option-text {
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.6px;
      display: block;
    }

    &__reset-filters {
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.6px;
      padding: 3px 0;
    }

    &__current-filters {
      padding: 3px 0;
    }

    &__current-filter {
      padding: 2px 0;

      &:not(:last-of-type) {
        margin: 0 10px 0 0;
      }
    }

    &__current-title {
      font-size: 9px;
      line-height: 12px;
      letter-spacing: 0.5px;
    }

    &__current-icon {
      svg {
        width: 7px;
        height: 7px;
      }
    }
  }
}
