.c-header {
  position: relative;

  &__content-wrap {
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    height: 100%;

    .container {
      height: 100%;
    }
    .row {
      height: 100%;
    }
  }

  &__content {
    margin: auto auto auto 0;
  }

  &__title {
    @include text-title;
    margin: 0 0 5px;
  }

  &__subtitle {
    @include poppins(500);
    @include text(24px, 35px, $color-title, 1px);
    margin: 0 0 15px;
  }

  &__usps {
  }

  &__usp {
    width: 90px;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
  }

  &__icon {
    @include no-font-size;
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    background-color: $color-main-1;
    border-radius: 50%;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__usp-title {
    @include poppins(700);
    @include text(12px, 16px, $color-body-text, 0.71px);
  }
}
