.hide {
  /* stylelint-disable declaration-no-important */
  display: none !important;
}

.static {
  /* stylelint-disable declaration-no-important */
  position: static !important;
}

.relative {
  /* stylelint-disable declaration-no-important */
  position: relative !important;
}

.no-padding {
  /* stylelint-disable declaration-no-important */
  padding: 0 !important;
}

.brand-blue {
  color: $color-main-1 !important;
}

.brand-green {
  color: $color-main-2 !important;
}

body {
  .container:not(.regular) {
    @media screen and (min-width: 1430px) {
      max-width: $grid-container-max;
    }
  }

  .row {
    margin-right: -#{$grid-gap};
    margin-left: -#{$grid-gap};

    &.no-gutters {
      margin-right: 0;
      margin-left: 0;
      > [class*="col"] {
        padding-right: 0;
        padding-left: 0;
      }
    }

    &:not(.no-gutters) {
      > [class*="col"] {
        padding-right: $grid-gap;
        padding-left: $grid-gap;
      }
    }
  }
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.gorgias-offset {
  bottom: 50px !important;
}

#pre-order {
  .gorgias-offset {
    bottom: 90px !important;
  }
}

