.hide {
  /* stylelint-disable declaration-no-important */
  display: none !important;
}

.static {
  /* stylelint-disable declaration-no-important */
  position: static !important;
}

.relative {
  /* stylelint-disable declaration-no-important */
  position: relative !important;
}

.no-padding {
  /* stylelint-disable declaration-no-important */
  padding: 0 !important;
}

.brand-blue {
  color: $color-main-1 !important;
}

.brand-green {
  color: $color-main-2 !important;
}

.container {
  @media screen and (min-width: 1360px) {
    max-width: 1330px;
  }
}
