.p-404 {
  position: relative;
  margin: 0 0 30px;

  &__outer {
    position: relative;
  }

  &__content-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__container {
    height: 100%;
  }
  &__row {
    height: 90%;
  }

  &__content {
    text-align: center;
    align-self: center;
  }

  &__title {
    @include poppins(700);
    @include text(40px, 56px, $color-title-light, 2.36px);
  }

  &__subtitle {
    @include poppins(500);
    @include text(20px, 24px, $color-title-light, 1.18px);
    text-transform: uppercase;
  }

  &__message {
    @include poppins(500);
    @include text(20px, 24px, $color-title-light, 1.18px);
    text-align: center;
  }

  &__link-wrap {
    margin: 30px 0 0;
  }

  &__link {
    @include button(solid, r, 1);
    padding: 11px;
    margin: 0 10px 20px;
    width: 200px;
    max-width: 100%;
    text-align: center;
  }

  &__btm-link {
    @include poppins(500);
    @include text(20px, 28px, $color-white, 1.18px);
    position: relative;
    display: inline-block;
    margin: 30px 0 0;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-white;
    }
  }

  &__wave-wrap {
    overflow-y: hidden;
  }

  &__wave {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    max-width: 100%;
  }
}
