.cart {
  padding: 100px 0;
  min-height: 1000px;

  &__form {
    margin: 0 auto;
  }

  .afterpay-paragraph {
    margin: 0 auto;
  }

  &__checkout {
    @include button(solid, square, 1);
    margin: 10px 0;
  }

  &__title {
    @include text-title;
    text-align: center;
    margin: 0 0 60px;
  }

  &__note {
    @include font-header(500);
    @include text(20px, 30px, $color-title, 1px);
    text-align: center;
    margin: 30px auto;

    a {
      @include underline;
      color: $color-main-1;
    }
  }

  &__table {
    td {
      @include text(16px, 20px, $color-body-text);
      padding: 20px 10px;
      border-bottom: 1px solid $color-theme-6;
      text-align: center;
    }

    th {
      @include font-header(700);
      @include text(16px, 20px, $color-body-text, 2px);
      border-bottom: 1px solid $color-theme-6;
      padding: 10px;
      text-align: center;
    }

    &-product-image-wrap {
      margin: 0 auto;
      text-align: center;

      img {
        margin: auto;
        object-fit: cover;
        object-position: top;
        max-width: 128px;
      }
    }

    &-product-title-wrap {
      display: block;
      max-width: 140px;
      margin: 0 auto 5px;
    }

    &-product-title {
      @include font-header(500);
      @include text(14px, 20px, $color-body-text, 1px);
    }

    &-product-info {
      @include font-header;
      @include text(14px, 20px, $color-body-text);
    }

    &-remove-wrap {
      margin: 10px 0 0;
    }

    &-remove {
      @include font-header(500);
      @include text(14px, 20px, $color-main-2, 1px);
      @include underline($color-main-2);
    }

    &-qty-wrap {
      position: relative;
      padding: 0;
      margin: 0;
      display: inline-block;

      &::after {
        @include text(22px, 1, $color-body-text);
        content: "\203A";
        position: absolute;
        right: 5px;
        top: 3px;
        display: block;
        transform: rotate(90deg);
        pointer-events: none;
      }
    }

    &-qty-select {
      @include no-browser-styling;
      @include text(14px, 20px, $color-body-text, 1px);
      padding: 3px 25px 3px 10px;
      cursor: pointer;
      border: 1px solid $color-theme-6;
      appearance: none;
    }

    &-cell::before {
      display: none;
    }
  }

  &__totals-wrap {
    text-align: right;
  }

  &__totals-text {
    @include font-header(500);
    @include text(14px, 20px, $color-body-text, 1px);
    display: inline-block;
    margin: 0 40px 0 0;
  }

  &__totals-value {
    @include font-header(700);
    @include text(14px, 20px, $color-body-text, 1px);
    text-transform: uppercase;
    display: inline-block;
  }

  &__info {
    padding: 30px 0 0;

    &-totals {
      @include clearfix;
    }

    &-totals-left {
      text-align: right;
      margin: 0 20px 40px 0;
      width: calc(70% - 20px);
      float: left;
    }

    &-totals-right {
      text-align: right;
      margin: 0 0 40px 20px;
      width: calc(30% - 20px);
      float: left;
    }

    &-checkout-wrap {
      margin: 0 0 15px;
      text-align: right;

      .cart-checkout {
        margin: 0 0 0 auto;
      }
    }

    &-notes {
      margin: 0 0 30px;
    }

    &-notes-label {
      @include font-header(500);
      @include text(11px, 17px, $color-body-text);
      margin: 0 0 20px;
      display: block;
    }

    &-tax-note {
      // @include paragraph-s;
      text-align: right;
      margin: 0 0 25px;
    }
  }

  @include media-query($large-down) {
    padding: 40px 0 60px;
    min-height: 1px;
  }

  @include media-query($small) {
    &__table {
      &-product-image-wrap {
        margin: 0 auto;
        text-align: center;
        img {
          max-width: 100%;
        }
      }
    }
  }
}
